.container {
    transform: rotate(-90deg);
    background-color: transparent !important;
}

.background,
.foreground {
    fill: none;
}

.background {
    stroke: var(--color-mediumgray);
}
:global(.dark-mode) .background {
    stroke: var(--color-gray);
}

.foreground {
    
}

.complete {
    stroke: var(--color-darkgreen);
}

.pending,
.generic {
    stroke: var(--color-primary);
}

.error {
    stroke: var(--color-danger);
}
