.inputWithIcon {
  position: relative;
}

.inputWithIcon input {
  padding-right: calc(var(--spacing-default) * 2 + 18px);
}

.action {
  color: var(--color-blue);
  font-size: var(--size-smaller);
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.sendToSelf {
  color: var(--color-blue);
}

.qrButton {
  align-items: center;
  background-color: transparent;
  bottom: 0;
  border: none;
  cursor: pointer;
  display: flex;
  height: var(--input-height);
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 0.75rem;
  width: 36px;
}

.qrButton img {
  width: 1.8rem;
  height: 1.8rem;
}

.withDropdown {
  left: 8px;
  margin-top: 3px;
}