.action {
  color: var(--color-blue);
  font-size: var(--size-smaller);
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.sendToSelf {
  color: var(--color-blue);
}
