.settingsItemButton {
  background-color: transparent !important;
  border: none;
  display: flex;
  margin-bottom: var(--space-half);
  height: auto;
  padding: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .settingsItemButton {
    margin-bottom: 5px;
  }
}

.settingsItemButton > * {
  margin-bottom: 0;
}

.chevronRight {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: var(--space-quarter);
  top: 3px;
}

.ejectIconRight {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: var(--space-half);
  top: 3px;
}