.settingsItemButton {
  background-color: transparent !important;
  border: none;
  display: flex;
  margin-bottom: var(--space-half);
  height: auto;
  padding: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .settingsItemButton {
    margin-bottom: 5px;
  }
}

.settingsItemButton > * {
  margin-bottom: 0;
}