.container {
    min-height: var(--item-height-xlarge);
    width: 100%;
    min-width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-align:left;
    border: none;
    background-color: var(--background-secondary);
    font-size: var(--size-default);
    font-weight: 400;
    padding: 16px 24px;
    color: var(--color-dark);
    margin-bottom: var(--space-half);
}

.chevronRight {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: var(--space-half);
    top: 3px;
}

.content {
    flex-shrink: 1;
    max-width: 75%;
}

.primaryText {
    color: var(--color-default);
    font-size: 16px;
    margin: 0;
}

.isButton {
    position: relative;
}

.isButton:hover {
    cursor: pointer;
}


.rightContentContainer {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.extraPadding {
    padding-right: var(--space-half);
}

.displayedValue {
    color: var(--color-secondary);
    font-size: 14px;
    margin: 0;
    padding-left: var(--space-half);
    padding-right: 0;
    user-select: none;
    -webkit-user-select: none;
}

button .displayedValue {
    padding-right: var(--space-quarter);
}

.displayedValue.withMargin {
    margin-right: var(--space-quarter);
    padding-right: 0;
}

.secondaryText {
    color: var(--color-secondary);
    font-size: 14px;
    margin: 0;
    margin-top: var(--space-quarter);
}

.nowrap {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .container {
        min-height: auto;
        margin-bottom: 5px;
        min-width: 100%;
        padding-left: var(--space-half);
        padding-right: var(--space-half);
    }

    .chevronRight {
        right: var(--space-quarter);
    }

    .secondaryText {
        display: none;
    }
}

@media (max-width: 560px) {

    .container.collapse {
        align-items: start;
        flex-direction: column;
    }

    .container.collapse .displayedValue.withMargin {
        margin-right: 0;
    }

    .container.collapse .rightContentContainer {
        width: 100%;
        justify-content: flex-start;
    }

    .hideDisplayedValueOnSmall {
        display: none;
    }

}
