.message {
    align-items: flex-start;
    border: solid 1px var(--background-quaternary);
    border-radius: var(--radius-xl);
    color: var(--color-default);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-start;
    margin-bottom: var(--space-half);
    overflow: hidden;
    padding: var(--space-half);
    text-align: left;
}

.content {
    padding-top: 2px;
    width: 100%;
}

.message img {
    margin-right: var(--space-quarter);
    max-width: var(--size-header);
}

.message p:last-child {
    margin-bottom: 0 !important;
}

.success {
    composes: message;
    background-color: var(--color-success-background);
    border-color: var(--color-success-border);
}

.info {
    composes: message;
    background-color: var(--color-info-background);
    border-color: var(--color-info-border);
}

.warning {
    composes: message;
    background-color: var(--color-warning-background);
    border-color: var(--color-warning-border);
}

.error {
    composes: message;
    background-color: var(--color-error-background);
    border-color: var(--color-error-border);
}
