.message {
    border: solid 1px var(--background-quaternary);
    color: var(--color-secondary);
    border-radius: 2px;
    padding: var(--spacing-default);
    margin-bottom: var(--spacing-default);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    overflow: hidden;
}

.message img {
    margin-right: var(--spacing-default);
}

.message p:last-child {
    margin-bottom: 0 !important;
}

.success {
    composes: message;
    color: var(--color-success);
    border-color: var(--color-success);
}

.info {
    composes: message;
    color: var(--color-blue);
    border-color: var(--color-blue);
}

.warning {
    composes: message;
    color: var(--color-warning);
    border-color: var(--color-warning);
}

.error {
    composes: message;
    color: var(--color-error);
    border-color: var(--color-error);
}
