.filters {
    background: var(--background-secondary);
    margin-bottom: var(--space-default);
    padding: var(--space-half) var(--space-default);
}

.filters h4 {
    margin-top: var(--spacing-default);
}

.filters button {
    cursor: pointer !important;
    margin-bottom: var(--space-half);
    margin-right: var(--space-half);
}

.filters button:focus {
    outline: none;
}

.regions {
    margin-bottom: var(--space-half);
}

.methods {
}

.results {

}

.row {
    align-content: stretch;
    align-items: stretch;
    background: var(--background-secondary);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1px;
}

.image {
    background-position: var(--space-default);
    background-repeat: no-repeat;
    background-size: 180px;
    flex-basis: 240px;
    flex-shrink: 0;
    padding: var(--space-default);
}

.image img {
    display: block;
    max-width: 100%;
}

.description {
    flex-grow: 1;
    margin-right: var(--space-default);
    padding: var(--space-default);
    text-decoration: none !important;
}

.button {
    align-items: center;
    display: flex;
    padding: var(--space-default);
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        margin-bottom: var(--space-default);
    }
    .image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        flex-basis: auto;
        margin: var(--space-default);
        height: 113px;
        width: 280px;
    }
    .description {
        padding-top: 0;
        padding-bottom: var(--space-half);
    }
    .button {
        align-self: flex-end;
        padding-top: 0;
        text-align: right;
    }
}

@media (max-width: 560px) {
    .filters button {
        width: 100%;
    }
}

:global(.exchange-hostname) {
    color: var(--color-secondary);
    padding-top: calc(var(--space-half) * .5);
}

.row:hover :global(.exchange-hostname) {
    text-decoration: underline;
}




.logo-bisq {
    background-image: url(../../assets/exchanges/logos/bisq.png);
}

.logo-bitcoin_suisse {
    background-image: url(../../assets/exchanges/logos/bitcoin_suisse.png);
}

.logo-bitdroplet {
    background-image: url(../../assets/exchanges/logos/bitdroplet.png);
}

.logo-bitstamp {
    background-image: url(../../assets/exchanges/logos/bitstamp.png);
}

.logo-bity {
    background-image: url(../../assets/exchanges/logos/bity.png);
}

.logo-bullbitcoin {
    background-image: url(../../assets/exchanges/logos/bullbitcoin.png);
}

.logo-coinmama {
    background-image: url(../../assets/exchanges/logos/coinmama.png);
}

.logo-defi_saver {
    background-image: url(../../assets/exchanges/logos/defi_saver.png);
}

.logo-exmo {
    background-image: url(../../assets/exchanges/logos/exmo.png);
}

.logo-hodlhodl {
    background-image: url(../../assets/exchanges/logos/hodlhodl.png);
}

.logo-kraken {
    background-image: url(../../assets/exchanges/logos/kraken.png);
}

.logo-kyberswap {
    background-image: url(../../assets/exchanges/logos/kyberswap.png);
}

.logo-localcryptos {
    background-image: url(../../assets/exchanges/logos/localcryptos.png);
}

.logo-luno {
    background-image: url(../../assets/exchanges/logos/luno.png);
}

.logo-myetherwallet {
    background-image: url(../../assets/exchanges/logos/myetherwallet.png);
}

.logo-oasis_dex {
    background-image: url(../../assets/exchanges/logos/oasis_dex.png);
}

.logo-paxful {
    background-image: url(../../assets/exchanges/logos/paxful.png);
}

.logo-paybtc {
    background-image: url(../../assets/exchanges/logos/paybtc.svg);
}

.logo-river_financial {
    background-image: url(../../assets/exchanges/logos/river_financial.png);
}

.logo-riverfinancial {
    background-image: url(../../assets/exchanges/logos/riverfinancial.png);
}

.logo-shapeshift {
    background-image: url(../../assets/exchanges/logos/shapeshift.png);
}

.logo-xsats {
    background-image: url(../../assets/exchanges/logos/xsats.png);
}

.logo-swan_bitcoin {
    background-image: url(../../assets/exchanges/logos/swan_bitcoin.png);
}
