.inlineMessage {
	position: relative;
	padding: var(--spacing-default) 42px var(--spacing-default) var(--spacing-default);
	border-radius: 3px;
}

.inlineMessage.success {
	background-color: var(--color-success);
	color: var(--color-alt);
}

.inlineMessage.left {
	text-align: left;
}

.close {
	position: absolute;
	top: var(--spacing-default);
	right: var(--spacing-default);
	line-height: 1;
	cursor: pointer;
}
