.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 0;
    transition: opacity .2s ease-out;
    will-change: opacity;
}

.overlay.active {
    z-index: 2001;
    opacity: 1;
}

.modal {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: white;
    width: 480px;
    border-radius: 2px;
    padding: var(--spacing-large);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    max-height: 100vh;
    overflow: auto;
}

.small {
    width: 280px;
}

.modal.active {
    bottom: 50%;
}

.modal .modalHeader {
    margin: 0;
}

.modal .modalContent {
    margin-top: var(--spacing-default);
}

.modal .modalContent .buttons button:not(:last-child) {
    margin-right: var(--spacing-half);
}

.modal .modalContent .buttons {
    margin-top: var(--spacing-large);
}

.confirmationLabel {
    margin-bottom: var(--spacing-half);
    margin-top: var(--spacing-default);
    line-height: var(--size-label);
}

.confirmationInstructions {
    /* margin-top: var(--spacing-half); */
    margin-top: 0;
}

.confirmationInstructions > div {
    
}

.confirmationInstructions p {
    line-height: 1;
}

.image {
    height: 40px;
    margin-right: var(--spacing-default);
}
