.title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: var(--space-default);
    text-align: center;
}

.label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-gray-alt);
    line-height: 18px;
    margin: 0;
    margin-bottom: var(--space-eight);
}

.invoiceSummary {
    margin: var(--space-half) 0;
}

.btnIcon {
    margin-right: var(--space-quarter);
    max-width: 1rem;
    vertical-align: top;
}

.hiddenInput {
    height: 0;
    opacity: 0;
    padding: 0;
    width: 0;
}
