/backend/handlers/assets.go
/backend/devices/bitbox/assets.go
/cache
/cmd/playground/
/config.json
/config/certificates/frontend/
/frontends/qt/server/server.h
/frontends/qt/server/server.a
/frontends/qt/build/
/frontends/web/build/
/frontends/web/node_modules/
/frontends/web/.eslintcache
/vendor/
**/*/output.log

.DS_Store
