/backend/handlers/assets.go
/backend/devices/bitbox/assets.go
/cache
/cmd/playground/
/config.json
/frontends/qt/assets.qrc
/frontends/qt/server/libserver.h
/frontends/qt/server/server.h
/frontends/qt/server/server.a
/frontends/qt/build/
/frontends/web/build/
/frontends/web/node_modules/
/frontends/web/.eslintcache
/vendor/
**/*/output.log
.vscode/
frontends/qt/bitbox.db
frontends/qt/config/
frontends/web/yarn-error.log
log/

.DS_Store
