/backend/handlers/assets.go
/bitbox.db
/cmd/playground/
/config/certificates/frontend/
/devices/bitbox/assets.go
/frontends/qt/server/server.h
/frontends/qt/server/server.a
/frontends/qt/build/
/frontends/web/build/
/frontends/web/node_modules/
/vendor/
**/*/output.log
