image: Visual Studio 2019

environment:
  nodejs_version: "20"
  matrix:
    - QT: C:\Qt\5.15.2\msvc2019_64
      # As installed by `choco`
      GOROOT: C:\Program Files\Go
      GOPATH: C:\gopath\
      GOTOOLCHAIN: local
      PLATFORM: amd64
      COMPILER: msvc

install:
  - ps: Install-Product node $env:nodejs_version
  - git submodule update --init --recursive

matrix:
  fast_finish: true

before_build:
  - set PATH=%QT5%\bin;C:\Qt\Tools\QtCreator\bin\;%GOROOT%\bin;C:\gopath\bin\;C:\Qt\5.15.2\msvc2019_64\bin\;C:\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\bin;C:\MinGW\bin;%PATH%
  - set MINGW_BIN=/c/mingw-w64/x86_64-8.1.0-posix-seh-rt_v6-rev0/mingw64/bin

build_script:
  - echo on
  - choco install go --version=1.22.6
  - go version
  - go env
  - choco install make
  - choco install nsis -pre
  - mkdir %GOPATH%\src\github.com\BitBoxSwiss
  - cd ..
  - mv bitbox-wallet-app %GOPATH%\src\github.com\BitBoxSwiss\
  - cd %GOPATH%\src\github.com\BitBoxSwiss\bitbox-wallet-app\
  - make qt-windows
  - cd frontends/qt
  - makensis setup.nsi

# Upload build artifacts but only for commits pushes, no pull requests.
after_build:
# %APPVEYOR_BUILD_FOLDER% is the path to the git clone.
- mkdir %APPVEYOR_BUILD_FOLDER%
# Copy build artifacts back to the git clone dir because they can only be
# relative to that folder.
- cp %GOPATH%\src\github.com\BitBoxSwiss\bitbox-wallet-app\frontends\qt\BitBox-installer.exe %APPVEYOR_BUILD_FOLDER%\BitBox-installer.exe
- appveyor PushArtifact %APPVEYOR_BUILD_FOLDER%\BitBox-installer.exe
