image: Visual Studio 2017

environment:
  matrix:
    - QT: C:\Qt\5.11.2\msvc2017_64
      GO: C:\go
      GOPATH: C:\gopath\
      PLATFORM: amd64
      COMPILER: msvc

matrix:
  fast_finish: true

before_build:
  - set PATH=%QT5%\bin;C:\Qt\Tools\QtCreator\bin\;%GO%\bin;C:\gopath\bin\;C:\Qt\5.11.2\msvc2017_64\bin\;C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\bin;C:\MinGW\bin;%PATH%
  - set MINGW_BIN=/c/mingw-w64/x86_64-7.3.0-posix-seh-rt_v5-rev0/mingw64/bin

build_script:
  - echo on
  - choco install make
  - choco install nsis -pre
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
  - mkdir %GOPATH%\src\github.com\digitalbitbox
  - cd ..
  - mv bitbox-wallet-app %GOPATH%\src\github.com\digitalbitbox\
  - cd %GOPATH%\src\github.com\digitalbitbox\bitbox-wallet-app\
  - yarn --cwd=frontends/web install
  - yarn --cwd=frontends/web run build
  - cd frontends/qt/server/
  - make -f Makefile.windows windows-legacy
  - cd ..
  - mkdir build
  - cd build
  - qmake ..\BitBox.pro
  - nmake
  - cd ..
  - bash windows_post.sh
