.container {
    align-items: center;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-height: 100vh;
    overflow: auto;
    padding: 0 var(--space-half);
}

.scrollable {
    overflow: auto;
    /*padding-bottom: var(--space-half);*/
}

.agreements {
    margin-bottom: var(--space-half);
}

.agreementsLabel {
    margin: var(--space-quarter) 0;
}

.title {
    margin-top: 0;
    margin-bottom: var(--space-default);
    font-weight: 400;
}

.summary {
    margin: var(--space-default) auto;
    max-width: 450px;
}

.summary li {
    margin-bottom: var(--space-half);
}

.list {
    padding-left: 18px;
}

.list li:not(:first-child) {
    margin-top: var(--space-quarter);
}
