.sidebar {
    align-content: stretch;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    padding: 0 0 var(--spacing-large) 0;
    width: var(--sidebar-width);
    z-index: 4001;
    overflow-y: auto;
    transition: width 0.2s ease;
}

.sidebarLogoContainer {
    padding: var(--spacing-large) 0 var(--spacing-large) 0;
    /* background-color: rgba(0, 0, 0, 0.05); */
}

.sidebar .sidebarLogoContainer {
    display: block;
    width: 134px;
    height: auto;
    background-size: cover;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.sidebarLogoContainer img {
    margin-bottom: 0;
    width: 100px !important;
}

.sideBarItem {
    position: relative;
    display: block;
}

.sidebar a {
    position: relative;
    border-right: 0 solid var(--color-gray);
    color: white;
    cursor: default;
    display: block;
    padding: var(--spacing-half) 0;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

a.sidebar-active {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar a::after {
    content: '';
    position: absolute;
    display: block;
    border-right: 6px solid var(--color-white);
    border-top: var(--spacing-half) solid transparent;
    border-bottom: var(--spacing-half) solid transparent;
    height: calc(100% - var(--spacing-default));
    width: 0;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
}

.sidebar a.sidebar-active::after {
    right: 0;
}

a.sidebar-active .sidebar_label,
.sidebar a:hover .sidebar_label {
    /*font-weight: bold;*/
    color: var(--color-white);
}

a.sidebar-active .stacked img:first-child,
.sidebar a:hover .stacked img:first-child {
    opacity: 0;
}

a.sidebar-active .stacked img:last-child,
.sidebar a:hover .stacked img:last-child {
    opacity: 1;
}

.stacked {
    position: relative;
}

.stacked img {
    transition: opacity 0.2s ease;
}

.stacked img:last-child {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar img {
    width: 34px;
    height: auto;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.single img {
    opacity: .6;
    transition: opacity 0.2s ease;
}

a.sidebar-active .single img,
.sidebar a:hover .single img {
    opacity: 1;
}

.sidebar_label {
    display: block;
    color: var(--color-secondary);
    font-size: 12px;
    line-height: 1;
    transition: all 0.2s ease;
}

.sidebar_drawer {
    align-self: stretch;
    flex-grow: 1;
}

.sidebar_bottom {
    padding: var(--spacing-half) 0 0 0;
    text-align: center;
}

@media (min-width: 1000px) {
    .sidebar:not(.withGuide) {
        width: var(--sidebar-width-large);
    }

    .sidebar:not(.withGuide) a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar:not(.withGuide) a.sidebar-active {
        /*background-color: #444;*/
    }

    .sidebar:not(.withGuide) .stacked,
    .sidebar:not(.withGuide) .single {
        margin: 0 var(--spacing-half) 0 var(--spacing-default);
    }

    .sidebar:not(.withGuide) .stacked img,
    .sidebar:not(.withGuide) .single img {
        display: inherit;
    }

    .sidebar:not(.withGuide) .sidebar_label {
        flex: 1;
        padding-top: 0;
        font-size: var(--size-small);
        text-align: left;
    }

    .sidebar:not(.withGuide) a.sidebar-active .sidebar_label {
        font-weight: bold;
    }
}

@media (min-width: 1400px) {
    .sidebar {
        width: var(--sidebar-width-large);
    }

    .sidebar a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar a.sidebar-active {
        /*background-color: #444;*/
    }

    .sidebar .stacked,
    .sidebar .single {
        margin: 0 var(--spacing-half) 0 var(--spacing-default);
    }

    .sidebar .stacked img,
    .sidebar .single img {
        display: inherit;
    }

    .sidebar .sidebar_label {
        flex: 1;
        padding-top: 0;
        font-size: var(--size-small);
        text-align: left;
    }

    .sidebar a.sidebar-active .sidebar_label {
        font-weight: bold;
    }
}

@media (max-width: 1000px) {
    .sidebar {
        padding-top: var(--spacing-large);
    }
    .sidebar .sidebarLogoContainer {
        display: none;
    }
  }

  @media (max-width: 1400px) {
    .sidebar.withGuide {
        padding-top: var(--spacing-large);
    }
    .sidebar.withGuide .sidebarLogoContainer {
        display: none;
    }
  }