.closeButton {
    background: transparent;
    border: none;
    display: none;
    padding: 12px;
    transform: translateX(14px);
}

.closeButton:focus{
    outline: none;
}

.sidebarOverlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    animation-delay: 0.2s;
    transition: opacity ease 0.2s;
}

.sidebarOverlay.active {
    opacity: 1;
    z-index: 4001;
}

.sidebar {
    position: fixed;
    margin-left: calc(var(--sidebar-width-large) * -1);
    align-content: stretch;
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    height: 100vh;
    padding: 0 0 var(--spacing-default) 0;
    width: var(--sidebar-width-large);
    z-index: 4002;
    overflow-y: auto;
}

.sidebar > *.end {
    margin-top: auto;
    padding-top: var(--sidebar-margin);
}

.sidebar.forceShow {
    margin-left: 0;
}

.sidebar .sidebarLogoContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    padding: calc(var(--spacing-default) + var(--spacing-half)) var(--spacing-large);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.2s ease;
}

.sidebarLogoContainer img {
    margin-bottom: 0;
    width: auto !important;
    height: var(--sidebar-icon-size) !important;
}

.sidebarHeaderContainer {
    margin-top: var(--sidebar-margin);
    margin-bottom: var(--sidebar-header-size);
    padding: 0 var(--sidebar-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sidebarPortfolio + .sidebarHeaderContainer {
    margin-top: 28px;
}

.sidebarHeader {
    font-size: var(--sidebar-header-size);
    line-height: var(--sidebar-header-line-height);
    color: var(--color-secondary);
}

.sidebarIconVisible {
    visibility: visible;
}

.sidebarIconHidden {
    visibility: hidden;
}

.sidebarItem {
    display: block;
}

.sidebarItem > a,
.sidebarItem > button {
    background-color: transparent;
    align-items: center;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: flex;
    flex-direction: row;
    min-height: var(--sidebar-item-height);
    justify-content: center;
    position: relative;
    text-decoration: none;
}

.sidebarItem > button:not([disabled]):hover {
    background-color: transparent;
}

.sidebarItem a.sidebarActive {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebarItem :global(.stacked),
.sidebarItem .single {
    margin: 0 var(--sidebar-icon-margin) 0 var(--sidebar-margin);
    height: var(--sidebar-icon-size);
}

a.sidebarActive .sidebarLabel,
.sidebar a:hover .sidebarLabel {
    color: var(--color-alt);
}

.sidebar a.sidebarActive .sidebarLabel {
    font-weight: normal;
}

a.sidebarActive :global(.stacked) img:first-child,
.sidebar a:hover :global(.stacked) img:first-child {
    opacity: 0;
}

a.sidebarActive :global(.stacked) img:last-child,
.sidebar a:hover :global(.stacked) img:last-child {
    opacity: 1;
}

.sidebar img {
    width: var(--sidebar-icon-size);
    height: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.single img {
    opacity: .6;
    transition: opacity 0.2s ease;
    vertical-align: top;
}

a.sidebarActive .single img,
.sidebar a:hover .single img {
    opacity: 1;
}

.sidebarLabel {
    background-color: transparent;
    color: var(--color-light);
    line-height: 1;
    flex: 1;
    padding-top: 0;
    padding-right: 16px;
    font-size: var(--size-default);
    font-weight: 400;
    /* transition: all 0.2s ease; /* TODO: why all, what is this even supposed to be transitioning */
    word-break: break-word;
}

@media (max-width: 1199px) {
    .sidebar {
        transition: margin-left 0.2s ease;
    }
}

@media (min-width: 1200px) {
    .sidebarContainer:not(.forceHide) .sidebar {
        position: relative;
        margin-left: 0;
        width: var(--sidebar-width-large);
    }
}

@media (max-width: 560px) {
    .closeButton {
        display:block;
    }

    .sidebar {
        margin-left: -100vw;
        transition: margin-left 0.3s ease;
        width: 100vw;
    }
}

.closeSoftwareKeystore {
    display: flex;
    padding: 0;
    text-align: left;
    width: 100%;
}
