.sidebar {
  align-content: stretch;
  background: var(--background-sidebar);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  padding: var(--spacing-large) 0;
  overflow-y: scroll;
}

.sideBarItem {
  position: relative;
  display: block;
  text-align: left;
  white-space: nowrap;
}

.sidebar a {
  color: white;
  display: block;
  padding: var(--spacing-half) var(--spacing-default);
  position: relative;
}

a.sidebar-active {
  text-decoration: none;
  transition: filter 0.1s ease-out;
  background-color: rgba(255, 255, 255, 1);
}

.sidebar a:not(.sidebar-active) {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.sidebar img {
  max-width: 40px;
  transition: transform .1s ease-out;
}

.sidebar a:not(.sidebar-active) img {
  transform: scale(.9, .9);
}

.sidebar_label {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-bottom;
  width: 0;
  text-indent: 16px;
}

.sidebar_drawer {
  align-self: stretch;
  flex-grow: 1;
}

.sidebar_bottom {
  padding: 0;
  text-align: center;
}

.sidebar_settings {
  width: 40px;
}
