.sidebar {
  align-content: stretch;
  background-color: var(--color-sidebar);
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-default);
}

.sidebar a {
  color: white;
  display: block;
  padding: 6px 16px;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

a.sidebar-active {
  text-decoration: none;
  transition: filter .1s ease-out;
}

.sidebar a::after {
  background-color: #FAFAFA;
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 40px;
  width: 12px;
  top: 12px;
  right: 0;
  position: absolute;
  transform: translateX(16px);
  transition: transform .2s ease-out;
}

a.sidebar-active::after  {
  transform: translateX(6px);
}

.sidebar a:not(.sidebar-active) {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.sidebar img {
  max-width: 50px;
  vertical-align: middle;
  transition: transform .1s ease-out;
}

.sidebar a:not(.sidebar-active) img {
  transform: scale(.9, .9);
}

.sidebar_label {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-bottom;
  width: 0;
  text-indent: 16px;
}

.sidebar_drawer {
  align-self: stretch;
  flex-grow: 1;
}

.sidebar_bottom {
  padding: 0 0 1rem 0;
  text-align: center;
}

.sidebar_settings {
  width: 50px;
}
