.container {
  margin: calc(var(--space-default) * 1.5) 0;
}

.columns {
  align-items: center;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1px;
  width: 100%;
}

.headers {
  font-weight: bold;
  height: 48px;
}

.columns >  *,
.columnGroup > * {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--size-default);
  padding: 0 var(--space-quarter);
}

.columnGroup {
  width: 100%;
  padding: 0;
}

.type {
  min-width: 54px;
  width: 54px;
  justify-content: center;
}

.date {
  min-width: 98px;
  width: 98px;
}

.activity {
  min-width: 334px;
  width: 334px;
  text-align: left;
}

.currency {
  justify-content: flex-end;
}

.empty {
  background-color: var(--background-secondary);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.empty p {
  font-size: var(--size-default);
  font-weight: 400;
  color: var(--color-secondary);
}

@media (min-width: 1081px) and (max-width: 1199px), (min-width: 1323px) {
  .activity {
    padding: var(--space-quarter) 0;
  }
}

@media (max-width: 1080px), (min-width: 1200px) and (max-width: 1322px) {
  .showOnMedium {
    display: none;
  }

  .columns {
    flex-direction: column;
    justify-content: center;
  }

  .columnGroup:last-child {
    margin-top: var(--space-quarter);
  }

  .type {
    min-width: 36px;
    width: 36px;
    justify-content: flex-start;
  }

  .date {
    min-width: 126px;
    width: 126px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: var(--space-default) 0;
  }

  .currency {
    min-width: 0;
    width: auto;
  }
}

@media (max-width: 666px) {
  .columns >  *,
  .columnGroup > * {
    padding: 0 var(--space-eight);
  }

  .type {
    min-width: 26px;
    width: 26px;
  }

  .activity {
    min-width: 0;
    width: auto;
  }

  .date {
    min-width: 80px;
    width: 80px;
  }
}
