.container {
    margin: 0 0 1px 0;
}

.row {
    background-color: var(--background-secondary) !important;
    min-height: 52px;
}

.row * {
    font-size: var(--size-default);
    font-weight: 400;
}

.date {

}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
}

.description .badge {
    margin-left: 5px;
    color: var(--color-secondary);
}

.amount {
    font-variant: tabular-nums;
    max-width: 100%;
}

.amountOverflow {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

/* invisible element that creates the exact space for the used unit */
.amountOverflow::after {
    content: attr(data-unit);
    color: transparent;
}

.send {
    color: var(--color-softred) !important;
}

.receive {
    color: var(--color-success);
}

.currency {
    font-variant: tabular-nums;
}

.currencyUnit {
    color: var(--color-secondary);
    font-variant: normal;
}

.amountOverflow .currencyUnit {
    position: absolute;
    right: 0;
    top: 0;
}

.columnLabel {
    color: var(--color-secondary);
    font-size: var(--size-default);
}

.columnLabel {
    margin-right: var(--space-quarter);
}

.columnLabel {
    display: none;
}

@media (max-width: 1080px), (min-width: 1200px) and (max-width: 1322px) {
    .container {
        margin: 0 0 var(--space-quarter) 0;
    }

    .container.first {
        
    }
    
    .row {
        height: auto;
        padding: var(--space-half);
    }

    .columnLabel {
        display: inline;
    }
}

@media (max-width: 666px) {
    .columnLabel {
        display: none;
    }

    .row {
        padding: var(--space-half) var(--space-quarter);
    }
}

@media (max-width: 560px) {
    .description {
        display: none;
    }
}