.footer {
    min-height: 2rem;
    padding: var(--spacing-half) var(--spacing-default);
}

.footer p {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: var(--size-small);
    margin: 0;
    text-transform: uppercase;
}

.footer img {
    max-width: 120px;
    margin: 0 auto 0 0;
}
