<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- needed for QtWebEngine, otherwise there is a gray screen at launch -->
    <!-- all these are copied from QtWebEngineCore.framework/Helpers/QtWebEngineProcess.app/Contents/Resources/QtWebEngineProcess.entitlements. -->
    <!-- see https://doc.qt.io/qt-6/qtwebengine-deploying.html#macos-specific-deployment-steps -->
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key>
    <true/>
    <key>com.apple.security.cs.disable-library-validation</key>
    <true/>
    <key>com.apple.security.cs.allow-jit</key>
    <true/>
    <key>com.apple.security.cs.disable-executable-page-protection</key>
    <true/>

    <!-- needed for USB HID access, who knows why -->
    <key>com.apple.security.cs.allow-dyld-environment-variables</key>
    <true/>

    <!-- the QR code scanner works even without this. We add it just in case it might be enforced on some systems or in the future. -->
    <key>com.apple.security.device.camera</key>
    <true/>
    <!-- the USB HID access works even without this. We add it just in case it might be enforced on some systems or in the future. -->
    <key>com.apple.security.device.usb</key>
    <true/>
  </dict>
</plist>
