<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>BitBoxApp</string>

	<key>CFBundleExecutable</key>
	<string>BitBox</string>

	<key>CFBundleGetInfoString</key>
	<string>BitBoxApp by Shift Crypto</string>

	<key>CFBundleIconFile</key>
	<string>icon.icns</string>

	<key>CFBundleIdentifier</key>
	<string>ch.shiftcrypto.wallet</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleVersion</key>
	<string>4.49.0</string>

	<key>CFBundleShortVersionString</key>
	<string>4.49.0</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>

	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>

	<key>NSCameraUsageDescription</key>
	<string>The camera is used to scan QR codes of receive addresses.</string>

	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ch.shiftcrypto.wallet</string>

			<key>CFBundleURLSchemes</key>
			<array>
				<string>aopp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
