.stepContext {
    margin: var(--space-default) 0;
}

.backupsList {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    padding: var(--space-eight);
}

.listContainerWrapper {
    position: relative;
}

.listContainerWrapper.showFade::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 48px;
    background: linear-gradient(to bottom, transparent, var(--background));
    pointer-events: none;
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-quarter);
    max-height: 45vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: var(--space-half);
    position: relative;
    width: 100%;
}

.item {
    background: var(--background-secondary);
    border-radius: var(--radius-xl);
    width: 100%;
    padding: var(--space-quarter) var(--space-half);
}

.item:not(:first-child) {
    border-top: solid 1px var(--background);
}

.item label {
    margin-bottom: 0 !important;
}

.agreements {
    margin-bottom: 16px;
}

.emptyText {
    text-align: center;
    color: var(--color-secondary);
    padding: var(--space-default) 0;
}

.backupItem + label {
    color: var(--color-default);
    word-break: break-all;
}

.backupID {
    word-break: break-all;
    margin-bottom: var(--space-quarter);
    font-size: var(--size-smaller);
    color: var(--color-secondary);
}

.backupButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: var(--space-default);
}

@media (min-width: 769px) {
    .backupButtons > *:not(:first-child) {
        margin-right: var(--space-half);
    }
}

@media (max-width: 768px) {
    .backupButtons {
        align-items: stretch;
        flex-direction: column;
        margin-top: var(--space-default);
    }

    .backupButtons > *:not(:first-child) {
        margin-top: var(--space-half);
    }
}
