.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-quarter);
}

.label {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.maxButton {
    color: var(--color-gray);
    font-size: var(--size-small);
    min-height: auto;
    padding: 0;
}