.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-quarter);
}

.label {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.maxButton {
    color: var(--color-gray);
    display: flex;
    font-size: var(--size-small);
    gap: 0.4ch;
    min-height: auto;
    padding: 0;
}

.flipContainer {
  text-align: center;
}

.flipAcconutsButton {
  margin-left: -21px;
  margin-top: -10px;
  min-height: auto;
  padding: var(--space-quarter);
  position: absolute;
  text-align: center;
}

.flipAcconutsIcon {
  display: inline-block;
  transform: rotate(90deg);
}

.swapButtonContent {
  align-items: center;
  display: inline-flex;
  gap: var(--space-quarter);
  justify-content: center;
}

.swapButtonSpinner {
  display: inline-flex;
}

.swapButtonSpinner img {
  height: 14px;
  width: 14px;
}
