/* TODO: should be its own class also used in device-name-settings */
.inputError > div,
.inputError > div:focus-within {
  border-color: var(--color-danger);
}

.inputError {
  margin-bottom: 0;
}

.errorMessage {
  color: var(--color-danger);
  display: block;
  font-size: var(--size-default);
  padding-top: var(--space-quarter);
}

.errorMessage[hidden] {
  display: none;
}
