.button {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-primary);
    font-size: var(--size-small);
    top: -.5rem;
    margin-bottom: calc(var(--spacing-half) / 2);
    cursor: pointer;
    user-select: none;
}

.button img {
  margin-right: 4px;
  height: 14px;
}