:root {
    --icon-size: 24px;
}

.steps {
    display: inline-flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.divider {
    margin: 0 var(--spacing-half);
    color: rgba(0, 0, 0, .25);
}

.step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    text-align: left;
}

.step:first-child {
    border-radius: 2px 0 0 2px;
}

.stepIcon {
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    font-size: 14px;
    height: var(--icon-size);
    width: var(--icon-size);
    line-height: var(--icon-size);
    text-align: center;
    transition: background-color .3s, border-color .3s;
    vertical-align: top;
}

.wait .stepIcon {
    border: 1px solid rgba(0, 0, 0, .25);
}

.stepIcon > span {
    line-height: 1;
    top: -1px;
    position: relative;
}

.stepIcon > img {
    width: 100%;
    height: 100%;
}

.stepContent {
    position: relative;
    line-height: 1;
    margin: 0 0 0 var(--spacing-half);
    font-size: var(--size-small);
    width: min-content;
    min-width: 78px;
}

.title {
    font-weight: bold;
}

.description {
    display: block;
    white-space: normal;
}

.finish .stepIcon {
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.finish .stepTitle:after {
    background-color: var(--color-blue);
}

.process .stepIcon {
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    color: #fff;
}

.wait {
    color: rgba(0, 0, 0, .25);
}
