.confirmItem p {
  margin-top: var(--space-quarter);
  word-break: break-all;
}

.confirmationValue {
  font-size: var(--size-default);
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

.total p {
  font-size: var(--size-subheader) !important;
  margin-bottom: var(--space-quarter);
}
