.container {
    align-items: center;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-height: 100vh;
    overflow: auto;
}

.scrollable {
    overflow: auto;
    /*padding-bottom: var(--spacing-default);*/
}

.agreements {
    margin-bottom: var(--spacing-default);
}

.agreementsLabel {
    margin: var(--spacing-half) 0;
}

.title {
    margin-top: 0;
    margin-bottom: var(--spacing-large);
    font-weight: 300;
}

.summary {
    margin: var(--spacing-large) auto;
    max-width: 450px;
}

.summary li {
    margin-bottom: var(--spacing-default);
}

.heading {
    margin-top: 1px;
}

.content {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: var(--content-width);
    width: 100%;
    padding: var(--spacing-large) var(--spacing-default) 0 var(--spacing-default);
}

.verticalButtons {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.verticalButtons button:first-child {
    margin-bottom: var(--spacing-default);
}

.block {
    flex: 1;
}

.block p:first-child,
.block h2:first-child {
    margin-top: 0;
}

.block p:last-child {
    margin-bottom: var(--spacing-large);
}

.list {
    padding-left: 18px;
}

.list li:not(:first-child) {
    margin-top: var(--spacing-half);
}

.buttons {
    margin-bottom: 0;
    margin-top: var(--spacing-large);
}

.stepNumber {
    min-width: 20px !important;
    margin-right: 20px;
    text-align: center;
    color: var(--color-rock);
    font-size: var(--size-extra-large);
    line-height: var(--size-extra-large);
    font-weight: 300;
}

.badge {
    max-height: 40px;
    height: 40px;
}

.waitingLogo {
    margin-bottom: var(--space-default);
}

.waitingContent {
    max-width: 540px;
    width: 100%;
    background-color: var(--color-white);
    padding: var(--space-default);
    margin: 0 auto;
    text-align: center;
}

.waitingText {
    margin-top: 0;
    font-weight: 300;
    text-align: center;
}

.waitingDescription {
    font-size: var(--size-default);
    font-weight: 300;
    text-align: center;
    color: var(--color-secondary);
}

.testingContainer {
    margin-top: var(--space-default);
}

.testingContainer > * {
    margin: 0 auto;
}

@media screen and (max-width: 640px) {
    .qrcodeContainer {
        width: 50%;
    }

    .qrcodeContainer img {
        width: 100%;
        height: auto;
    }
}
