.container {
    align-items: center;
    /* background-image: url("../../assets/mountains/alps-1.guetzli.jpg"); */
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-height: 100vh;
    padding: 4rem;
}

.content {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 440px;
}

.content form {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    padding: 2rem;
}
