.container {
    align-items: center;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-height: 100vh;
    padding: 4rem 4rem 0 4rem;
}

.scrollable {
    /*overflow: auto;*/
    padding-bottom: var(--spacing-default);
}

.agreements {
    margin-bottom: var(--spacing-default);
}

.title {
    margin-top: 0;
    text-align: center;
}

.heading {
    margin-top: 1px;
}

.content {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 600px;
    overflow: auto;
    /* padding-top: var(--spacing-default); */
}

.content form {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    padding: 1rem;
}
