.loadingAccounts {
  background-color: var(--background-secondary);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1999;
}

.waitingText {
  font-size: var(--size-subheader);
  font-weight: 400;
  text-align: center;
  margin: 0 auto var(--space-default) auto;
  max-width: 260px;
}
@media (min-width: 769px) {
  .waitingText {
    max-width: 300px;
  }
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6rem;
  text-align: center;
}
