.infoIcon {
    margin-top: 4px;
}

.label {
    color: var(--color-default);
    font-size: var(--size-small);
    font-weight: 600;
    margin: 0;
}

.nowrap {
    flex-shrink: 0;
}

.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyableInputContainer {
    display: flex;
    gap: 8px;
}

.copyBtn {
    margin: 0;
    position: static;
}

.detailAddress {
    padding: 0;
    margin: 0;
    height: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-half);
    padding: var(--space-quarter) var(--space-half);
    padding-bottom: 24px;
}

.container p {
    margin: 0;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amount {
    font-size: var(--size-header);
    margin: var(--space-quarter) 0;
    max-width: 100%;
    white-space: nowrap;
}

.headerAmountUnit {
    font-size: var(--size-subheader);
}

.headerFiatUnit {
    font-size: var(--size-small);
}

.rowUnit {
    font-size: var(--size-small);
}

.statusContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: calc(var(--space-half) + var(--space-quarter));
    width: 100%;
}

.transferDirection {
    align-items: center;
    display: flex;
    gap: var(--space-quarter);
}

.amountContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.amountFiat {
    align-items: center;
    display: flex;
    font-size: var(--size-subheader);
    margin-bottom: var(--space-quarter);
}

.date {
    color: var(--color-secondary);
}

.status {
    align-items: center;
    display: flex;
}

.separator {
    border: none;
    height: 1.5px;
    margin: var(--space-half) 0;
    background-color: var(--color-disabled);
}

.note {
    margin: 0;
    width: 80%;
}

.noteLabel {
    width: 15%;
}

.noteContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.unit {
    font-weight: 400;
    font-size: var(--size-small);
    color: var(--color-secondary);
    font-variant: normal;
    position: relative;
    cursor: default;
}

.advanced {
    margin-top: var(--space-quarter);
}

.advancedContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-half);
}

.explorerLinkContainer {
    align-items: center;
    display: flex;
    font-weight: 500;
    gap: var(--space-quarter);
    justify-content: center;
}

.explorerLink {
    text-decoration: none;
}

.explorerLink img {
    max-height: var(--size-default);
}

.addressOrTxIdContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 768px) {
    .note {
        width: 65%;
    }
    
    .noteLabel {
        width: 30%;
    }
}