.select :global(.react-select__control) {
    padding: var(--space-quarter) var(--space-half);
}

.select :global(.react-select__value-container) {
    padding: 0;
}

.select :global(.react-select__input-container) {
    padding-left: calc(var(--space-default) + var(--space-eight));
}

.select :global(.react-select__indicator) {
    padding: 0;
}

.flag {
    font-size: 2rem;
}

.globe {
    margin-top: 3px;
    width: 26px;
    height: 22px;
}

.optionsContainer {
    align-items: center;
    display: flex;
}

.selectLabelText {
    margin-left: 10px;
}