.select :global(.react-select__control) {
    padding: var(--space-quarter) var(--space-half);
}

.select :global(.react-select__value-container) {
    padding: 0;
}

.select :global(.react-select__value-container--has-value .react-select__input-container) {
    padding-left: calc(var(--space-default) + var(--space-eight));
}

.select :global(.react-select__indicator) {
    padding: 0;
}

.flag {
    font-size: 2rem;
}

.globe {
    margin-top: 3px;
    width: 26px;
    height: 22px;
}

.optionsContainer {
    align-items: center;
    display: flex;
}

.selectLabelText {
    margin-left: 10px;
}

.trigger {
    align-items: center;
    background-color: var(--background-secondary);
    border: 1px #ccc solid;
    border-radius: var(--radius-xl);
    color: var(--color-default);
    cursor: pointer;
    display: flex;
    font-size: var(--size-default);
    margin-bottom: 0;
    min-height: var(--input-height);
    padding: var(--space-quarter) var(--space-half);
    text-align: left;
    width: 100%;
}

.trigger .selectLabelText {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}