.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
    transition: opacity ease 0.2s;
}

.close {
    height: 24px;
    width: 24px;
    display: flex;
    padding: 4px;
}

.close img {
    width: 20px;
    height: 20px;
    margin-left: calc(var(--space-quarter) / 2);
}

.wrapper {
    position: relative;
}

.guide {
    margin-right: calc(var(--guide-width) * -1);
    height: 100vh;
    width: var(--guide-width);
    color: white;
    background-color: var(--color-lightblue);
    overflow-y: auto;
    transition: margin-right 0.2s ease, transform 0.2s ease;
    will-change: margin-right, transform;
}

.header {
    margin-bottom: var(--space-default);
    height: var(--header-height);
    padding: 0 var(--space-default);
    background-color: var(--color-blue);
}

.header h2 {
    margin: 0;
    font-size: var(--header-default-font-size);
    font-weight: 400;
}

.header a {
    cursor: pointer;
    font-size: 2rem;
}

.content {
    padding: 0 var(--space-default);
}

.content h1 {
    margin-top: 0px;
    font-size: 1.5em;
}

.content h2 {
    margin: 0px;
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 400;
}

.guide p {
    margin: 0.4em 0;
    font-size: var(--size-default);
}

.show {
    margin-right: 0;
}

.entry {
    margin-top: var(--space-default);
}

.entryTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: default;
}

.entryTitle .entryToggle {
    width: 16px;
    line-height: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.entryTitle .entryTitleText {
    flex: 1;
}

.entryContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
}

.expanded {
    flex-basis: 0;
}

.link {
    color: inherit;
    text-decoration: underline;
}

.link:focus {
    outline-color: inherit;
}

@media (max-width: 1348px) {
    .guideWrapper {
        width: calc( (((100% - var(--sidebar-width-large)) - var(--content-width)) / 2) + 18px + var(--space-default) );
    }
}

@media screen and (max-width: 1601px) {
    .overlay.show {
        opacity: 1;
    }

    .guide {
        position: fixed;
        margin-right: 0;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 460px;
        opacity: 0;
        z-index: -10;
        transform: translateX(100%);
        transition-delay: 0.2s;
    }

    .show {
        opacity: 1;
        z-index: 4002;
    }

    .guide.show {
        transform: translateX(0%);
    }
}

@media (max-width: 768px) {
    .guideWrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(var(--space-half) + 18px);
    }

    .header,
    .content {
        padding-left: var(--space-half);
        padding-right: var(--space-half);
    }
}

@media screen and (max-width: 640px) {
    .guide h2 {
        font-size: 1.05em;
    }
}
