.guideWrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    z-index: 4003;
}

.guideToggler {
    position: relative;
    top: -60px;
    right: -12px;
    color: var(--color-white);
    background-color: var(--color-darkblue);
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
    font-size: var(--size-medium);
    transition: all ease-out 0.1s;
}

.guideToggler span {
    position: absolute;
    bottom: 4px;
    left: 38px;
    cursor: default;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    transform: rotate(-45deg);
    transition: all ease 0.1s;
    user-select: none;
}

.guideWrapper:hover .guideToggler {
    top: -48px;
    right: 0px;
}

.guideWrapper:hover .guideToggler span {
    bottom: 10px;
    left: 38px;
}

.wrapper {
    position: relative;
}

.guide {
    margin-right: calc(var(--guide-width) * -1);
    height: 100vh;
    padding: var(--spacing-large);
    width: var(--guide-width);
    color: white;
    background-color: var(--color-brightblue);
    overflow-y: auto;
    transition: margin-right 0.2s ease, opacity 0.1s ease;
    will-change: margin-right, opacity;
}

.header {
    margin-bottom: var(--spacing-large);
}

.header h1 {
    margin: 0;
}

.header a {
    cursor: pointer;
    font-size: 20px;
}

.guide h1 {
    margin-top: 0px;
    font-size: 1.5em;
}

.guide h2 {
    margin: 0px;
    font-size: 1.1em;
    line-height: 1.2em;
}

.guide p {
    margin: 0.4em 0;
    font-size: 0.9em;
}

.show {
    margin-right: 0;
}

.entry {
    margin-top: var(--spacing-large);
}

.highlighted {
    margin: 1.1em -1em;
    padding: 0.5em 1em;
    background-color: var(--color-darkblue);
}

.entryTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: default;
}

.entryTitle .entryToggle {
    width: 16px;
    line-height: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.entryTitle .entryTitleText {
    flex: 1;
}

.entryContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
}

.expanded {
    flex-basis: 0;
}

@media screen and (max-width: 1256px) {
    .guide {
        position: fixed;
        margin-right: 0;
        top: 0;
        right: 0;
        width: 100%;
        opacity: 0;
        z-index: -10;
    }
    .show {
        opacity: 1;
        z-index: 4002;
    }
}

@media screen and (max-width: 640px) {
    .guide {
        padding: var(--spacing-default);
    }

    .guide h2 {
        font-size: 1.05em;
    }
}
