.wrapper {
    position: relative;
}

.guide {
    position: relative;
    margin-right: -350px;
    height: 100vh;
    padding: var(--spacing-large);
    width: var(--guide-width);
    color: white;
    background-color: var(--color-brightblue);
    overflow-y: auto;
    transition: margin-right 0.2s ease, right 0.2s ease;
    will-change: margin-right, right;
}

.title {
    margin-bottom: var(--spacing-default);
}

.title h1 {
    margin: 0;
    font-size: 1.5rem;
}

.closeButton {
    color: var(--color-white);
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
}

.closeButton:focus {
    outline: none;
}

.guide h2 {
    margin: 0px;
    font-size: 1.1em;
    line-height: 1.2em;
}

.guide p {
    margin: 0.4em 0;
    font-size: 0.9em;
}

.guide ul {
    list-style: none;
    margin-left: -51px;
}

.guide li {
    border-left: 3px solid rgba(255, 255, 255, .2);
    padding-left: 8px;
}

.guide li + li {
    margin-top: var(--spacing-default);
}

.show {
    margin-right: 0;
}

.entry {
    margin-top: var(--spacing-large);
}

.highlighted {
    margin: 1.1em -1em;
    padding: 0.5em 1em;
    background-color: var(--color-darkblue);
}

.entryTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: default;
}

.entryTitle .entryToggle {
    width: 16px;
    line-height: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.entryTitle .entryTitleText {
    flex: 1;
}

.entryContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
}

.expanded {
    flex-basis: 0;
}

@media screen and (max-width: 1335px) {

}
