.wrapper {
    position: relative;
}

.toggler {
    position: fixed;
    top: 1.7rem;
    right: 1.7rem;
    z-index: 2000;
    padding: 8px 12px;
    border-radius: 19px;
    width: 38px;
    height: 38px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-darkblue);
}

.guide {
    height: 100vh;
    padding: 2rem;
    width: 350px;
    color: white;
    background-color: var(--color-brightblue);
    overflow-y: auto;
}

.entry {
    margin-top: 1.6em;
}

.highlighted {
    margin: 1.1em -1em;
    padding: 0.5em 1em;
    background-color: var(--color-darkblue);
}
