.wrapper {
    position: relative;
}

.toggler {
    position: fixed;
    top: var(--spacing-default);
    right: var(--spacing-default);
    line-height: 1;
    z-index: 2000;
    padding: 8px 12px;
    border-radius: 19px;
    width: 38px;
    height: 38px;
    color: white;
    cursor: default;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darkblue);
    user-select: none;
}

.guide {
    margin-right: -350px;
    height: 100vh;
    padding: var(--spacing-large);
    width: var(--guide-width);
    color: white;
    background-color: var(--color-brightblue);
    overflow-y: auto;
    transition: margin-right 0.2s ease, right 0.2s ease;
    will-change: margin-right, right;
}

@media screen and (max-width: 1335px) {
    .guide {
        position: fixed;
        margin-right: 0;
        right: -350px;
    }
    .show {
        right: 0;
    }
}

.guide h1 {
    margin-top: 0px;
    font-size: 1.5em;
}

.guide h2 {
    margin: 0px;
    font-size: 1.1em;
    line-height: 1.2em;
}

.guide p {
    margin: 0.4em 0;
    font-size: 0.9em;
}

.guide ul {
    list-style: none;
    margin-left: -51px;
}

.guide li {
    border-left: 3px solid rgba(255, 255, 255, .2);
    padding-left: 8px;
}

.guide li + li {
    margin-top: var(--spacing-default);
}

.show {
    margin-right: 0;
}

.entry {
    margin-top: var(--spacing-large);
}

.highlighted {
    margin: 1.1em -1em;
    padding: 0.5em 1em;
    background-color: var(--color-darkblue);
}

.entryTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: default;
}

.entryTitle .entryToggle {
    width: 16px;
    line-height: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.entryTitle .entryTitleText {
    flex: 1;
}

.entryContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
}

.expanded {
    flex-basis: 0;
}
