.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity ease 0.2s;
    width: 100%;
    z-index: -1;
}

/* Offset overlay for custom title bar in Qt desktop */
@media (min-width: 1200px) {
    :global(.qtwebengine) .overlay {
        top: 32px;
        height: calc(100% - 32px);
    }
}

.close {
    display: flex;
    height: 2.4rem;
    margin-left: var(--space-eight);
    min-height: 0;
    padding: 4px;
    width: 2.4rem;
}

.close img {
    height: min(2rem, 36px);
    width: min(2rem, 36px);
}

.wrapper {
    position: relative;
}

.guide {
    background-color: var(--color-lightblue);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* mobile viewport bug fix */
    max-height: -webkit-fill-available;
    margin-right: calc(var(--guide-width) * -1);
    overflow-y: auto;
    transition: margin-right 0.2s ease, transform 0.2s ease;
    width: var(--guide-width);
    will-change: margin-right, transform;
}

:global(.os-linux) .guide::-webkit-scrollbar-thumb,
:global(.os-windows) .guide::-webkit-scrollbar-thumb {
    /* the guide is always blue regardless of darkmode so we can hardcode the scroll-thumb to white */
    background-color: white;
}

.header {
    background-color: var(--color-blue);
    flex-shrink: 0;
    padding: 23px var(--space-default);
    padding-top: calc(23px + env(safe-area-inset-top, 0));
}

.header h2 {
    font-size: var(--size-header);
    font-weight: 400;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 var(--space-default);
    padding-bottom: env(safe-area-inset-bottom, 0);
}

.guide p {
    font-size: var(--size-default);
    margin: 0.4em 0;
}

.show {
    margin-right: 0;
}

.appendix {
    padding-top: var(--space-half);
    margin-top: auto;
}

.entry {
    margin-top: var(--space-default);
}

.entryTitle {
    align-items: flex-start;
    cursor: default;
    display: flex;
    flex-direction: row;
    font-size: var(--size-subheader);
    justify-content: flex-start;
}

.entryToggle {
    align-items: center;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 1.2;
    width: var(--size-small);
}

.entryTitleText {
    flex: 1;
    font-size: var(--size-subheader);
    font-weight: 400;
    margin: 0;
}

.entryContent {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: var(--size-small);
}

.expanded {
    flex-basis: 0;
}

.link {
    color: inherit;
    text-decoration: underline;
}

.link:focus {
    outline-color: inherit;
}

@media (max-width: 1348px) {
    .guideWrapper {
        width: calc( (((100% - var(--sidebar-width-large)) - var(--content-width)) / 2) + 18px + var(--space-default) );
    }
}

@media screen and (max-width: 1601px) {
    .overlay {
        z-index: 4001;
        pointer-events: none;
    }

    :global(.guideOpen) .overlay {
        opacity: 1;
        pointer-events: auto;
    }

    .guide {
        margin-right: 0;
        max-width: 460px;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: margin-right 0.2s ease, transform 0.2s ease;
        transition-delay: 0.2s;
        width: 100%;
        z-index: 4002;
    }

    /* Offset guide for custom title bar in Qt desktop */
    :global(.qtwebengine) .guide {
        top: 32px;
        height: calc(100vh - 32px);
    }

    .guide.show {
        transform: translateX(0%);
    }
}

@media (max-width: 768px) {
    .guideWrapper {
        position: fixed;
        right: 0;
        top: 0;
        width: calc(var(--space-half) + 18px);
    }

    .header,
    .content {
        padding-left: var(--space-half);
        padding-right: var(--space-half);
    }
}
