<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Testnet App</string>

	<key>CFBundleExecutable</key>
	<string>testnet.sh</string>

	<key>CFBundleGetInfoString</key>
	<string>Testnet App by Shift Cryptosecurity</string>

	<key>CFBundleIconFile</key>
	<string>icon.icns</string>

	<key>CFBundleIdentifier</key>
	<string>ch.shiftcrypto.wallet.testnet</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleVersion</key>
	<string>See BitBox.app</string>

	<key>CFBundleShortVersionString</key>
	<string>See BitBox.app</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
