html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-size: 1.6rem; /* 16px base for body, this will be overwritten on Android  */
}

.app {
    font-size: var(--size-default); /* for components that do not define font-size */
}

html,
body {
    background-color: var(--background);
    color: var(--color-default);
    font-family: var(--font-family);
    font-weight: 400;
    height: 100%;
    line-height: 1.3;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
::selection:not(textarea):not(input) {
    background-color: transparent;
}
*/

* {
    box-sizing: border-box;
}

hr {
    background: none;
    border-color: var(--background-quaternary) transparent;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: var(--space-default) 0;
}

h1, h2, h3, h4, h5 {
    line-height: 1.25;
}

.os-linux ::-webkit-scrollbar,
.os-windows ::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

.os-linux ::-webkit-scrollbar-track,
.os-windows ::-webkit-scrollbar-track {
    background-color: transparent;
}

.os-linux ::-webkit-scrollbar-thumb,
.os-windows ::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
}


p {
    font-weight: 400;
    font-size: var(--size-default);
}

a {
    color: var(--color-blue);
    cursor: pointer;
}

a,
button,
[role="button"],
[tabindex],
input,
select,
textarea {
    -webkit-tap-highlight-color: transparent;
}

img,
button {
    user-select: none;
    -webkit-user-select: none;
}

img {
    -webkit-touch-callout: none;
}

svg {
    stroke-width: 1.6 !important;
}

pre {
    background-color: var(--background-secondary);
    display: block;
    font-family: monospace;
    font-size: var(--size-default);
    margin: 0 0 var(--space-default) 0;
    padding: var(--space-default);
    text-align: center;
}

progress {
    display: block;
    width: 100%;
}
