html,
body {
    background-color: var(--background);
    color: var(--color-default);
    font-family: var(--font-family);
    font-weight: 400;
    height: 100%;
    line-height: 1.3;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	  -webkit-app-region: drag;
}

html {
    font-size: 62.5%;
    text-size-adjust: 100%;
}

body {
    font-size: 1.6rem;
}

/*
::selection:not(textarea):not(input) {
    background-color: transparent;
}
*/

* {
    box-sizing: border-box;
}

hr {
    background: none;
    border-color: var(--background-quaternary) transparent;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: var(--spacing-large) 0;
}

h1, h2, h3, h4, h5 {
    line-height: 1.25;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    /* border: 2px solid #555555; */
}

p {
    font-weight: 400;
    font-size: var(--size-default);
}

a {
    color: var(--color-blue);
    cursor: pointer;
}

/* definition list */

dl div {
    display: inline-block;
    margin-right: var(--spacing-large);
}

dl dt {
    margin-right: var(--spacing-half);
    text-indent: 0;
}

dl dd {
    margin: 0;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

img,
button {
    user-select: none;
}

svg {
    stroke-width: 1.6 !important;
}

pre {
    background-color: var(--background-secondary);
    display: block;
    font-family: monospace;
    font-size: 20px;
    margin: 0 0 var(--space-default) 0;
    padding: var(--space-default);
    text-align: center;
}

progress {
    display: block;
    width: 100%;
}
