html,
body {
	background: var(--color-background);
	color: #444;
	font-family: var(--font-family);
	font-weight: 400;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}
