button,
input[type="checkbox"],
input[type="radio"],
label {
    user-select: none;
}

.label,
label,
dt {
    color: var(--color-secondary);
    display: block;
    font-size: var(--size-small);
    font-weight: 300;
    line-height: 1;
    margin-bottom: 5px;
}

.labelLarge {
    font-size: var(--size-default);
    margin-bottom: calc(var(--space-half) + var(--space-quarter));
}

.labelLink {
    color: var(--color-blue);
    cursor: pointer;
    line-height: 1;
}

.labelButton {
    padding: var(--space-quarter) var(--space-half);
    border-radius: 2px;
    color: var(--color-white);
    transition: background-color ease-in-out 0.2s;
    will-change: background-color;
}

.labelButton.primary {
    background-color: var(--color-blue);
}

.labelButton.primary:hover {
    background-color: var(--color-lightblue);
}

.labelButton.secondary {
    background-color: var(--color-orange);
}

.labelButton.secondary:hover {
    background-color: var(--color-lightorange);
}

input:invalid,
input:invalid:focus {
    border-color: var(--color-error);
    outline: 3px solid var(--color-error);
}

input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

a[tabindex="0"]:focus,
button:focus,
input:focus,
select:focus,
input[type="checkbox"]:focus + label::before {
    outline-color: var(--color-focus);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 4px;
}

@media (max-width: 768px) {
    .labelLarge {
        margin-bottom: var(--space-half);
    }

    .labelLink {
        font-size: var(--size-small);
    }
}