button,
input[type="checkbox"],
input[type="radio"],
label {
    user-select: none;
}

.label,
label {
    color: var(--color-secondary);
    display: block;
    font-size: var(--size-small);
    font-weight: bold;
    margin-bottom: var(--spacing-half);
    text-indent: 2px;
    text-transform: uppercase;
}

input:invalid {
    border-color: var(--color-error);
    outline: 3px solid var(--color-error);
}

input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

button:focus,
input:focus,
select:focus,
input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before {
  outline-color: rgb(59, 153, 252);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 4px;
}
