button,
input[type="checkbox"],
input[type="radio"] {
    user-select: none;
    -webkit-user-select: none;
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
    color: var(--color-default);
    background: var(--background-secondary);
}

label {
    display: block;
    font-size: var(--size-default);
    font-weight: 400;
    margin-bottom: var(--space-quarter);
}

input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}
