button,
input[type="checkbox"],
input[type="radio"],
label {
    user-select: none;
}

.label,
label {
    color: var(--color-rock);
    display: block;
    font-size: var(--size-small);
    font-weight: bold;
    margin-bottom: calc(var(--spacing-half) / 2);
    text-transform: uppercase;
}

input:invalid,
input:invalid:focus {
    border-color: var(--color-error);
    outline: 3px solid var(--color-error);
}

input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

button:focus,
input:focus,
select:focus,
input[type="checkbox"]:focus + label::before {
  outline-color: var(--color-focus);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 4px;
}
