.checked-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 1;
    stroke-miterlimit: 10;
    stroke: #7aba7a;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checked {
    border-radius: 50%;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 1 !important; /* reset because stroke-width is defined with 1.6 in base.css */
    box-shadow: inset 0px 0px 0px #7aba7a;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checked-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    stroke: #7aba7a;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.02, 1.02, 1);
    }
}

.caretDown {
    animation: fadeinout 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    stroke-width: 1 !important; /* reset because stroke-width is defined with 1.6 in base.css */
    max-width: 26px;
}

.dark-mode .caretDown {
    fill: white;
}

@keyframes fadeinout {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.1; }
}
