.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-center { justify-content: center; }
.flex-start { justify-content: flex-start; }
.flex-around { justify-content: space-around; }
.flex-between { justify-content: space-between; }
.flex-end { justify-content: flex-end; }
.flex-items-center { align-items: center; }
.flex-items-baseline { align-items: baseline; }
.flex-items-start { align-items: flex-start; }
.flex-items-end { align-items: flex-end; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-1 { flex: 1; }
.flex-none { flex: none !important; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-small { font-size: var(--size-small); }
.text-medium { font-size: var(--size-medium); }
.text-medium > label {
    font-size: var(--size-medium);
    text-transform: none;
}
.text-bold { font-weight: bold; }
.text-red { color: var(--color-danger); }
.text-green { color: var(--color-success); }
.text-gray { color: var(--color-rock); }
.text-black { color: var(--color-softblack); }
.text-black + label {
    color: var(--color-softblack);
}

.first {
    margin-top: 0;
}

.spaced > *:not(:last-child) {
    margin-right: var(--spacing-default);
}

.app {
    background-color: var(--color-white);
    display: flex;
    flex: 1 1 auto;
    min-height: 100vh;
}

.contentWithGuide {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    /* min-height: calc(100% - var(--header-height)); */
    margin: 0 auto;
    justify-content: flex-start;
}

.fluid {
    max-width: none;
}

.staticWidth {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.innerContainer.withFixedContent {
    padding-top: var(--header-height);
}

.scrollableContainer {
    overflow: auto;
}

.headerContainer {
    background-color: var(--color-white);
    /* min-height: var(--header-height); */
    border-bottom: 1px solid #eee;
    width: 100%;
}

.headerContainer.fixed {
    position: fixed;
    left: var(--sidebar-width);
    height: var(--header-height);
    width: calc(100% - var(--sidebar-width));
    z-index: 1001;
}

.headerContainer .header {
    padding: var(--spacing-large) var(--spacing-large);
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: none;
}

.header h2 {
    margin: 0;
    font-size: var(--size-large);
    line-height: 36px;
}

.subHeaderContainer {
    margin: var(--spacing-default) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subHeaderContainer.first {
    /* margin-top: 0; */
}

.subHeaderContainer .subHeader h3 {
    margin: 0;
    font-size: var(--size-subheader);
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--content-width);
    padding: 0 var(--spacing-large);
    height: 100%;
    width: 100%;
    overflow: auto;
}

.withFixedContent .content {
    margin-top: 0;
}

.row:not(:first-child) {
    margin-top: var(--spacing-default);
}

.row:not(:first-child).extra {
    margin-top: var(--spacing-large);
}

.isVerticallyCentered {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

/* UTILITIES */
.noPadding {
    padding: 0 !important;
}

.wrapped > * {
    margin-bottom: var(--spacing-half);
}

.buttons {
    flex-shrink: 0;
    position: relative;
}

.buttons > *:not(:last-child) {
    margin-right: var(--spacing-half);
}

.buttons:last-child {
    margin-bottom: var(--spacing-half);
}
