:root {
    /* colors */
    --color-darkgreen: #4f9879;
    --color-green: #7aba7a;
    --color-lightgreen: rgba(79, 152, 121, .33); /* #aecfc1; */
    --color-palegreen: rgba(79, 152, 121, .2); /* #dceae4; */
    --color-softred: #EC644B;
    --color-lightred: #F28E72;
    --color-swissred: #E30613;
    --color-white: #FFFFFF;
    --color-lightgray: #F5F5F5;
    --color-mediumgray: #E5E5E5;
    --color-gray-alt: #999999;
    --color-gray: #777777;
    --color-softblack: #333333;
    --color-dark: #1D1D1B;
    --color-yellow: #fef160;
    --color-darkyellow: rgb(243, 234, 0, .66); /* #F3EA00 */
    --color-lightyellow: rgba(255, 252, 177, .15); /* #FFFCB1 */
    --color-darkblue: #4f7998;
    --color-blue: #5E94BF;
    --color-lightblue: #73A5CD;
    --color-light-skyblue: #ECF7FF;
    --color-electric-blue: #2684FF;
    --color-powder-blue: #DEEBFF;
    --color-pale-ice-blue: #E6F7FF;
    --color-blue-alt: #91BFCF;
    --color-orange: #F5A04C;
    --color-olive: #908B00;
    --color-lightorange: #F9AC60;

    /* status colors */
    --color-success: var(--color-green);
    --color-info: var(--color-blue);
    --color-warning: var(--color-softred);
    --color-error: var(--color-swissred);
    --color-danger: var(--color-error);

    /* font sizes */
    --size-extra-large: 3.5rem;
    --size-large: 3.2rem;
    --size-large-mobile: 2.2rem;
    --size-subheader: 1.8rem;
    --size-medium: var(--size-default);
    --size-default: 1.4rem;
    --size-small: 1.2rem;
    --size-xsmall: 1.1rem;
    --size-label: var(--size-small);
    --size-button: var(--size-default);
    --size-title: 3.2rem;

    /* wizard */
    --size-wizard-text: 1.6rem;

    /* spacing */
    --spacing-large: 32px;
    --spacing-default: 16px;
    --spacing-half: 8px;

    --space-large: 6.4rem;
    --space-default: 3.2rem;
    --space-half: 1.6rem;
    --space-quarter: .8rem;
    --space-eight: .4rem;

    --item-height-xsmall: 2.4rem;
    --item-height-small: 3.6rem;
    --item-height: 5.2rem;
    --item-height-large: 7.2rem;
    --item-height-xlarge: 8.4rem;

    /* typography */
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    /* sidebar */
    --sidebar-width-large: 250px;
    --sidebar-margin: 32px;
    --sidebar-item-height: 52px;
    --sidebar-icon-margin: 14px;
    --sidebar-icon-size: 24px;
    --sidebar-header-size: 1.2rem;
    --sidebar-header-line-height: 1.6rem;

    /* header */
    --header-height: 7rem;
    --header-default-font-size: 2.4rem;

    /* content */
    --content-width: 1080px;
    --content-width-small: 550px;
    --content-width-larger: 740px;

    /* guide */
    --guide-width: 350px;
}

:root,
.light-mode {

    /* status colors*/
    --color-disabled: var(--color-mediumgray);

    /* font colors */
    /* all fonts should use these colors and not from the main colors directly */
    --color-default: var(--color-dark);
    --color-primary: var(--color-blue);
    --color-secondary: var(--color-gray);
    --color-light: var(--color-mediumgray);
    --color-alt: var(--color-white);
    --color-tertiary: var(--color-gray-alt);
    --color-custom-select-border: var(--color-lightgray);

    /* background colors */
    /* all backgrounds should use these colors and not from the main colors directly */
    --background: var(--color-lightgray);
    --background-blue: var(--color-blue);
    --bg-transparent-dark: rgba(0, 0, 0, 0.4);
    --background-secondary: var(--color-white);
    --background-dark: var(--color-softblack);
    --background-focus: var(--color-light-skyblue);
    --background-tertiary: var(--color-gray-alt);
    --background-quaternary: var(--color-mediumgray);
    --background-custom-select-hover: var(--color-powder-blue);
    --background-custom-select-selected: var(--color-pale-ice-blue);
    --background-session-card: var(--color-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* status colors*/
        --color-disabled: var(--color-gray);
        
        /* font colors */
        --color-default: var(--color-lightgray);
        --color-primary: var(--color-blue);
        --color-secondary: var(--color-gray-alt);
        --color-light: var(--color-mediumgray);
        --color-alt: var(--color-white);
        --color-tertiary: var(--color-gray-alt);
        --color-custom-select-border: var(--color-gray);

        /* background colors */
        --background: var(--color-dark);
        --bg-transparent-dark: rgba(0, 0, 0, 0.4);
        --background-secondary: var(--color-softblack);
        --background-dark: var(--color-softblack);
        --background-focus: var(--color-softblack);
        --background-tertiary: var(--color-gray);
        --background-quaternary: var(--color-dark);
        --background-custom-select-hover: var(--color-dark);
        --background-custom-select-selected: var(--color-dark);
        --background-session-card: var(--color-softblack);
    }
}
@media (prefers-color-scheme: light) {
    .dark-mode {
        /* status colors*/
        --color-disabled: var(--color-gray);

        /* font colors */
        --color-default: var(--color-lightgray);
        --color-primary: var(--color-blue);
        --color-secondary: var(--color-gray-alt);
        --color-light: var(--color-mediumgray);
        --color-alt: var(--color-white);
        --color-tertiary: var(--color-gray-alt);
        --color-custom-select-border: var(--color-gray);

        /* background colors */
        --background: var(--color-dark);
        --bg-transparent-dark: rgba(0, 0, 0, 0.4);
        --background-secondary: var(--color-softblack);
        --background-dark: var(--color-softblack);
        --background-focus: var(--color-softblack);
        --background-tertiary: var(--color-gray);
        --background-quaternary: var(--color-dark);
        --background-custom-select-hover: var(--color-dark);
        --background-custom-select-selected: var(--color-dark);
        --background-session-card: var(--color-softblack);
    }
}

@media (max-width: 1199px) {
    :root {
        --size-title: 1.8rem;
    }
}

@media (max-width: 768px) {
    :root {
        --header-default-font-size: 2rem;
        --size-subheader: 1.6rem;
        --size-title: 1.6rem;

        --size-wizard-text: 1.4rem;
    }
}
