:root {
    /* colors */
    --color-darkgreen: #4f9879;
    --color-green: #7aba7a;
    --color-softred: #EC644B;
    --color-lightred: #F28E72;
    --color-swissred: #E30613;
    --color-white: #FFFFFF;
    --color-lightgray: #F5F5F5;
    --color-mediumgray: #E5E5E5;
    --color-gray-alt: #999999;
    --color-gray: #777777;
    --color-softblack: #333333;
    --color-dark: #1D1D1B;
    --color-yellow: #fef160;
    --color-darkblue: #4f7998;
    --color-blue: #5E94BF;
    --color-lightblue: #73A5CD;
    --color-blue-alt: #91BFCF;
    --color-orange: #F5A04C;
    --color-lightorange: #F9AC60;

    /* font colors */
    --color-default: var(--color-dark);
    --color-primary: var(--color-blue);
    --color-secondary: var(--color-gray);
    --color-light: var(--color-mediumgray);

    /* status colors */
    --color-success: var(--color-green);
    --color-info: var(--color-blue);
    --color-warning: var(--color-softred);
    --color-error: var(--color-swissred);
    --color-danger: var(--color-error);
    --color-disabled: var(--color-mediumgray);

    /* background colors */
    --background: var(--color-lightgray);

    /* font sizes */
    --size-extra-large: 2.2rem;
    --size-large: 2rem;
    --size-large-mobile: 1.4rem;
    --size-subheader: 18px;
    --size-subheader-mobile: 1.2rem;
    --size-medium: var(--size-default);
    --size-default: 14px;
    --size-small: 12px;
    --size-xsmall: 11px;
    --size-label: var(--size-small);
    --size-button: var(--size-default);

    /* wizard */
    --size-wizard-header: 32px;
    --size-wizard-text: 16px;
    --wizard-item-height: 70px;

    /* spacing */
    --spacing-large: 2rem;
    --spacing-default: 1rem;
    --spacing-half: .5rem;

    --space-large: 64px;
    --space-default: 32px;
    --space-half: 16px;
    --space-quarter: 8px;
    --space-eight: 4px;

    --item-height-xsmall: 24px;
    --item-height-small: 36px;
    --item-height: 52px;
    --item-height-large: 72px;

    /* typography */
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    /* sidebar */
    --sidebar-width-large: 250px;
    --sidebar-margin: 32px;
    --sidebar-item-height: 52px;
    --sidebar-icon-margin: 14px;
    --sidebar-icon-size: 24px;
    --sidebar-header-size: 12px;
    --sidebar-header-line-height: 16px;

    /* header */
    --header-height: 70px;
    --header-default-font-size: 24px;

    /* content */
    --content-width: 1080px;
    --content-width-small: 550px;
    --content-width-larger: 740px;

    /* guide */
    --guide-width: 350px;
}

@media (max-width: 768px) {
    :root {
        --header-default-font-size: 20px;
        --size-subheader: 16px;

        --size-wizard-header: 24px;
        --size-wizard-text: 14px;
    }
}