.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: var(--space-half);
}

.innerContainer {
  background: var(--background);
}

.label {
  margin-top: var(--space-half);
}

.connectionIssues {
  margin-top: 96px;
  width: 100%;
}

@media (max-width: 768px) {
  .label {
    text-align: center;
  }
}

.bluetoothDisabledContainer {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.bluetoothDisabledTitle {
  font-weight: 600;
}

.link {
  font-weight: 600;
  margin-top: var(--space-quarter);
  text-decoration: none;
}