.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: var(--spacing-default);
}

.innerContainer {
  background: var(--background);
}

.label {
  margin-top: var(--spacing-default);
}

.connectionIssuesLink {
  left: 50%;
  margin-top: 64px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
}

@media (max-width: 768px) {
  .label {
    text-align: center;
  }
}
