.button {
    border: none;
    background-color: var(--color-brightblue);
    width: 34px;
    height: 34px;
    min-width: 34px !important;
    padding: 0;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-half);
    margin-left: var(--spacing-default);
    cursor: pointer;
    transition: background-color ease 0.2s;
    will-change: background-color;
}

.button:hover {
    background-color: #89B2D2;
}

.button img {
    width: 16px;
}

.button:focus {
    outline: none;
}

.success {
    background-color: var(--color-success) !important;
}

.container {
    margin-bottom: var(--spacing-default);
}

.inputField {
    flex: 1;
    margin-bottom: 0;
    font-size: var(--size-medium);
    min-width: 200px !important;
    width: 365px;
    padding: var(--spacing-default);
    border-radius: 2px;
    border: solid 1px var(--color-lightgray);
    resize: none;
}

@media screen and (max-width: 640px) {
    .button {
        margin-left: var(--spacing-half);
    }

    .inputField {
        font-size: var(--size-button);
    }
}
