.button {
    align-items: center;
    background-color: var(--background-secondary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: var(--size-default);
    justify-content: center;
    margin-top: var(--space-quarter);
    max-width: var(--size-default);
    padding: 0;
    position: absolute;
    right: var(--space-half);
    top: 10px;
    transition: background-color ease 0.2s;
    will-change: background-color;
}

.button img {
    height: var(--size-default);
}

.button:focus {
    outline: none;
}

.button:disabled {
    cursor: not-allowed;
}

.success {
    background-color: var(--color-success) !important;
}

.container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.inputField {
    border: 1px solid var(--background-quaternary);
    border-radius: 2px;
    flex: 1;
    font-size: var(--size-default);
    font-weight: 400;
    height: 52px;
    margin-bottom: 0;
    min-width: 200px !important;
    overflow: hidden;
    padding: var(--space-half) calc(var(--space-default) * 1.2 + 5px) var(--space-half) calc(var(--space-half) * .5);
    resize: none;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .inputField {
        text-align: center;
    }
}

.inputField:focus {
    outline: solid 1px var(--color-blue);
}

.inputField::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media screen and (max-width: 640px) {
    .button {
        margin-left: var(--space-quarter);
    }
}

.flexibleHeight {
    height: auto;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.borderLess,
.borderLess:focus {
    border: none;
    border-radius: 0;
    outline: none;
}
