.button {
    position: absolute;
    top: 10px;
    right: var(--spacing-default);
    border: none;
    width: 18px;
    height: 18px;
    min-width: 18px !important;
    padding: 0;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-half);
    cursor: pointer;
    transition: background-color ease 0.2s;
    will-change: background-color;
}

.button img {
    width: 18px;
}

.button:focus {
    outline: none;
}

.button:disabled {
    cursor: not-allowed;
}

.success {
    background-color: var(--color-success) !important;
}

.container {
    margin-bottom: var(--spacing-default);
    position: relative;
}

.inputField {
    flex: 1;
    margin-bottom: 0;
    font-size: var(--size-medium);
    min-width: 200px !important;
    max-width: 420px;
    width: 100%;
    padding: var(--spacing-default) calc(var(--spacing-default) + var(--spacing-half) + 18px) var(--spacing-default) var(--spacing-default);
    border-radius: 2px;
    border: solid 1px var(--color-lightgray);
    resize: none;
}

@media screen and (max-width: 640px) {
    .button {
        margin-left: var(--spacing-half);
    }

    .inputField {
        font-size: var(--size-button);
    }
}
