.passwordGesturesWrapper {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.passwordGestures {
    background-color: white;
    display: block;
    height: 75%;
    margin: 0 auto;
    max-width: 600px;
    object-fit: cover;
    width: 100%;
}

/* show a white background before the gif is loaded */
.passwordGestures[src=""]::after {
    background-color: white;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
