.balance {
    font-weight: bold;
}

.amount {
    position: relative;
    font-size: var(--size-extra-large);
    line-height: 1;
    margin: 0;
}

.unit {
    color: var(--color-secondary);
    font-size: var(--size-large);
}

.pendingBalance {
    margin: 0;
    padding-top: 1px;
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 1;
}

.balanceConversion {
    padding-left: var(--spacing-default);
    font-size: 24px;
}

.incomingConversion {

}

.balanceTable {
    border-spacing: 0;
    border-collapse: collapse;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.balanceTable tr {
    display: inline-block;
    vertical-align: bottom;
}

.balanceTable th {
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 0;
}

.balanceTable td {
    font-size: 24px;
    vertical-align: bottom;
    line-height: 1;
}

.balanceTable .availableAmount {
    font-size: var(--size-extra-large);
    padding-right: var(--spacing-half);
    text-align: right;
}

.balanceTable .availableUnit {
    font-size: var(--size-large);
    color: var(--color-secondary);
    padding-right: var(--spacing-default);
}

.balanceTable .incomingRow {
    display: block;
}

.balanceTable .incomingRow td {
    font-size: var(--size-small);
}

@media (max-width: 880px) {
    .pendingBalance {
        font-size: var(--size-small);
    }

    .balanceConversion {
        display: block;
        position: absolute;
        top: 38px;
        padding-left: 0;
        white-space: nowrap;
        font-size: var(--size-medium);
    }

    .balanceTable {
        display: table;
    }

    .balanceTable tr {
        display: table-row !important;
    }

    .balanceTable th {
        padding-bottom: 5px;
    }

    .balanceTable .availableAmount,
    .balanceTable .availableUnit {
        font-size: 24px;
        line-height:24px;
        line-height: 1;
    }
}

.accountName {
    font-size: var(--size-medium) !important;
}

.accountInfo {
    vertical-align: middle;
}
