.balanceContainer {
  color: var(--color-default);
  max-width: 100%;
}

.availableBalanceTitle {
  color: var(--color-secondary);
  line-height: 1.5;
  margin-bottom: 10px;
}

.balance {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--size-large);
  font-weight: 400;
  gap: var(--space-eight) var(--space-half);
  min-height: 37px;
  position: relative;
}

.unit {
  font-size: var(--size-header);
}

.pendingBalance {
  color: var(--color-secondary);
  font-size: var(--size-smaller);
  line-height: 1;
  margin: 0;
  padding-top: var(--space-half);
}

.incomingBalance {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .4ch;
}

@media (max-width: 768px) {

  .balance {
    font-size: var(--size-header);
    min-height: auto;
  }

  .pendingBalance {
    padding-top: var(--space-quarter);
  }

}