.balanceTable {
  align-items: flex-end;
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.balanceTable tr {
  display: inline-block;
  vertical-align: bottom;
  padding-right: var(--space-half);
}

.balanceTable td {
  font-size: var(--size-large);
  font-weight: 400;
  line-height: 1.2;
  padding: 0;
  vertical-align: baseline;
}

.balanceTable td:last-child {
  font-size: var(--size-default);
}

.pendingBalance {
  color: var(--color-secondary);
  font-size: var(--size-small);
  line-height: 1;
  margin: 0;
  padding-top: var(--space-half);
}

@media (max-width: 768px) {

  .balanceTable {
    display: inline-block;
    margin: 0 auto;
  }

  .balanceTable td {
    font-size: var(--size-header);
    line-height: 1.5;
  }

  .pendingBalance {
    padding-top: var(--space-quarter);
  }
}