.label {
    margin-bottom: 0 !important;
}

.balance {
    font-weight: bold;
}

.amount {
    font-size: var(--size-extra-large);
    line-height: 1;
    margin: 0;
}

.unit {
    color: var(--color-secondary);
    font-size: var(--size-large);
}

.pendingBalance {
    margin: 0;
    padding-top: 1px;
    color: var(--color-secondary);
}

.balanceConversion {
    padding-left: var(--spacing-large);
    font-size: 24px;
}

.incomingConversion {
    padding-left: var(--spacing-default);
}
