.defaultFiat {
    color: var(--color-secondary);
}

.star {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: var(--space-half);
    padding: 3px;
}

.star img {
    color: var(--color-tertiary);
    height: 18px;
    width: 18px;
}
