.defaultFiat {
    color: var(--color-gray);
}

.star {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: var(--space-half);
    padding: 3px;
}

.star img {
    color: var(--color-gray-alt);
    height: 18px;
    width: 18px;
}
