.infoContent {
    width: var(--content-width-small);
    margin: 0 auto;
    text-align: center;
}

.textareaContainer {
    margin-top: var(--space-half);
}

@media (max-width: 640px) {
    .infoContent {
        width: 100%;
    }

    .addressField input {
        font-size: var(--size-small);
    }
}
