.badge {
  border-radius: var(--space-half);
  border: 1px solid;
  display: inline-block;
  font-size: var(--size-smaller);
  flex-shrink: 0;
  line-height: 1;
  padding: var(--space-eight) 10px;
  white-space: nowrap;
}

.badge.iconOnly {
  align-items: center;
  display: inline-flex;
  height: 18px;
  justify-content: center;
  padding: 0;
  width: 18px;
}

.badgeIcon {
  max-width: 10px;
}

.withChildren .badgeIcon {
  margin-right: var(--space-eight);
}

@media (max-width: 382px) {
  .badge {
      font-size: 1rem;
  }
}

.success {
  background: var(--color-palegreen);
  border-color: var(--color-lightgreen);
  color: var(--color-darkgreen);
}

.warning {
  background: var(--color-lightyellow);
  border-color: var(--color-darkyellow);
  color: var(--color-olive);
}

/* swiss-red with different opacities */
.danger {
  background: rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.33);
  color: rgba(255, 0, 0, 1);
}

.info {
  background: var(--color-info-background);
  border-color: var(--color-info-border);
  color: var(--color-default);
}
