.content {
    margin-right: var(--space-eight);
}

.container {
    align-items: flex-start;
    display: flex;
    width: 100%;
}
.container.withCloseBtn {
    padding-right: 60px;
}

.closeButton {
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.closeButton img {
    width: 16px;
    height: 16px;
}
