.content {
    margin-right: var(--space-eight);
}

.container {
    align-items: flex-start;
    display: flex;
    width: 100%;
}

.closeButton {
    background-color: transparent;
    border: none;
    margin-left: auto;
    padding: 0;
}

.closeButton img {
    height: var(--size-default);
    margin-right: 0;
    width: var(--size-default);
}
