.container {
    margin: 0 auto;
    position: relative;
    padding: calc(var(--space-default) * 1.5);
    width: 100%;
}

:global(.padded) .container {
    max-width: var(--content-width);
}

.status {
    font-size: var(--size-subheader);
    max-width: 90%;
    text-align: left;
}

.success {
    background-color: var(--color-success);
    color: var(--color-white);
}

.warning {
    background-color: var(--color-warning);
    color: var(--color-white);
}

.info {
    background-color: var(--color-info);
    color: var(--color-white);
}

.close-success {
    background: var(--color-darkgreen);
}

.close-warning {
    background: var(--color-swissred);
}

.close-info {
    background: var(--color-darkblue);
}

.close {
    border: none;
    color: var(--color-white);
    line-height: .5;
    padding: var(--space-half);
    position: absolute;
    top: 0;
    right: 0;
}

.close svg {
    width: 18px;
    height: 18px;
}

@media (max-width: 768px) {
    .container {
        padding: calc(var(--space-half) * 1.5);
    }

    .status {
        font-size: var(--size-subheader-mobile);
    }
}
