.section {
    margin-bottom: var(--space-default)
}

.section h3 {
    margin-bottom: var(--space-half)
}

.skeletonWrapper {
    margin-bottom: var(--size-default);
}


@media (max-width: 768px) { 
    .skeletonWrapper {
         margin-bottom: 2px;
    }
}