.setting {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: var(--item-height);
    padding: 10px var(--space-half);
}

.setting > label {
    flex-shrink: 0;
}

.setting.disabled > p {
    color: var(--color-gray-alt);
}

.coinLogo {
    outline: 3px solid white;
    position: relative;
    z-index: 2;
}

.acccountLink {
    align-items: center;
    display: flex;
}

.accountName {}

.accountActive {
    cursor: pointer;
}

.tokenSection {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 10px 4px;
}

.token {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: var(--item-height);
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.token::before {
    background-color: #ddd;
    content: "";
    height: 22px;
    left: 10px;
    position: absolute;
    top: -13px;
    right: 8px;
    width: 3px;
}

.token img:first-child {
    margin-right: 0;
}

.tokenIcon {
    max-height: 24px;
    max-width: 24px;
}

.tokenName {
    flex: 1;
    display: inline-block;
    padding-left: 20px;
}

.tokenActive {}

.tokenInactive {
    color: var(--color-gray-alt);
    transition: color 0.2s ease;
}
