
.addAccountBtn {
    margin-bottom: var(--spacing-default);
}

.accountNameInactive {
    color: var(--color-secondary);
}

.disabledText {
    color: var(--color-secondary);
    margin: 0;
}

.walletHeader {
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--space-eight);
}

.walletTitle {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 var(--space-quarter) 0;
}

.walletTitle small {
    color: var(--color-secondary);
    font-size: var(--size-default);
}

.setting {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: var(--item-height);
    padding: var(--space-quarter) 0;
}

.setting:not(:last-child) {
    border-bottom: solid 1px var(--background);
}

.coinLogo {
    position: relative;
    z-index: 2;
}

.acccountLink {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.editBtn {
    min-width: 0;
    padding: 0 0 0 var(--space-quarter);
}

.editBtn img {
    margin-right: var(--space-quarter);
    max-width: 18px;
    height: auto;
    vertical-align: text-bottom;
}

.toggleLabel {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.toggleLabelText {
    color: var(--color-secondary);
}

.toggleLabelText img {
    color: var(--color-secondary);
    margin-right: var(--space-quarter);
    max-width: 18px;
    vertical-align: bottom;
}

.toggle {
    flex-basis: 60px;
    flex-shrink: 0;
    margin-left: var(--spacing-half);
}

.accountActive {
    cursor: pointer;
}

.tokenSection {
    align-items: flex-start;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 0 4px;
}

.tokenContainer {
    max-height: 0vh;
    overflow: hidden;
    transition: max-height .27s ease;
    width: 100%;
}

.tokenContainerOpen {
    /*
        a numeric value that is higher than the height of the token list,
        so the animation works nicely.
        could be also be a fixed high value, e.g. 3000rem
        i.e.
     */
    max-height: 200vh;
    padding: 10px 0 0 0;
}

.token {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: var(--item-height);
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.token::before {
    background-color: #ddd;
    content: "";
    height: 22px;
    left: 10px;
    position: absolute;
    top: -13px;
    right: 8px;
    width: 3px;
}

.token:first-child::before {
    height: 16px;
    top: -7px;
}

.token img:first-child {
    margin-right: 0;
}

.tokenIcon {
    max-height: 24px;
    max-width: 24px;
}

.tokenName {
    flex: 1;
    display: inline-block;
    padding-left: 20px;
}

.tokenInactive {
    color: var(--color-tertiary);
    transition: color 0.2s ease;
}

.expandBtn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' aria-labelledby='chevron down' color='%235e94bf'%3E%3Cdefs/%3E%3Cpolyline points='6 10 12 16 18 10'/%3E%3C/svg%3E%0A");
    background-position: 100% center;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 var(--space-default);
}

.expandBtnOpen {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' aria-labelledby='chevron down' color='%235e94bf'%3E%3Cdefs/%3E%3Cpolyline points='6 16 12 10 18 16'/%3E%3C/svg%3E%0A");
}

.expandBtn,
.expandBtn:focus,
.expandBtn:hover {
    border-color: transparent !important;
    margin-left: 10px;
    outline: none;
}


.watchOnlyContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-half);
}

.watchOnlyNote {
    margin: 0;
    margin-top: var(--space-half);
}

.watchOnlyAccountHidden {
    background-color: var(--color-success);
    margin-top: var(--space-half);
    padding: var(--space-half);
}

.watchOnlyAccountHidden p {
    color: var(--color-alt);
    margin: 0;
}