.container {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--fat-border-color);
    width: 100%;
}

.container.fixed {
    position: fixed;
    left: var(--sidebar-width);
    height: var(--header-height);
    width: calc(100% - var(--sidebar-width));
    z-index: 1001;
}

.header {
    padding: var(--spacing-large);
    max-width: var(--content-width);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: none;
    margin: 0 auto;
}

.header.children {
    padding: var(--spacing-large) var(--spacing-large) 0 var(--spacing-large);
    max-width: var(--content-width);
    width: 100%;
}

.children {
    padding: 0 var(--spacing-large) var(--spacing-large) var(--spacing-large);
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: none;
}

.header > *:nth-child(2) {
    flex: 1;
}

.header.narrow > *:nth-child(2) {
    text-align: center;
}

.header.narrow > *:nth-child(2) > * {
    max-width: 600px;
    width: 100%;
}

.title > * {
    margin: 0;
    font-size: var(--size-large);
    font-weight: 300;
    line-height: 32px;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.header.children .title > * {
    font-size: var(--size-medium);
    font-weight: normal;
    text-transform: uppercase;
}

.sidebarToggler {
    width: 32px;
    height: 32px;
    margin-right: var(--spacing-default);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebarToggler img {
    width: 20px;
}

@media (min-width: 901px) {
    .sidebarToggler {
        display: none;
    }
}

@media (max-width: 900px) {
    .header {
        padding: calc(var(--spacing-default) + var(--spacing-half)) var(--spacing-default) calc(var(--spacing-default) + var(--spacing-half)) var(--spacing-default);
    }

    .header.narrow > *:nth-child(2) > * {
        position: relative;
        left: calc(var(--spacing-default) * -1);
    }
    

    .header.children {
        padding: calc(var(--spacing-default) + var(--spacing-half)) var(--spacing-default) 0 var(--spacing-default);
    }

    .children {
        padding: 0 var(--spacing-default) calc(var(--spacing-default) + var(--spacing-half)) var(--spacing-default);
    }
}

@media (max-width: 640px) {
    .header {
        padding: calc(var(--spacing-default) + var(--spacing-half)) var(--spacing-half);
    }

    .header.narrow > *:nth-child(2) > * {
        position: initial;
    }

    .header.children {
        padding: calc(var(--spacing-default) + var(--spacing-half)) var(--spacing-half) 0 var(--spacing-half);
    }

    .children {
        padding: 0 var(--spacing-half) calc(var(--spacing-default) + var(--spacing-half)) var(--spacing-half);
    }

    .sidebarToggler {
        margin-right: var(--spacing-half);
    }

    .title > * {
        font-size: var(--size-large-mobile);
    }
}
