.container {
    align-items: center;
    display: none;
    position: relative;
}

.backButton {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--color-default);
    display: flex;
    font-size: var(--size-default);
    height: auto;
    min-width: 0;
    padding: var(--space-quarter);
    padding-left: 0;
    text-decoration: none;
}

.backButton:focus {
    outline: none;
}

.backButton:hover {
    cursor: pointer;
}

.headerText {
    font-size: var(--size-default);
    font-weight: 400;
    margin: 0 auto;
    position: absolute;
    left: calc(50% + 16px);
    transform: translateX(calc(-50% + 16px));
}

@media (max-width: 768px) {
    .container {
        display: flex;
    }
}

@media (max-width: 329px) {
    .backButton span {
        display: none;
    }
    
    .headerText {
        left: calc(50% + 8px);
        transform: translateX(calc(-50% + 8px));
    }
}