.container {
    align-items: center;
    display: none;
    position: relative;
}

.backButton {
    background-color: transparent;
    border: none;
    color: var(--color-default);
    display: flex;
    align-items: center;
    font-size: var(--size-title);
    padding: var(--space-quarter);
    padding-left: 0;
    text-decoration: none;
}

.backButton:focus {
    outline: none;
}

.backButton:hover {
    cursor: pointer;
}

.backButton img {
    margin-right: var(--space-eight);
}

.headerText {
    font-size: var(--size-title);
    font-weight: 400;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.withGuide .headerText {
    left: calc(50% + 22px);
}

@media (max-width: 768px) {
    .container {
        display: flex;
    }
}