.backupsList {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: var(--spacing-default) 0;
    position: relative;
    text-align: left;
}

.agreements {
    margin-bottom: 1rem;
}
