.backupsList {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 0 var(--spacing-default) 0;
    position: relative;
    text-align: left;
    flex: 1;
}

.agreements {
    margin-bottom: 1rem;
}

.fillSpace {
    margin-top: calc(var(--spacing-default) * -1) !important;
}

.emptyText {
    text-align: center;
    color: var(--color-secondary);
    padding: var(--spacing-large) 0;
}
