.subtitle {
  font-size: var(--size-subheader);
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 calc(var(--space-half) * 1.5) 0;
}

@media (min-width: 1200px) {
  .subtitle {
    --size-subheader: min(2rem, 36px);
  }
}
