.txArrowType {
    width: 18px;
    height: 18px;
}

.txArrowTypeIn {
    stroke: var(--color-success) !important;
}

.txArrowTypeOut {
    stroke: var(--color-danger) !important;
}

.txArrowTypeSelf {
    stroke: var(--color-secondary) !important;
}

.save {
    position: relative;
    right: 1px;
    top: 1px;
}
