.container {
    align-items: stretch;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    overflow: auto;
    max-width: var(--content-width-small);
    width: 100%;
}
