.point2bitbox02 {
    text-align: center;
}

.caret {
    display: block;
    margin: 0 auto;
}

.bitbox02 {
    display: inline-block;
    max-width: min(264px, 80%);
    position: relative;
    right: -16px;
}
