.coinUnit {
    color: var(--color-secondary);
    font-weight: normal;
}

.keystoreName {
    font-size: var(--font-size-default);
}


.assetBalanceRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.assetBalanceInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-half);
    min-width: 0;
}

.assetBalanceNameCol {
    display: flex;
    flex-direction: column;
    gap: var(--space-eight);
    min-width: 0;
    overflow: hidden;
}

.assetBalanceName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.assetBalanceAmounts {
    display: flex;
    flex-direction: column;
    gap: var(--space-eight);
    align-items: flex-end;
    min-height: 46px;
}

.keystoreContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keystoreHeader {
    display: flex;
    flex-direction: row;
    padding: 0 var(--space-half);
    justify-content: space-between;
}

.keystoreBalanceAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-eight);
}

.coinGroupList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coinGroupCard {
    display: flex;
    flex-direction: column;
    padding: var(--space-half);
    border-radius: var(--radius-xl);
    background-color: var(--background-secondary);
    width: 100%;
}

.coinGroupTotal {
    margin: var(--space-quarter) 0;
}

.totalLabel {
    font-size: 12px;
}

.totalNameCol {
    display: flex;
    flex-direction: column;
    gap: var(--space-eight);
    min-width: 0;
    overflow: hidden;
}

.tokenItem {
    padding-left: 4px;
}

.tokenItemFirst {
    margin-top: var(--space-quarter);
}

.noAccountText {
    text-align: center;
    font-size: 14px;
}


.keystoresContainer {
    margin-top: var(--space-default);
    display: flex;
    flex-direction: column;
    gap: var(--space-default);
    padding: var(--space-half);
}


.assetBalanceInfoFull {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-half);
    min-width: 0;
    width: 100%;
}

.assetBalanceDetailsCol {
    display: flex;
    flex-direction: column;
    gap: var(--space-eight);
    width: 100%;
    min-width: 0;
}

.assetBalanceDetailRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-width: 0;
}

.assetBalanceNameFlex {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 0;
}

.assetBalanceAmountFixed {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    text-align: end;
    white-space: nowrap;
}

.unitPrice {
    color: var(--color-secondary);
}

.unit {
    font-size: var(--size-smaller);
}

.pairUnit {
    color: var(--color-secondary);
    font-size: var(--size-smaller);
}
