.coinUnit {
    color: var(--color-secondary);
    font-weight: normal;
}


.assetBalanceRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    width: 100%;
}

.assetBalanceInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-half);
}

.assetBalanceNameCol {
    display: flex;
    flex-direction: column;
    gap: var(--space-eight);
}

.assetBalanceAmounts {
    display: flex;
    flex-direction: column;
    gap: var(--space-eight);
    align-items: flex-end;
    min-height: 46px;
}

.assetBalanceAmountsWrapped {
    align-items: flex-start;
    margin-bottom: 8px;
}

.keystoreContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keystoreHeader {
    display: flex;
    flex-direction: row;
    padding: 0 var(--space-half);
    justify-content: space-between;
}

.keystoreBalanceAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-eight);
}

.coinGroupList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coinGroupCard {
    display: flex;
    flex-direction: column;
    padding: var(--space-half);
    border-radius: var(--radius-xl);
    background-color: var(--background-secondary);
    width: 100%;
}

.coinGroupTotalWrap {
    margin-top: var(--space-quarter);
}

.totalLabel {
    font-size: 12px;
}

.totalNameCol {
    display: flex;
    flex-direction: column;
    gap: var(--space-eight);
}

.tokenItemWrap {
    padding-left: 4px;
}

.tokenItemWrapFirst {
    margin-top: 8px;
}

.tokenListItemGrid {
    flex-wrap: wrap !important;
}

.noAccountText {
    text-align: center;
    font-size: 14px;
}


.keystoresContainer {
    margin-top: var(--space-default);
    display: flex;
    flex-direction: column;
    gap: var(--space-default);
    padding: var(--space-half);
}


.unitPrice {
    color: var(--color-secondary);
}