.chart {
  box-sizing: border-box;
  margin-bottom: var(--spacing-large);
  position: relative;
}

.invisible {
  visibility: hidden;
}

.chartUpdatingMessage {
  align-items: center;
  color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--space-half);
  text-align: center;
}

.chart header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-half);
  min-height: 68px;
}

.summary {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.filters {
  justify-content: flex-end;
  margin: var(--spacing-half) 0 0 0;
}

@media (max-width: 640px){
  .chart{
    margin-bottom: var(--spacing-default);
  }
  .chart header {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .summary{
    align-items: center;
  }

  .filters {
    justify-content: center;
    margin-top: var(--spacing-default);
  }
}

@media (max-width: 768px) {
  .chart {
    padding-left: var(--space-half);
    padding-right: var(--space-half);
  }
}

.totalValue {
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
}

.totalUnit {
  color: var(--color-secondary);
  display: inline-block;
  margin-bottom: 3px;
  font-size: 1.4rem;
  padding: 0 .25rem;
}

.chartCanvas {
  position: relative;
}

@media (max-width: 640px) {
  .chartCanvas {
    max-width: 100%;
    overflow: hidden;
  }
}

.tooltip {
  background: var(--background-secondary);
  border: 1px solid var(--background);
  border-radius: 3px;
  font-size: var(--size-small);
  margin-top: -25px;
  min-width: 140px;
  padding: .75rem .6rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: left .03s ease-out, top .03s ease-out;
  z-index: 12;
}

.toolTipValue {
  font-weight: normal;
  font-size: 1rem;
  margin: 0 0 .25rem 0;
}

.toolTipUnit {
  color: var(--color-secondary);
  font-size: var(--size-small);
  padding: 0 .125rem;
}

.toolTipTime {
  white-space: nowrap;
}