.chart {
  box-sizing: border-box;
  margin-bottom: var(--space-default);
  position: relative;
  white-space: nowrap;
}

.invisible {
  visibility: hidden;
}

.chartUnavailableMessageContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}


.chartUpdatingMessage,
.chartUnavailableMessage {
  align-items: center;
  color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--space-half);
  text-align: center;
  white-space: normal;
}

.chartUnavailableMessage {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-quarter);
}

.chartUnavailableMessage p {
  margin: 0;
}

.chartUnavailableMessage img {
  width: 24px;
  height: 24px;
}

.chart header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-quarter);
  min-height: min(7rem, 110px);;
}

.summary {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
}

.filters {
  justify-content: flex-end;
  margin: var(--space-quarter) 0 0 0;
}

@media (max-width: 768px){
  .chart {
    margin-bottom: var(--space-half);
  }
  .chart header {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .summary{
    align-items: center;
  }

  .filters {
    justify-content: center;
    margin-top: var(--space-half);
  }
}

.transitionDiv {
  display: none;
}

@media (max-width: 768px) {

  .chartUnavailableMessage img {
    width: 20px;
    height: 20px;
  }

  .transitionDiv {
    background-color: var(--background);
    display: block;
    position: absolute;
    right: 0;
    transition: width 1s ease-in-out;
    transform-origin: left;
    width: 100%;
    z-index: 99;
  }
  
  .overlayRemove {
    width: 0;
  }

  .placeholderContainer {
    padding: 0 var(--space-half);
  }
}

.totalValue {
  align-items: flex-end;
  display: flex;
  font-size: var(--size-large);
  max-width: 100%;
}

.totalUnit {
  color: var(--color-secondary);
  display: inline-block;
  font-size: var(--size-header);
  margin-bottom: 3px;
  padding: 0 4px;
}

.chartCanvas {
  position: relative;
}

@media (max-width: 640px) {
  .chartCanvas {
    max-width: 100%;
    overflow: hidden;
  }
}

.tooltip {
  background: var(--background-secondary);
  border: 1px solid var(--background);
  border-radius: 3px;
  font-size: var(--size-smaller);
  margin-top: -25px;
  min-width: 140px;
  padding: 12px 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: left .03s ease-out, top .03s ease-out;
  z-index: 12;
}

.toolTipValue {
  font-weight: normal;
  font-size: 1.6rem;
  margin: 0 0 4px 0;
}

.toolTipUnit {
  color: var(--color-secondary);
  font-size: var(--size-smaller);
  padding: 0 2px;
}

.toolTipTime {
  white-space: nowrap;
}

