.chart {
  box-sizing: border-box;
  margin-bottom: var(--spacing-large);
  position: relative;
}

.invisible {
  visibility: hidden;
}

.chartUpdatingMessage {
  align-items: center;
  color: var(--color-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}


.chart header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-half);
  min-height: 68px;
}

.summary {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filters {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  margin: var(--spacing-half) 0 0 0;
}

@media (max-width: 640px){

  .chart{
    margin-bottom: var(--spacing-default);
  }

  .summary{
    align-items: center;
  }

  .filters{
    justify-content: center;
    margin-top: var(--spacing-default);
  }
}


.filters button {
  appearance: none;
  background: var(--background-secondary);
  border: 2px solid var(--background-secondary);
  border-radius: 2rem;
  color: var(--color-default);
  font-size: var(--size-default);
  line-height: 1.75;
  margin-bottom: var(--spacing-half);
  margin-left: var(--spacing-half);
  padding: 0 calc(var(--spacing-default) * .75);
}

.filters button:hover:not([disabled]) {
  cursor: pointer;
}

.filters button:hover:is([disabled]) {
  cursor: not-allowed;
}

.filters button:focus {
  border: 2px solid var(--color-blue);
  outline: none;
}

.filters button.filterActive {
  background: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-alt);
}

.filters button[disabled] {
  background: var(--background-quaternary);
  border-color: var(--background-quaternary);
  color: var(--color-alt);
}
:global(.dark-mode) .filters button[disabled] {
  background: var(--background-secondary);
  border-color: var(--background-secondary);
  color: var(--color-disabled);
}

.arrow svg {
  margin-right: .25rem;
  vertical-align: text-bottom;
}

.up {
  color: var(--color-green);
}

.down {
  color: var(--color-softred);
}

.totalValue {
  font-size: 2rem;
}

.totalUnit {
  color: var(--color-secondary);
  display: inline-block;
  font-size: 1.4rem;
  padding: 0 .25rem;
}

.diffValue {
  font-size: 1.2rem;
}

.diffUnit {
  font-size: 1rem;
  padding: 0 .25rem;
}

.chartCanvas {
  position: relative;
}

@media (max-width: 640px){
  .chartCanvas {
    width: 100vw;
    margin-left: calc(var(--space-half) * -1);
  } 
}
  

.tooltip {
  background: var(--background-secondary);
  border: 1px solid var(--background);
  border-radius: 3px;
  font-size: var(--size-small);
  margin-top: -25px;
  min-width: 140px;
  padding: .75rem .6rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: left .03s ease-out, top .03s ease-out;
  z-index: 12;
}

.toolTipValue {
  font-weight: normal;
  font-size: 1rem;
  margin: 0 0 .25rem 0;
}

.toolTipUnit {
  color: var(--color-secondary);
  font-size: var(--size-small);
  padding: 0 .125rem;
}

.toolTipTime {
  white-space: nowrap;
}
