.chart {
  box-sizing: border-box;
  margin-bottom: var(--spacing-large);
  position: relative;
}

.invisible {
  visibility: hidden;
}

.chartUpdatingMessage {
  align-items: center;
  color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--space-half);
  text-align: center;
}

.chart header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-half);
  min-height: 68px;
}

.summary {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filters {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  margin: var(--spacing-half) 0 0 0;
}

@media (max-width: 640px){

  .chart{
    margin-bottom: var(--spacing-default);
  }
  .chart header {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .summary{
    align-items: center;
  }

  .filters{
    justify-content: center;
    margin-top: var(--spacing-default);
  }
}

@media (max-width: 768px) {
  .chart {
    padding-left: var(--space-half);
    padding-right: var(--space-half);
  }
}

.filters button {
  appearance: none;
  background: var(--background-secondary);
  border: 2px solid var(--background-secondary);
  border-radius: 32px;
  color: var(--color-default);
  font-size: var(--size-default);
  line-height: 1.75;
  margin-bottom: var(--spacing-half);
  margin-left: var(--spacing-half);
  padding: 0 calc(var(--spacing-default) * .75);
}

.filters button:first-child {
  margin-left: 0;
}

.filters button:hover:not([disabled]) {
  cursor: pointer;
}

.filters button:hover:is([disabled]) {
  cursor: not-allowed;
}

.filters button:focus {
  border: 2px solid var(--color-blue);
  outline: none;
}

.filters button.filterActive {
  background: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-alt);
}

.filters button[disabled] {
  background: var(--background-quaternary);
  border-color: var(--background-quaternary);
  color: var(--color-alt);
}
:global(.dark-mode) .filters button[disabled] {
  background: var(--background-secondary);
  border-color: var(--background-secondary);
  color: var(--color-disabled);
}


.totalValue {
  font-size: 32px;
  display: flex;
  align-items: flex-end;
}

.totalUnit {
  color: var(--color-secondary);
  display: inline-block;
  margin-bottom: 3px;
  font-size: 22px;
  padding: 0 4px;
}

.chartCanvas {
  position: relative;
}

@media (max-width: 640px) {
  .chartCanvas {
    max-width: 100%;
    overflow: hidden;
  }
}
  

.tooltip {
  background: var(--background-secondary);
  border: 1px solid var(--background);
  border-radius: 3px;
  font-size: var(--size-small);
  margin-top: -25px;
  min-width: 140px;
  padding: 12px 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: left .03s ease-out, top .03s ease-out;
  z-index: 12;
}

.toolTipValue {
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 4px 0;
}

.toolTipUnit {
  color: var(--color-secondary);
  font-size: var(--size-small);
  padding: 0 2px;
}

.toolTipTime {
  white-space: nowrap;
}
