
.arrow img {
  margin-right: 4px;
  vertical-align: text-bottom;
}

.up {
  color: var(--color-green);
}

.down {
  color: var(--color-softred);
}

.diffValue {
  font-size: 1.9rem;
}

.diffUnit {
  font-size: 1.6rem;
  padding: 0 4px;
}
