
.arrow {
  line-height: 1;
  vertical-align: text-bottom;
}

.arrow img {
  height: min(2rem, 25px);
  margin-right: 4px;
  width: min(2rem, 25px);
}

.up {
  color: var(--color-green);
}

.down {
  color: var(--color-softred);
}

.diffValue {
  font-size: var(--size-header);
}

.diffUnit {
  font-size: var(--size-default);
  padding: 0 4px;
}
