.coincode {
    height: 24px;
    /* padding: 0px 0px 4px 10px; */
}

.coinheader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coinheader > div:first-child {
    height: 24px;
    margin-right: calc(var(--space-half) / 2);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--spacing-default);
    border: solid 1px var(--color-brightgray);
}

.table tr td,
.table tr th {
    height: 52px;
    padding: var(--space-half);
    text-align: left;
    font-weight: 400;
}

.table tr > td:not(:first-child),
.table tr > th:not(:first-child) {
    text-align: right;
}

.table thead th {
    font-size: var(--size-small);
    background-color: var(--color-lightergray);
    color: var(--color-black);
}

.table tr td,
.table tfoot th {
    font-size: var(--size-default) !important;
}

.table tbody td {
    background-color: var(--color-white);
}

.table tfoot th {
    background-color: var(--color-lightergray);
}

@media (max-width: 640px) {
    .table tr td,
    .table tr th {
      padding: var(--spacing-default);
    }
}
