.balance, .balanceSingleValue{
    margin-left: auto;
    color: var(--color-secondary);
}

.balanceSingleValue {
    margin-right: var(--space-quarter);
}

.dropdown {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-labelledby='chevron down' color='%23777'%3E%3Cdefs/%3E%3Cpolyline points='6 10 12 16 18 10'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    font-weight: 400;
    height: calc(var(--space-quarter) * 3);
    padding: 0 calc(var(--space-quarter) + var(--space-eight));
}

.select {
    margin-bottom: var(--space-half);
}

.select :global(.react-select__menu) {
    background-color: var(--background-dark);
}

.select :global(.react-select__option) {
    background-color: var(--background-dark);
}

.select :global(.react-select__option):hover, 
.select :global(.react-select__option--is-selected) {
    background-color: var(--background);
}

.select :global(.react-select__option--is-disabled) span {
    color: var(--color-secondary);
}

.select :global(.react-select__option--is-disabled):hover {
    background-color: transparent;
}

.select :global(.react-select__option--is-selected) .balance {
    color: var(--color-white);
}

.select :global(.react-select__control) {
    background-color: var(--background);
    padding: var(--space-quarter) var(--space-eight);
}

.select :global(.react-select__single-value) {
    width: 100%;
}

.selectLabelText {
    margin-left: 6px;
}

.singleValueContainer {
    align-items: center;
    display: flex;
    left: var(--space-quarter);
    position: absolute;
    width: 100%;
}


.valueContainer {
    align-items: center;
    color: var(--color-alt);
    display: flex;
}

.valueContainer > img {
    width: 20px;
    height: 20px;
}
