.banner {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 400;
    font-size: var(--size-subheader);
    padding: var(--space-half);
    text-align: center;
}

.smallIcon {
    margin: auto 0;
    width: 30px;
}

.successText {
    color: var(--color-gray);
    font-weight: 400;
    font-size: var(--size-subheader);
    margin-bottom: var(--space-quarter);
}
@media (max-width: 768px) {
    .successText {
        font-size: var(--size-default);
        margin-top: 0;
    }
}

.proceed {
    margin-bottom: var(--space-half);
    margin-top: 0;
}

.message {
    background-color: var(--color-white);
    border-color: var(--color-mediumgray);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    font-family: var(--font-family);
    font-size: var(--size-default);
    font-weight: 400;
    min-height: 52px;
    padding: var(--space-quarter) var(--space-half);
    text-align: left;
    width: 100%;
    white-space: pre-line;
}
@media (min-width: 1200px) {
    .message {
        --size-default: 18px;
    }
}
