.toast {
    position: fixed;
    display: block;
    top: calc(var(--header-height) + var(--space-half));
    right: calc((100% - var(--content-width)) / 2);
    transform: translateY(-300%);
    max-width: 360px;
    width: 100%;
    min-height: 20px;
    border-radius: 2px;
    padding: var(--space-half);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    transition: transform ease-out 0.2s;
    margin-right: var(--space-default);
}

.active {
    transform: translateY(0%);
}

.active.shifted {
    right: calc(var(--spacing-default) + 350px);
}

.info {
    background-color: var(--color-darkblue);
}

.success {
    background-color: var(--color-success);
}

.warning {
    background-color: var(--color-softred);
}

.toast p {
    margin: 0;
    color: var(--color-white);
}

@media (max-width: 1080px) {
    .toast {
        right: 0;
    }
}

@media (max-width: 768px) {
    .toast {
        top: calc(var(--header-height) + var(--space-quarter));
        max-width: calc(100% - var(--space-default));
        margin-right: var(--space-half);
    }
}