.cardBody {
  font-size: 16px;
  margin-bottom: calc(var(--space-half) + var(--space-quarter));
}

.cardBody2 {
  font-size: 14px;
  margin-bottom: var(--space-default);
}

.clean li {
  align-items: center;
  display: flex;
  margin-bottom: var(--space-half);
}

.clean span {
  margin-left: 10px;
}

.ctaButton button {
  padding: 0 var(--space-half);
  width: auto !important;
}

.ctaButton img {
  margin-right: var(--space-quarter);
  vertical-align: text-bottom;
}

.ctaButton:focus img,
.ctaButton:hover img {
  /* Applying "primary" (blue) color to the originally dark img SVG when button is hovered */
  filter: invert(53%) sepia(20%) saturate(1200%) hue-rotate(180deg) brightness(95%) contrast(90%); 
}

.errorMessage {
  color: var(--color-danger);
}

.gridContainer {
  margin-top: calc(var(--space-default) + var(--space-half));
}

.noVspace {
  line-height: 1.4;
  margin-bottom: 0px;
  margin-top: 0px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: var(--space-half);
}

ul.clean {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
}

@media (max-width: 768px) {
  .cardBody {
    font-size: var(--size-default);
  }

  .cardBody2 {
    font-size: var(--size-small);
  }

  .clean li {
    align-items: start;
    margin-bottom: var(--space-quarter);
  }

  .ctaButton {
    max-width: unset;
  }

  .gridContainer {
    margin-top: var(--space-half);
  }

  .title {
    font-size: 16px;
  }
}
