.buttonNewConnection {
    height: calc(var(--space-default) + var(--space-quarter));
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: calc(var(--space-half) + var(--space-quarter));
}

.headerContainer p {
    margin: 0;
}

.headerContainer p.receiveAddress { 
    color: var(--color-secondary);
    margin-top: var(--space-quarter);
    font-size: 1.6rem;
}

.noConnectedSessions {
    color: var(--color-secondary);
    font-size: 1.6rem;
    margin: 0;
    margin-top: var(--space-large);
    text-align: center;
}

.separator {
    background: var(--color-disabled);
    border: none;
    height: 2px;
    margin: 0;
}

.sessionCardsContainer {
    display: flex;
    flex-direction: column;
}

.allSessionsHeading {
    color: var(--color-secondary);
    font-size: 1.6rem;
    margin: 0;
    margin-top: var(--space-half);
}


@media (max-width: 768px) {
    .buttonNewConnection {
        height: var(--space-default);
        padding: 0 16px;
    }

    .headerContainer p {
        font-size: 1.6rem;
    }
    
    .headerContainer p.receiveAddress,
    .noConnectedSessions,
    .allSessionsHeading
    { 
        font-size: var(--size-default);
    }

    .allSessionsHeading {
        margin-top: var(--space-quarter);
    }
}