.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}
.column:first-child {
    flex-basis: 40%;
}

select.priority {
    border-right: none;
    padding-right: 0;
    text-transform: capitalize;
}

.fee input {
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
    padding-left: 0;
}

select:disabled.priority,
.fee input:disabled {
    border-color: var(--color-lightgray) !important;
}

select.priority,
.fee input {
    border-color: var(--color-mediumgray) !important;
}

.feeCustom input {
    padding-right: 4rem;
}

.feeDescription,
.feeProposed {
    color: var(--color-secondary);
    flex: 0 0 100%;
    font-size: var(--size-small);
    font-weight: 400;
    margin-top: 0;
}

.feeProposed {
    text-align: right;
}

.customFeeUnit {
    color: var(--color-secondary);
    font-size: var(--size-default);
    line-height: 50px;
    padding-right: var(--space-half);
    position: absolute;
    right: 0;
    bottom: 0;
}
