.row {
    display: flex;
    flex-direction: column;
}

.rowCustomFee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
}
.rowCustomFee .column:first-child {
    flex-basis: 50%;
}
.rowCustomFee .column:nth-child(2) {
    flex-basis: 50%;
}

@media (min-width: 640px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .column:first-child {
        flex-basis: 50%;
    }
    .column:nth-child(2) {
        flex-basis: 50%;
    }
}

.rowCustomFee select.priority {
    border-right: none;
    padding-right: 0;
}
.rowCustomFee .fee input {
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
    padding-left: 0;
    border-color: var(--background-quaternary) !important;
}
@media (min-width: 640px) {
    .fee input {
        border-bottom-left-radius: 0;
        border-left: none;
        border-top-left-radius: 0;
        padding-left: 0;
    }
}

select:disabled.priority {
    border-color: var(--background) !important;
}

select.priority {
    border-color: var(--background-quaternary) !important;
}

@media (min-width: 640px) {
    .fee input:disabled {
        border-color: var(--background) !important;
    }
    .fee input {
        border-color: var(--background-quaternary) !important;
    }
}

@media (max-width: 639px) {
    .row .fee * {
        display: block !important;
        text-align: left !important;
    }
    .row .fee input {
        border: none;
        color: var(--color-secondary) !important;
        font-size: var(--size-small);
        font-weight: 400;
        height: auto;
        margin-top: 0;
        padding: 0;
    }
}

.feeCustom input {
    padding-right: 58px;
}

.feeDescription,
.feeProposed {
    color: var(--color-secondary);
    flex: 0 0 100%;
    font-size: var(--size-small);
    font-weight: 400;
    margin-top: 0;
}

.feeDescription {
    margin: 0;
}

.feeDescription + .feeProposed {
    margin: var(--space-quarter) 0 0 0;
}

.customFeeUnit {
    bottom: 0;
    color: var(--color-secondary);
    font-size: var(--size-default);
    line-height: 50px;
    padding-right: var(--space-half);
    position: absolute;
    right: 0;
    width: 56px;
}
