.rowCustomFee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
}

.rowCustomFee .fee input {
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
    padding-left: 0;
    padding-right: 0;
    border-color: var(--background-quaternary) !important;
}

/* styles to overwrite default dropdown styling to make it fit into send */
.priority :global(.react-select__control) {
    border-color: var(--background-quaternary);
    border-radius: var(--radius-xl);
    border-width: var(--border-width);
    margin-bottom: var(--space-quarter);
    min-height: var(--input-height);
    padding-bottom: 0;
    padding-top: 0;
    z-index: 1;
}

.calculatingFeePlaceholder {
    margin-bottom: var(--space-quarter);
}

.fee {
    margin-bottom: var(--space-quarter);
}

.fee > div {
    padding: 0 var(--space-quarter) 0 0;
}

.fee > div:not(:focus-within):not(:has(:invalid)) {
    border-left: none;
}

@media (min-width: 640px) {
    .fee input:disabled {
        border-color: var(--background) !important;
    }
    .fee input {
        border-color: var(--background-quaternary) !important;
    }
}

.feeDescription {
    margin: 0 0 var(--space-half) 0;
}

.feeDescription p {
    color: var(--color-secondary);
    font-size: var(--size-smaller);
    font-weight: 400;
    margin: 0;
}

.rowCustomFee .priority :global(.react-select__control:not(:hover)) {
    border-right-color: var(--background-secondary);
    border-width: var(--border-width);
}

.fee input::placeholder {
    font-size: var(--size-small);
}

.customFeeUnit {
    color: var(--color-secondary);
    font-size: var(--size-small);
    line-height: var(--input-height);
    white-space: nowrap;
    width: auto;
}

.unit {
    color: var(--color-secondary);
    font-size: var(--size-default);
}

.errorText {
    color: var(--color-error);
    display: inline-block;
}

.errorText::first-letter {
    text-transform: capitalize;
}
