.rowCustomFee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
}
.rowCustomFee .column:first-child {
    flex-basis: 50%;
}
.rowCustomFee .column:nth-child(2) {
    flex-basis: 50%;
}

@media (min-width: 640px) {
    .column:first-child {
        flex-basis: 50%;
    }
    .column:nth-child(2) {
        flex-basis: 50%;
    }
}

.rowCustomFee select.priority {
    border-right: none;
    padding-right: 0;
}
.rowCustomFee .fee input {
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
    padding-left: 0;
    padding-right: 58px;
    border-color: var(--background-quaternary) !important;
}
@media (min-width: 640px) {
    .fee input {
        border-bottom-left-radius: 0;
        border-left: none;
        border-top-left-radius: 0;
        padding-left: 0;
    }
}

/* styles to overwrite default dropdown styling to make it fit into send */
.priority :global(.react-select__control) {
    border-color: var(--background-quaternary);
    border-radius: 2px;
    border-width: var(--border-width);
    margin-bottom: var(--space-quarter);
    min-height: var(--input-height);
    padding-bottom: 0;
    padding-top: 0;
    z-index: 1;
}

@media (min-width: 640px) {
    .fee input:disabled {
        border-color: var(--background) !important;
    }
    .fee input {
        border-color: var(--background-quaternary) !important;
    }
}

.feeDescription,
.feeProposed {
    color: var(--color-secondary);
    flex: 0 0 100%;
    font-size: var(--size-smaller);
    font-weight: 400;
    margin-top: 0;
}

.feeProposed {
    margin: 0;
}

.feeDescription + .feeProposed {
    margin: var(--space-quarter) 0 0 0;
}

.rowCustomFee .priority :global(.react-select__control:not(:hover)) {
    border-right-color: var(--background-secondary);
    border-width: var(--border-width);
}

.customFeeUnit {
    bottom: var(--space-quarter);
    color: var(--color-secondary);
    font-size: min(var(--size-default), 20px);
    line-height: 1;
    height: calc(var(--input-height) * 0.5);
    padding-right: var(--space-half);
    position: absolute;
    right: 0;
    width: auto;
}

.unit {
    color: var(--color-secondary);
    font-size: var(--size-default);
}
