.input {
    padding: var(--spacing-default);
    border-radius: 2px;
    border: solid 1px var(--color-brightgray);
    font-size: var(--size-medium);
}

.input:focus {
    outline: none;
}

.labelHalf {
    width: 49%;
}

.labelHalf:first-child {
    margin-right: 2%;
}

.inputHalf {
    width: 49%;
}

.inputFull {
    width: 100%;
}

.notAllowed {
    cursor: not-allowed;
}

.confirmationTitle {
    margin-bottom: 0;
}

.confirmationBox {
    border-radius: 2px;
    border: solid 1px var(--color-lightgray);
}

.confirmationBox .block {
    padding: var(--spacing-default);
    overflow: hidden;
}

.confirmationBox .block.ignorePadding {
    padding: 0;
}

.confirmationBox .block:not(:last-child) {
    border-bottom: solid 0.5px var(--color-lightgray);
}

.confirmationBox .block:last-child {
    display: flex;
    flex-direction: column;
}

.confirmationBox .block p {
    margin: 0;
}

.confirmationBox .block .half {
    padding: var(--spacing-default);
    width: 50%;
}

.confirmationBox .block .half:first-child {
    border-right: solid 0.5px var(--color-lightgray);
}

.confirmationBox .block .confirmationLabel {
    margin-bottom: var(--spacing-half);
}

.confirmationValueTable {
    border-collapse: collapse;
}

.confirmationValueTable td {
    line-height: 1;
    vertical-align: bottom;
}

.confirmationValueTable td:first-child {
    text-align: right;
    padding-right: var(--spacing-half);
}

.confirmationValueTable tr > td:last-child {
    color: var(--color-secondary);
    font-size: var(--size-label);
    font-weight: normal;
}

.confirmationValueTable.total td {
    font-weight: 300;
    font-size: var(--size-large);
}

.confirmationValue {
    font-size: var(--size-medium);
    line-height: 1;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
}

.maxAmount {
    position: relative;
    top: -.5rem;
}

.action {
    color: var(--color-primary);
    font-size: var(--size-small);
    font-weight: bold;
    text-transform: uppercase;
    top: -.5rem;
    position: relative;
    margin-bottom: calc(var(--spacing-half) / 2);
    cursor: pointer;
    user-select: none;
}

.feeDescription {
    margin-top: calc(var(--spacing-default) * -1);
    font-size: var(--size-small);
    color: var(--color-secondary);
}
