.sendHeader {
    align-content: baseline;
    color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--size-subheader);
    gap: var(--space-half);
    justify-content: space-between;
    margin-bottom: var(--space-quarter);
}

.subTitle {
    margin-bottom: var(--space-quarter);
    margin-top: 0;
}

@media (min-width: 769px) {
    .sendHeader {
        margin-top: 0;
    }
}

.availableBalance {
    flex-basis: 100%;
    margin-bottom: var(--size-default);
    max-width: 100%;
}

.unit {
    color: var(--color-secondary);
    font-size: var(--size-default);
}

.sendForm {
    --grid-min-height: 100px;
}