.utxosList {
    list-style: none;
    padding: 0 0 var(--space-half) 0;
}

.utxosList label {
    user-select: text;
    width: 100%;
}

.utxo {
    margin-top: var(--space-half);
    padding: 0 0 var(--space-eight) 0;
    border-bottom: solid 1px var(--color-lightgray);
}

.utxoContent {
    align-items: flex-start;
    color: var(--color-default);
    display: flex;
    flex-wrap: nowrap;
    font-size: var(--size-subheader);
}

.note {
    color: var(--color-default);
    font-size: var(--size-subheader);
    line-height: 1.5;
    margin-top: -7px;
    margin-bottom: var(--space-quarter);
}

.utxoData {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.utxoExplorer {
    margin-top: calc(var(--space-quarter) * -1);
    padding: var(--space-quarter);
}

.utxoExplorer img {
    width: 18px;
    height: 18px;
}

.amounts {
    padding-bottom: var(--space-quarter);
}

.amount {
    margin-right: var(--space-quarter);
}

.label,
.unit {
    color: var(--color-secondary);
}

.label {
    display: inline-block;
    padding-right: 4px;
}

.unit {
    font-size: var(--size-default);
}

.address,
.transaction {
    display: flex;
    font-size: var(--size-default);
    line-height: 1.5;
    white-space: nowrap;
}

.shrink {
    overflow: hidden;
    text-overflow: ellipsis;
}
