.table {
    border-collapse: collapse;
    text-align: left;
}

.table td:nth-child(1) {
    vertical-align: top;
}

.table td:nth-child(3),
.table th:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(4) {
    text-align: right;
    white-space: nowrap;
}

.table td:nth-child(4) {
    text-align: right;
    padding-left: var(--spacing-default);
}
