.button {
    color: var(--color-secondary);
    font-size: var(--size-small);
    font-weight: bold;
    text-transform: uppercase;
    top: -.5rem;
    position: relative;
    margin-bottom: calc(var(--spacing-half) / 2);
    cursor: pointer;
    user-select: none;
}

.fiatList label {
    min-width: 250px;
}

.fiatList label span {
    color: var(--color-white);
    display: inline-block;
    font-size: var(--size-small);
    margin-left: var(--spacing-half);
    padding: 1px var(--spacing-half);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    line-height: 16px;
    cursor: pointer;
}

.fiatList label:focus span,
.fiatList label:hover span,
.fiatList label span:focus,
.fiatList label span:hover {
    color: var(--color-primary);
    outline: none;
    background-color: var(--color-focus);
    color: var(--color-white);
}

.fiatList label span.show {
    background-color: var(--color-info);
    cursor: default;
}
