.button {
    color: var(--color-secondary);
    font-size: var(--size-small);
    font-weight: bold;
    text-transform: uppercase;
    top: -.5rem;
    position: relative;
    margin-bottom: calc(var(--spacing-half) / 2);
    cursor: pointer;
    user-select: none;
}

.fiatList label {
    min-width: 250px;
}

.fiatList label span {
    color: var(--color-white);
    display: inline-block;
    font-size: var(--size-small);
    margin-left: var(--spacing-half);
}

.fiatList label:focus span,
.fiatList label:hover span,
.fiatList label span:focus,
.fiatList label span:hover {
    color: var(--color-primary);
    outline: none;
}

.fiatList label span.show {
    color: var(--color-primary);
}
