.link {
    align-items: center;
    background: none;
    border: none;
    color: var(--color-blue);
    cursor: default;
    display: flex;
    flex-direction: row;
    font-size: var(--size-default);
    justify-content: flex-start;
    padding: var(--space-quarter);
}

.link svg {
    width: 18px;
    height: 18px;
    margin-right: calc(var(--space-quarter) / 2);
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--item-height);
    padding: 0 var(--space-half);
    color: var(--color-blue);
    border: none;
    background-color: transparent;
    font-size: var(--size-default);
}

.language:focus {
    outline: none;
}

.language.selected {
    color: var(--color-default);
}

.language:hover {
    background-color: var(--background);
}

.checked {
    width: 18px;
    height: 18px;
}

@media (max-width: 768px) {
    .link {
        font-size: var(--size-smaller);
    }
}