.button img {
  width: 18px !important;
  margin-right: 5px !important;
}

.language {
  display: block;
  width: 100%;
  padding: var(--spacing-quarter) 0;
  color: var(--color-rock);
  border: none;
  background-color: transparent;
  font-size: var(--size-default);
}

.language.selected {
  color: var(--color-softblack);
}

.language:hover {
  background-color: var(--color-lightgray);
}

@media (max-width: 768px) {
  .language {
    font-size: var(--size-small) !important;
  }
}