.language {
  display: block;
  width: 100%;
  padding: var(--spacing-half) 0;
  color: var(--color-rock);
  border: none;
  background-color: transparent;
  font-size: var(--size-default);
}

.language.selected {
  color: var(--color-softblack);
}

.language:hover {
  background-color: var(--color-lightgray);
}
