.footer {
    max-width: var(--content-width);
    width: 100%;
    padding: 0 var(--space-default);
    margin: var(--space-default) auto;
}

.footer p {
    color: var(--color-secondary);
    font-size: var(--size-default);
    margin: 0;
}

.footer img {
    width: 120px;
    margin: 0 auto 0 0;
}

@media (max-width: 768px) {
    .footer {
        padding: 0 var(--space-half);
        margin: var(--space-half) 0;
    }

    .footer p {
        text-align: right;
        font-size: var(--size-smaller);
    }

    .footer img {
        width: 80px;
    }
}
