.footer {
    min-height: 2rem;
    padding-bottom: var(--space-half);
}

.footer p {
    color: var(--color-secondary);
    font-size: var(--size-small);
    margin: 0;
}

.footer img {
    width: 120px;
    margin: 0 auto 0 0;
}

@media (max-width: 640px) {
    .footer {
        padding: var(--spacing-half);
    }

    .footer p {
        text-align: right;
        font-size: 11px;
    }

    .footer img {
        width: 60px;
    }
}
