.columnAsCard {
    background-color: var(--background-secondary);
    border-radius: var(--radius-xl);
    padding: var(--space-default);
}

.column p {
    margin-top: 0;
}

.columnButtons:not(.columnButtonsInline) button {
    width: 100%;
}

.columnButtons button:not(:first-child) {
    margin-top: var(--space-quarter);
}

.columnButtonsInline {
    display: flex;
    flex-direction: row-reverse;
}

.columnButtonsInline > a:not(:first-child),
.columnButtonsInline > button:not(:first-child) {
    margin-right: var(--space-half);
    margin-top: 0;
}

.align-start {
    text-align: start;
}
.align-center {
    text-align: center;
}
.align-end {
    text-align: end;
}

@media (max-width: 768px) {
    .columnAsCard {
        padding: var(--space-half);
    }
    .columnAsCard + .columnAsCard {
        margin-top: var(--space-default);
    }
}

@media (min-width: 769px) {
    .grid {
        display: grid;
        gap: var(--space-default);
        grid-auto-rows: minmax(100px, auto);
    }

    .grid-columns-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .columnButtons {
        margin-top: auto;
    }
}
