.contentWithGuide {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  /* overflow: auto; */
  position: relative;
  width: 100%;
}
