.container {
    background-color: var(--color-white);
    width: 100%;
}

.container.fixed {
    position: fixed;
    left: var(--sidebar-width);
    height: var(--header-height);
    width: calc(100% - var(--sidebar-width));
    z-index: 1001;
}

.header {
    padding: 0 var(--space-default);
    max-width: var(--content-width);
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: none;
    margin: 0 auto;
}

.children {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.children > a {
    display: inline-block;
    height: 18px;
    font-size: var(--size-default);
    text-decoration: none;
    font-weight: 300;
}

.children > a > svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
}

.header.narrow > *:nth-child(2) {
    text-align: center;
}

.header.narrow > *:nth-child(2) > * {
    max-width: 600px;
    width: 100%;
}

.title {
    white-space: nowrap;
    flex: 1;
}

.title > * {
    margin: 0;
    font-size: var(--header-default-font-size);
    font-weight: 300;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.sidebarToggler {
    width: 32px;
    height: 32px;
    margin-right: var(--spacing-default);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebarToggler img {
    width: 20px;
}

.guideIconContainer {
    margin-left: var(--space-half);
}

.guideIcon {
    width: 18px;
    height: 18px;
    color: var(--color-blue);
}

@media (min-width: 1246px) {
    .sidebarToggler {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 var(--space-half);
    }

    .sidebarToggler {
        margin-right: var(--space-half);
    }
}
