.children {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--space-quarter);
}

.container {
    width: 100%;
}

.guideClose {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: var(--size-default);
    height: 50px;
    margin-left: var(--space-half);
    padding: 0;
    text-decoration: none;
}
@media (max-width: 768px) {
    .guideClose {
        margin-left: 0;
        min-width: auto;
        padding: 0 var(--space-quarter);
    }
}

.guideClose img {
    color: var(--color-blue);
    max-height: var(--size-default);
    width: var(--size-default);
}

.guideCloseText {
    margin-left: var(--space-eight);
}

.guideDisabled:disabled {
    opacity: 0;
    pointer-events: none;
}

.header {
    padding: 0 var(--space-default);
    max-width: var(--content-width);
    min-height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: none;
    margin: 0 auto;
    flex-wrap: wrap;
}

.sidebarToggler {
    width: 32px;
    height: 32px;
    margin-bottom: var(--space-quarter);
    margin-right: var(--space-half);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebarToggler img {
    width: 20px;
}

.title {
    white-space: nowrap;
    flex-grow: 1;
    margin-bottom: var(--space-quarter);
    padding-right: var(--space-half);
}

.centerTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 0;
}

.title > * {
    margin: 0;
    font-size: var(--size-header);
    font-weight: 400;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

@media (max-width: 768px) {
    .header {
        padding: var(--space-half);
        padding-bottom: 0;
    }

    .title {
        padding-right: 0;
    }

    .sidebarToggler.hideSidebarToggler {
        display: none;
    }

    .container .sidebarToggler {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .sidebarToggler {
        display: none;
    }
}
