.main {
    /* define background color so macOS renders native scrollbars with correct color */
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: inherit;
    overflow-y: auto;
    position: relative;
}
