.button {
    border-width: 0;
    display: flex;
    min-width: auto;
    padding: 0 var(--space-quarter);
    text-align: left;
}

.button img {
    height: var(--size-subheader);
    width: var(--size-subheader);
}
