.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    align-items: center;
    height: var(--item-height);
    text-decoration: none;
    border: none;
    color: var(--color-blue);
    background-color: var(--color-white);
    font-size: var(--size-default);
    font-weight: 400;
    padding: 0 var(--space-half);
    cursor: pointer;
}

.container svg {
    width: 18px;
    height: 18px;
    color: var(--color-rock);
}

.danger {
    color: var(--color-swissred);
}

.optionalText {
    margin-left: auto;
    margin-right: var(--space-quarter);
    font-size: var(--size-small);
    color: var(--color-rock);
    white-space: nowrap;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

.item {
    color: var(--color-default);
    cursor: default;
}

.container:focus {
    outline: solid 1px var(--color-blue);
}