.container {
    width: 100%;
    min-width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--item-height);
    text-decoration: none;
    text-align:left;
    border: none;
    color: var(--color-blue);
    background-color: var(--background-secondary);
    font-size: var(--size-default);
    font-weight: 400;
    padding: 0 var(--space-half);
    cursor: pointer;
}

.container svg,
.container img {
    width: 18px;
    height: 18px;
    color: var(--color-secondary);
}

.danger {
    color: var(--color-softred);
}

.children {
    min-width: 120px;
}

.optionalText {
    margin-left: auto;
    margin-right: var(--space-quarter);
    font-size: var(--size-smaller);
    color: var(--color-secondary);
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.secondaryText {
    color: var(--color-secondary);
    font-size: var(--size-smaller);
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primaryText {
    display: block;
}

.icon img {
    margin-left: 8px;
    margin-bottom: -4px;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

.item {
    color: var(--color-secondary);
    cursor: default;
}

.container:focus {
    outline: solid 1px var(--color-blue);
}
