.optionContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.defaultCurrency:hover {
    cursor: not-allowed;
}

.defaultLabel {
    font-size: var(--size-smaller);
    margin: 0;
    text-transform: capitalize;
}
