.trigger,
.triggerContent,
.valueContainer {
    --logo-image-width: 20px;
}

.balance, .balanceSingleValue {
    color: var(--color-secondary);
    margin-left: auto;
    max-width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
}

.balanceSingleValue {
    margin-left: var(--space-quarter);
    margin-right: var(--space-quarter);
}

.dropdown {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-labelledby='chevron down' color='%23777'%3E%3Cdefs/%3E%3Cpolyline points='6 10 12 16 18 10'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    font-weight: 400;
    height: calc(var(--space-quarter) * 3);
    padding: 0 calc(var(--space-quarter) + var(--space-eight));
}

.groupHeader {
    align-items: center;
    display: flex;
    font-weight: 500;
    padding: var(--space-eight) 0;
    padding-left: calc(var(--space-eight) + var(--space-quarter));
    padding-bottom: 8px;
}

.select {
    font-size: min(var(--size-default), 24px);
    margin-bottom: var(--space-half);
    width: 100%;
}

.select :global(.react-select__group-heading) {
    color: var(--color-default);
    font-size: min(var(--size-default), 24px);
    margin: 0;
    padding-right: var(--space-quarter);
    text-transform: unset;
}

.select :global(.react-select__menu) {
    background-color: var(--background-secondary);
}

.select :global(.react-select__option) {
    background-color: var(--background-secondary);
}

.select :global(.react-select__option):hover {
    background-color: var(--background-custom-select-hover);
}

.select :global(.react-select__option--is-selected),
.select :global(.react-select__option--is-selected):hover {
    background-color: var(--background-custom-select-selected);
}

.select :global(.react-select__option--is-disabled) span {
    color: var(--color-secondary);
}

.select :global(.react-select__option--is-disabled.react-select__option--is-selected):hover {
    background-color: var(--background-custom-select-selected);
}

.select :global(.react-select__option--is-disabled):hover {
    background-color: transparent;
}

.select :global(.react-select__option--is-selected) .balance {
    color: var(--color-default);
}

.select :global(.react-select__control) {
    background-color: var(--background-secondary);
    min-height: var(--input-height);
    padding: var(--space-quarter) var(--space-eight);
}

.select :global(.react-select__single-value) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.selectLabelText {
    flex-grow: 1;
    margin-left: 6px;
}

.singleValueContainer {
    align-items: center;
    display: flex;
    left: var(--space-quarter);
    position: absolute;
    width: 100%;
}

.valueContainer {
    align-items: center;
    color: var(--color-default);
    display: flex;
}

.select :global(.react-select__option--is-selected) .selectLabelText {
    color: var(--color-default);
}

.valueContainer > img {
    width: var(--logo-image-width);
    height: var(--logo-image-width);
}

.groupLabel {
    color: var(--color-default);
    font-size: var(--size-default);
    margin-right: var(--space-quarter);
}

.trigger {
    align-items: center;
    background-color: var(--background-secondary);
    border: 1px #ccc solid;
    border-radius: 4px;
    color: var(--color-default);
    cursor: pointer;
    display: flex;
    font-size: var(--size-default);
    margin-bottom: 0;
    min-height: var(--input-height);
    padding: var(--space-quarter) var(--space-half);
    width: 100%;
}

.triggerContent {
    align-items: center;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.triggerContent > img {
    width: var(--logo-image-width);
    height: var(--logo-image-width);
}

.triggerLabel {
    margin-left: var(--space-half);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.triggerBalance {
    color: var(--color-secondary);
    margin-left: auto;
    text-transform: uppercase;
    white-space: nowrap;
}

.placeholderText {
    flex: 1;
    text-align: left;
}

.dropdownIcon {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-labelledby='chevron down' color='%23777'%3E%3Cdefs/%3E%3Cpolyline points='6 10 12 16 18 10'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    height: calc(var(--space-quarter) * 3);
    padding: 0 calc(var(--space-quarter) + var(--space-eight));
}

@media screen and (max-width: 768px) {
    .groupHeader {
        padding-left: 0;
    }
}

.buttons {
    margin-top: var(--space-half);
    text-align: center;
}
