.rates {
  cursor: default;
  line-height: 1;
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
}

.unit {
  font-weight: 400;
  color: var(--color-secondary);
  font-variant: normal;
  position: relative;
  cursor: default;
}

.availableFiatAmount {
  color: var(--color-default);
  padding-right: var(--space-quarter) !important;
  text-align: right;
}

.rotatable {
  cursor: default;
  font-size: inherit;
  position: relative;
}

.rotatable::after {
  border-bottom: dotted 1px var(--color-softblack);
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  right: 2px;
}

.notAvailable {
  color: var(--color-default);
}

@media (max-width: 880px) {
  .fiatRow {
    bottom: 0;
  }

  .availableFiatAmount,
  .availableFiatUnit {
    line-height: 24px;
  }
}