.rates {
  cursor: default;
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
}

.unit {
  font-weight: 400;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-secondary);
  font-variant: normal;
  position: relative;
  cursor: default;
}

.availableFiatAmount {
  align-items: baseline;
  display: inline-flex;
  flex-grow: 0;
  justify-content: flex-start;
  gap: 0.4ch;
  text-align: right;
}

.rotatable {
  cursor: default;
  font-size: inherit;
  position: relative;
}

.rotatable::after {
  border-bottom: dotted 1px var(--color-softblack);
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  right: 2px;
}

.notAvailable {
  color: var(--color-default);
}

@media (max-width: 880px) {
  .fiatRow {
    bottom: 0;
  }
}