.skeletonContainer {
  max-width: 64px;
  width: 100%;
}

.txConversionAmount {
  align-items: baseline;
  display: flex;
  font-variant: tabular-nums;
  justify-content: end;
  gap: var(--space-eight);
}

.txPrefix,
.txUnit {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1.285714;
}

.txConversionAmount .txUnit {
  font-size: 12px;
}

.txSmallInlineIcon img {
  max-height: 15px;
  max-width: 15px;
  vertical-align: text-bottom;
}
.txConversionAmount .txSmallInlineIcon {
  padding-right: var(--space-eight);
}