.skeletonContainer {
  max-width: 64px;
  width: 100%;
}

.txConversionAmount {
  align-items: baseline;
  display: flex;
  font-variant: tabular-nums;
  margin-left: auto;
  gap: 3px;
}

.txPrefix,
.txUnit {
  color: var(--color-secondary);
  font-size: var(--size-small);
  /* line-height: 1.285714; */
  white-space: nowrap;
}

.txConversionAmount .txUnit {
  font-size: var(--size-smaller);
  flex-shrink: 0;
}

.txSmallInlineIcon img {
  max-height: 1.5rem;
  max-width: 1.5rem;
  vertical-align: text-bottom;
}
.txConversionAmount .txSmallInlineIcon {
  padding-right: var(--space-eight);
}