.skeletonContainer {
  max-width: 64px;
  width: 100%;
}

.txConversionAmount {
  align-items: baseline;
  display: flex;
  font-variant: tabular-nums;
  margin-left: auto;
  gap: 3px;
}

.txPrefix,
.txUnit {
  color: var(--color-secondary);
  font-size: 1.4rem;
  line-height: 1.285714;
  white-space: nowrap;
}

.txConversionAmount .txUnit {
  font-size: 1.2rem;
  flex-shrink: 0;
}

.txSmallInlineIcon img {
  max-height: 15px;
  max-width: 15px;
  vertical-align: text-bottom;
}
.txConversionAmount .txSmallInlineIcon {
  padding-right: var(--space-eight);
}