[Desktop Entry]
Type=Application
Name=BitBoxApp
Exec=BitBox
Icon=bitbox
Comment=Manage your crypto assets
Categories=Network;Utility;Finance;
Terminal=false
