[Desktop Entry]
Type=Application
Name=BitBox
Exec=BitBox
Icon=/usr/share/pixmaps/bitbox.png
Comment=Manage your crypto assets
Categories=Network;Utility;Finance;
Terminal=false
