.container {
    align-items: center;
    display: flex;
    margin-bottom: var(--space-default);
    position: relative;
}

.backButton {
    background-color: transparent;
    border: none;
    color: var(--color-default);
    display: block;
    font-size: var(--size-title);
    padding: var(--space-quarter);
    text-decoration: none;
}

.backButton:focus {
    outline: none;
}

.headerText {
    font-size: var(--size-title);
    font-weight: 400;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}