.bitboxContainer {
    margin-top: calc(var(--space-default) + var(--space-quarter));
    margin-bottom: calc(var(--space-default) + var(--space-quarter));
}

.bitboxContainer > div img {
    width: 198px;
    height: 115px;
    margin-right: var(--space-default);
}

.bitboxContainer > div svg {
    width: 20px;
    height: 20px;
}


.bitboxContainer.failed {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bitboxImage {
    width: 198px;
    height: 115px;
}

.cancelIcon {
    margin-right: 16px;
    width: 48px;
    width: 48px;
}

.text {
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    .text {
        font-size: var(--size-default);
    }
}
