.bitboxContainer {
    margin-top: calc(var(--space-default) + var(--space-quarter));
    margin-bottom: calc(var(--space-default) + var(--space-quarter));
}

.bitboxContainer > div > img {
    width: 198px;
    height: 115px;
    margin-right: var(--space-default);
}

.bitboxContainer > div svg {
    width: 20px;
    height: 20px;
}

.bluetoothPeripheralContainer {
    background: var(--background);
}

.bitboxContainer.failed {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bitboxImage {
    width: 198px;
    height: 115px;
}

.cancelIcon {
    margin-right: 16px;
    width: 48px;
    width: 48px;
}

.text {
    font-size: 1.6rem;
}

.dialogButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-quarter);
    margin-top: var(--space-large);
}

.dialogPrimaryAction {
    width: 100%;
}

.skipDeviceVerificationText {
    align-self: center;
    background: none;
    border: none;
    color: var(--color-error);
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--size-default);
    line-height: 1.2;
    padding: var(--space-quarter) 0;
    text-align: center;
}

.skipDeviceVerificationText:hover,
.skipDeviceVerificationText:focus {
    color: var(--color-softred);
}

.skipDeviceVerificationText:focus-visible {
    outline: 2px solid var(--color-softred);
    outline-offset: 3px;
}

.unlockTestButtonContainer {
    margin-top: calc(var(--space-large) + var(--space-default));
}

@media (max-width: 768px) {
    .text {
        font-size: var(--size-default);
    }
}
