.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

/* BUTTONS */
.buttons button:not(:last-child) {
    margin-right: var(--spacing-half);
}

.buttons a:not(:last-child) {
    margin-right: var(--spacing-half);
}

.buttons > * > img {
    display: none;
    width: 18px;
    margin-top: 6px;
}

@media (max-width: 700px) {
    .buttons {
        align-self: flex-end;
    }

    .buttons > * {
        min-width: 0 !important;
        width: 32px;
        padding: 0;
        line-height: 1;
    }

    .buttons > * > img {
        display: inline;
    }

    .buttons > * > span {
        display: none;
    }
}

@media (max-width: 560px) {
    .buttons > * {
        width: 38px;
        height: 38px;
    }

    .buttons > * > img {
        margin-top: 9px;
    }
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 18px;
    height: 18px;
    background-color: var(--color-danger);
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}

/* BUTTONS END */
