.container {
	display: flex;
	flex-direction: column;
	padding: 0;
	min-height: 100%;
	width: 100%;
}

/* BUTTONS */
.buttons button:not(:last-child) {
	margin-right: var(--spacing-half);
}

.buttons a:not(:last-child) {
	margin-right: var(--spacing-half);
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
		width: 18px;
    height: 18px;
		background-color: var(--color-danger);
		border-radius: 50%;
		line-height: 18px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}

/* BUTTONS END */
