.rates {
    cursor: default;
    margin: 0;
    /*font-size: 14px;*/
    line-height: 1;
}

.unit {
	color: var(--color-secondary);
	position: relative;
}

.fiatRow {

}

.availableFiatAmount {
	padding-right: var(--space-quarter) !important;
	text-align: right;
}

.availableFiatUnit {
	color: var(--color-secondary);
	cursor: default;
	position: relative;
}

.unit::after,
.availableFiatUnit::after {
	border-bottom: dotted 1px var(--color-softblack);
	content: "";
	position: absolute;
	bottom: 0;
	left: 2px;
	right: 2px;
}

@media (max-width: 880px) {
	.fiatRow {
		bottom: 0;
	}

	.availableFiatAmount,
	.availableFiatUnit {
		line-height: 24px;
	}
}

@media (max-width: 640px) {
	.availableFiatUnit::after {
		border-bottom: none;
	}
}