.rates {
    cursor: default;
    margin: 0;
    /*font-size: 14px;*/
    line-height: 1;
}

.unit {
    color: var(--color-secondary);
}

.fiatRow {
	/*position: relative;
	bottom: 1px;*/
}

.availableFiatAmount {
	padding-right: 5px;
	text-align: right;
}

.availableFiatUnit {
	color: var(--color-secondary);
	cursor: default;
	line-height: 24px;
}

@media (max-width: 880px) {
	.fiatRow {
		bottom: 0;
	}
}
