.keystore {
  font-size: var(--size-default);
  gap: var(--space-quarter);
  word-break: break-word;
}

.keystoreName {
  color: inherit;
}

.keystore small {
  color: var(--color-secondary);
  font-size: var(--size-xsmall);
}

.connected {
  opacity: 1;
}

.disconnected {
  opacity: 0;
}

@media (min-width: 1200px) {
  .keystore {
    --size-default: 2rem;
  }
}
