.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px 4px;
    position: absolute;
    right: calc(var(--space-default) * -1);
    top: 50%;
    transform: translateY(-50%);
}
.button img {
    display: block;
}
