.container {
    text-align: left;
}

.valueContainer {
    align-items: center;
    display: flex;
}

.valueContainer > img {
    width: 20px;
    height: 20px;
}

.coinName {
    margin-left: 6px;
}

.container :global(.react-select__control) {
    padding-bottom: 0;
    padding-top: 0;
}