.container {
    margin: 0 0 1px 0;
}

.row {
    background-color: var(--background-secondary) !important;
    min-height: 52px;
}

.row * {
    font-size: var(--size-default);
    font-weight: 400;
}

.date {

}

.address {
    text-overflow: ellipsis;
    overflow: hidden;
}

.address .badge {
    margin-left: 5px;
    color: var(--color-secondary);
}

.statusIndicator {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--background);
    margin-right: var(--space-quarter);
}

.statusIndicatorComplete {
    background-color: var(--color-success);
}

.statusIndicatorPending {
    background-color: var(--color-yellow);
}

.statusIndicatorFailed {
    background-color: var(--color-danger);
}

.status {
    
}

.fiat {
    font-variant: tabular-nums;
}

.amount {
    font-variant: tabular-nums;
    max-width: 100%;
}

.amountOverflow {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

/* invisible element that creates the exact space for the used unit */
.amountOverflow::after {
    content: attr(data-unit);
    color: transparent;
}

.send {
    color: var(--color-softred) !important;
}

.receive {
    color: var(--color-success);
}

.failed {
    color: var(--color-secondary);
}

.currency {
    font-variant: tabular-nums;
}

.currencyUnit {
    color: var(--color-secondary);
    font-variant: normal;
}

.amountOverflow .currencyUnit {
    position: absolute;
    right: 0;
    top: 0;
}

.action {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    -webkit-appearance: none;
}

.label {
    white-space: nowrap;
}

.label,
.columnLabel,
.inlineLabel {
    color: var(--color-secondary);
    font-size: var(--size-default);
}

.label,
.columnLabel {
    margin-right: var(--space-quarter);
}

.columnLabel {
    display: none;
}

.inlineValue {
    margin-left: var(--space-quarter);
}

.fee {
    min-width: 140px;
}

.transactionId {
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail,
.detailInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: var(--item-height);
    padding: var(--space-half);
}

.detailInput {
    padding: 0 0 0 var(--space-half);
}

.detailInput label {
    margin-bottom: 0;
}

.textOnlyInput {
    margin: 0;
}

.textOnlyInput input {
    border: none;
}

.editButton {
    background: none;
    border: none;
    height: 20px;
    margin-right: var(--space-half);
    padding: 0;
    -webkit-appearance: none;
    width: 20px;
}

.editButton:focus {
    outline: none;
}

.editButton img {
    opacity: 0.4;
    vertical-align: text-bottom;
    outline: none;
}

.editButton:hover img {
    opacity: 0.55;
}


.detail:not(:first-child) {
    border-top: solid 1px var(--background);
}

.detail label {
    white-space: nowrap;
    margin-right: var(--space-half) !important;
}

.detail label,
.detail p {
    margin: 0;
    line-height: 1;
}

.detail.addresses {
    align-items: baseline;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
}

.addresses label {
    padding: var(--space-half) 0;
}

.detailAddresses {
    flex-grow: 1;
}

.detailAddress + .detailAddress {
    margin-top: calc(var(--space-quarter) * -1);
}

@media (max-width: 1080px), (min-width: 1200px) and (max-width: 1322px) {
    .container {
        margin: 0 0 var(--space-quarter) 0;
    }

    .row {
        height: auto;
        padding: var(--space-half);
    }

    .columnLabel {
        display: inline;
    }

    .action {
        align-items: flex-end;
    }
}

@media (max-width: 926px) {
    .inlineLabel {
        display: block;
        margin-bottom: var(--space-quarter);
    }

    .inlineValue {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 666px) {
    .columnLabel {
        display: none;
    }

    .row {
        padding: var(--space-half) var(--space-quarter);
    }

    .inlineLabel {
        white-space: nowrap;
    }

    .fee {
        min-width: 0;
    }
}

@media (max-width: 560px) {

    .status {
        display: none;
    }

}
