.tx {
  font-size: 100%;
  line-height: 1.25;
  margin-bottom: var(--space-half);
}
@media (max-width: 768px) {
  .tx {
    margin-bottom: var(--space-quarter);
  }
}

.txContent {
  background-color: var(--background-secondary);
  border-radius: var(--radius-xl);
  display: flex;
  justify-content: space-between;
  padding: var(--space-half) 0;
}

@media (max-width: 768px) {
  .txContent {
    padding: 10px 0 8px 0;
  }
}

.txIcon {
  align-self: center;
  flex-basis: 85px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
.txIcon img {
  width: 32px;
}
@media (max-width: 768px) {
  .txIcon {
    flex-basis: 74px;
  }
  .txIcon img {
    width: 24px;
  }
}
@media (max-width: 560px) {
  .txIcon {
    flex-basis: 63px;
  }
}

.txInfoColumn {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.txAmountsColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: var(--size-small);
  line-height: 1.285714;
  padding: 0 var(--space-quarter) 0 48px;
  text-align: right;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .txAmountsColumn {
    padding-right: var(--space-half);
  }
}
@media (max-width: 560px) {
  .txAmountsColumn {
    flex-shrink: 1;
    flex-basis: 60%;
    max-width: 60%;
    padding-left: 24px;
  }
}
@media (max-width: 425px) {
  .txAmountsColumn {
    padding-left: 12px;
  }
}

.txAmount {
  align-items: baseline;
  font-size: var(--size-default);
  font-variant: tabular-nums;
  gap: 3px;
  justify-content: flex-end;
  line-height: 1.25;
  display: flex;
  padding: 3px 0 3px 0;
}
@media (max-width: 560px) {
  .txAmount {
    padding-bottom: 4px;
    flex-shrink: 1;
  }
}

.txAmount-receive {
  color: var(--color-darkgreen);
}
:global(.dark-mode) .txAmount-receive {
  color: var(--color-green);
}

.txUnit {
  color: var(--color-secondary);
  font-size: var(--size-small);
  line-height: 1.285714;
}

.txNote {
  color: var(--color-secondary);
  display: block;
  padding: 3px 0;
}
.txNoteText {
  color: var(--color-default);
  font-size: var(--size-default);
  line-height: 1.25;
}
@media (max-width: 560px) {
  .txNote {
    padding: 3px 0 4px 0;
  }
}

.txDate,
.txProgress {
  align-items: center;
  color: var(--color-secondary);
  display: flex;
  font-size: var(--size-small);
  line-height: 1.285714;
  padding-bottom: 6px;
}

.txProgress {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
}

.txProgressTextLong,
.txProgressTextShort {
  flex-grow: 0;
  flex-shrink: 1;
  padding-right: var(--space-eight);
}
.txProgressTextShort {
  display: none;
}
@media (max-width: 560px) {
  .txProgressTextLong {
    display: none;
  }
  .txProgressTextShort {
    display: block;
  }
}

.iconProgress {
  flex-grow: 0;
  flex-shrink: 0;
  vertical-align: text-bottom;
}

.txNoteWithAddress {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addresses {
  color: var(--color-secondary);
  font-size: var(--size-small);
  font-weight: normal;
  line-height: 1.285714;
}
.txType {
  color: var(--color-default);
  font-size: var(--size-default);
  line-height: 1.25;
}

.txDateLong {
  display: block;
}
.txDateShort {
  display: none;
}
@media (max-width: 560px) {
  .txDateLong {
    display: none;
  }
  .txDateShort {
    display: block;
  }
}

.txShowDetailBtn {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-blue);
  cursor: pointer;
  display: block;
  flex-basis: 61px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: inherit;
  line-height: inherit;
  margin: 0 var(--space-quarter) 0 0;
  padding: 0;
}
@media (max-width: 768px) {
  .txShowDetailBtn {
    display: none;
  }
  
  .addresses {
    opacity: 0;
    pointer-events: none;
  }

  .txNoteWithAddress {
    text-overflow: clip;
  }
}
.iconLoupe {
  width: 28px;
  vertical-align: text-bottom;
}