.container {
    margin: 0 0 1px 0;
}

.row {
    background-color: var(--color-white) !important;
    height: 52px;
}

.row * {
    font-size: var(--size-default);
    font-weight: 400;
}

.date {

}

.address {
    text-overflow: ellipsis;
    overflow: hidden;
}

.address .badge {
    margin-left: 5px;
    color: var(--color-secondary);
}

.statusIndicator {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-lightgray);
    margin-right: var(--space-quarter);
}

.statusIndicatorComplete {
    background-color: var(--color-success);
}

.statusIndicatorPending {
    background-color: var(--color-yellow);
}

.statusIndicatorFailed {
    background-color: var(--color-danger);
}

.status {
    
}

.fiat {

}

.send {
    color: var(--color-softred) !important;
}

.receive {
    color: var(--color-success);
}

.currency {

}

.currencyUnit {
    color: var(--color-secondary);
}

.action {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    -webkit-appearance: none;
}

.label {
    white-space: nowrap;
}

.label,
.columnLabel,
.inlineLabel {
    color: var(--color-gray);
    font-size: var(--size-default);
}

.label,
.columnLabel {
    margin-right: var(--space-quarter);
}

.columnLabel {
    display: none;
}

.inlineValue {
    margin-left: var(--space-quarter);
}

.confirmations {

}

.gas {

}

.weight {

}

.virtualSize {

}

.size {

}

.fee {
    min-width: 140px;
}

.transactionId {
    overflow: hidden;
    text-overflow: ellipsis;
}

.externalLink {
    color: var(--color-blue);
    cursor: pointer;
}

.detail,
.detailInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: var(--item-height);
    padding: var(--space-half);
}

.detailInput {
    padding: 0 0 0 var(--space-half);
}

.detailInput label {
    margin-bottom: 0;
}

.textOnlyInput {
    margin: 0;
}

.textOnlyInput input {
    border: none;
}

.editButton {
    background: none;
    border: none;
    margin-right: var(--space-half);
    padding: 0;
    -webkit-appearance: none;
}

.editButton svg {
    vertical-align: text-bottom;
}

.editButton path,
.editButton polyline {
    stroke: var(--color-gray-alt);
}

.editButton:focus path,
.editButton:hover path,
.editButton:focus polyline,
.editButton:hover polyline {
    stroke: var(--color-secondary);
}

.detail:not(:first-child) {
    border-top: solid 1px var(--color-lightgray);
}

.detail label {
    white-space: nowrap;
    margin-right: var(--space-half) !important;
}

.detail label,
.detail p {
    margin: 0;
    line-height: 1;
}

.detail.addresses > span {
    margin-left: auto;
    max-width: 100%;
}

.detail.addresses.multi > div {
    align-self: flex-end;
}

.detail.addresses > div > p {
    word-break: break-all;
}

.detail.addresses p:not(:first-child) {
    margin-top: var(--space-quarter);
}

@media (max-width: 1080px), (min-width: 1200px) and (max-width: 1322px) {
    .container {
        margin: 0 0 var(--space-half) 0;
    }

    .container.first {
        
    }
    
    .row {
        height: auto;
        padding: var(--space-half);
    }

    .columnLabel {
        display: inline;
    }

    .action {
        align-items: flex-end;
    }
}

@media (max-width: 926px) {
    .inlineLabel {
        display: block;
        margin-bottom: var(--space-quarter);
    }

    .inlineValue {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 666px) {
    .columnLabel {
        display: none;
    }

    .row {
        padding: var(--space-half) var(--space-quarter);
    }

    .inlineLabel {
        white-space: nowrap;
    }

    .fee {
        min-width: 0;
    }
}
