.container {
  margin: calc(var(--space-default) * 1.5) 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-default);
}

.header label {
  font-size: var(--size-default);
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-mediumgray);
}

.headers {
  height: 48px;
  color: var(--color-softblack);
  text-transform: uppercase;
}

.columns >  *,
.columnGroup > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--size-small);
  padding: 0 var(--space-quarter);
}

.columnGroup {
  width: 100%;
  padding: 0;
}

.type {
  min-width: 54px;
  width: 54px;
  justify-content: center;
}

.date {
  min-width: 98px;
  width: 98px;
}

.activity {
  min-width: 362px;
  width: 362px;
  text-align: left;
}

.status {
  min-width: 106px;
  width: 106px;
}

.fiat {
  min-width: 134px;
  width: 134px;
  justify-content: flex-end;
}

.currency {
  min-width: 202px;
  width: 202px;
  justify-content: flex-end;
}

.action {
  min-width: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
}

.empty {
  background-color: var(--color-white);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.empty p {
  font-size: var(--size-default);
  font-weight: 400;
  color: var(--color-secondary);
}

@media (min-width: 1081px) and (max-width: 1199px), (min-width: 1323px) {
  .hideOnMedium {
    display: none;
  }
}

@media (max-width: 1080px), (min-width: 1200px) and (max-width: 1322px) {
  .showOnMedium {
    display: none;
  }

  .columns {
    flex-direction: column;
    justify-content: center;
  }

  .columnGroup:last-child {
    margin-top: var(--space-quarter);
  }

  .type {
    min-width: 36px;
    width: 36px;
    justify-content: flex-start;
  }

  .date {
    min-width: 126px;
    width: 126px;
  }

  .activity {
    flex: 1;
  }

  .fiat,
  .currency {
    justify-content: flex-start;
    min-width: 0;
    width: auto;
    text-align: right;
  }

  .action {
    justify-content: flex-end;
    min-width: 36px;
    width: 36px;
  }

  .status {
    justify-content: flex-start;
    width: auto;
    margin-left: 36px;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .container {
    margin: var(--space-default) 0;
  }
}

@media (max-width: 666px) {
  .columns >  *,
  .columnGroup > * {
    padding: 0 calc(var(--space-quarter) / 2);
  }

  .type {
    min-width: 26px;
    width: 26px;
  }

  .activity {
    min-width: 0;
    width: auto;
  }

  .date {
    min-width: 80px;
    width: 80px;
  }

  .status {
    min-width: 100px;
    margin-left: 2px;
  }
}
