.container {
  align-items: center;
  background-color: var(--background-secondary);
  bottom: 0;
  border-top: 2px solid var(--bottom-navigation-border-color);
  display: none;
  padding: var(--space-half);
  padding-top: calc(var(--space-half) - env(safe-area-inset-bottom, 0));
  padding-left: calc(calc(env(safe-area-inset-bottom, 0) / 2) + var(--space-half));
  padding-right: calc(calc(env(safe-area-inset-bottom, 0) / 2) + var(--space-half));
  position: fixed;
  width: 100%;
  height: var(--bottom-navigation-height);
  justify-content: space-between;
}

.link {
    align-items: center;
    color: var(--color-text);
    display: flex;
    font-size: min(1.2rem, 18px);
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.link svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}

.link.active {
    color: var(--color-primary);
}

.link.active::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
}

@media (max-width: 768px) {
    .container {
        display: flex;
        gap: .2rem;
    }
}

.redDot {
    position: absolute;
    top: -8px;
    right: -4px;
}