{
  "extends": "eslint-config-synacor",
  "rules": {
    "arrow-body-style": [0, "as-needed"],
    "brace-style": [1, "1tbs"],
    "comma-dangle": 0,
    "indent": ["warn", 4],
    "quotes": ["warn", "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "quote-props": ["warn"],
    "react/self-closing-comp": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-indent-props": ["warn", 4],
    "react/sort-comp": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-max-props-per-line": ["warn", { "maximum": 3, "when": "always" }],
    "react/jsx-tag-spacing": ["warn"],
    "react/jsx-no-bind": ["warn"],
    "react/jsx-key": ["error"]
  }
}
