/.eslintcache
/build/**/*.svg
/build/**/*.png
/build/**/*.webm
/coverage/
/node_modules/
**/*/output.log
/yarn-error.log
/npm-debug.log
/size-plugin.json

### VSCode & Jetbrains ###
.vscode/

.DS_Store
.idea
