.container {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: none;
    margin: 0 auto;
    padding: var(--spacing-large) var(--spacing-large) 0 var(--spacing-large);
    width: 800px;
}

.pendingBalance {
    margin: 0;
    color: var(--color-secondary);
}

.connectionStatusContainer {
    margin: 0 calc(var(--spacing-large) * -1) 0 calc(var(--spacing-large) * -1);
}

.connectionStatus {
    padding: var(--spacing-half) var(--spacing-large);
    text-align: center;
}

.success {
    background-color: var(--color-success);
    color: var(--color-white);
}

.warning {
    background-color: var(--color-swissred);
    color: var(--color-white);
}

.connectionStatus p {
    margin: 0;
    font-size: var(--size-small);
    text-transform: uppercase;
    font-weight: bold;
}
