.container {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: none;
    margin: 0 auto;
    padding: var(--spacing-large) var(--spacing-large) 0 var(--spacing-large);
    width: 800px;
}

.actionsContainer {
    display: flex;
    flex-wrap: nowrap;
    transform: translateY(-36%);
    margin-top: calc(var(--space-quarter) * 2);
    padding-bottom: 14px;
}

.exchange,
.receive,
.walletConnect,
.send {
    align-items: center;
    background-color: var(--color-blue);
    border-radius: 2px;
    color: var(--color-alt);
    display: inline-flex;
    font-size: var(--size-default);
    justify-content: center;
    margin-bottom: var(--space-quarter);
    margin-left: var(--space-quarter);
    min-height: calc(var(--item-height) / 1.5);
    min-width: calc(var(--item-height) * 2);
    padding: var(--space-quarter) var(--space-half);
    text-align: center;
    text-decoration: none;
    transition: background-color ease-out 0.2s;
    width: auto;
    will-change: background-color;
}

.walletConnect {
    justify-content: center;
}

.withWalletConnect.actionsContainer {
    justify-content: flex-end;
}


.withWalletConnect .walletConnect {
    display: flex;
}

.buy:hover,
.receive:hover,
.send:not(.disabled):hover {
    background-color: var(--color-lightblue);
}

.send.disabled {
    cursor: default;
    opacity: 0.4;
}

.accountIcon {
    width: 18px;
    height: 18px;
    margin-right: calc(var(--space-quarter) / 2);
}

@media (max-width: 768px) {
    .actionsContainer {
        justify-content: space-between;
        margin-bottom: var(--space-default);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        transform: none;
        width: 100%;
    }


    .withWalletConnect.actionsContainer {
        justify-content: center;
    }

    .withWalletConnect .buy,
    .withWalletConnect .receive,
    .withWalletConnect .send {
        max-width: 25%;
    }

    .withWalletConnect .walletConnect {
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 15%;
    }

    .actionsContainer a {
        flex: 1 0 30%;
        margin-left: 0;
        margin-right: 0;
        max-width: 30%;
        min-width: unset;
    }

    .exchange,
    .send,
    .receive,
    .walletConnect {
        font-size: var(--size-small);
        margin-bottom: 0;
        width: auto;
    }
}
