.container {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .accountHeader {
        padding: 0 var(--space-half);
    }
}

.balanceHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: var(--space-half);
}

.actionsContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: end;
    margin-top: var(--space-half);
    padding-bottom: 24px;
}

.exchange,
.receive,
.walletConnect,
.send {
    align-items: center;
    background-color: var(--color-blue);
    border-radius: 2px;
    color: var(--color-alt);
    display: inline-flex;
    font-size: var(--size-default);
    justify-content: center;
    margin: 0 0 var(--space-quarter) var(--space-quarter);
    min-height: calc(var(--item-height) / 1.5);
    min-width: calc(var(--item-height) * 2);
    padding: var(--space-quarter) var(--space-half);
    text-align: center;
    text-decoration: none;
    transition: background-color ease-out 0.2s;
    width: auto;
    will-change: background-color;
}

.walletConnect {
    justify-content: center;
}

.withWalletConnect.actionsContainer {
    justify-content: flex-end;
}

.withWalletConnect .walletConnect {
    display: flex;
}

.buy:hover,
.receive:hover,
.send:not(.disabled):hover {
    background-color: var(--color-lightblue);
}

.disabled {
    cursor: default;
    opacity: 0.4;
}

.accountInfoLink {
    align-items: center;
    display: flex;
    font-size: var(--size-default);
    margin-right: var(--space-half);
    min-height: 50px;
    text-decoration: none;
}

.accountIcon {
    width: 18px;
    height: 18px;
    margin-right: var(--space-eight);
}

.errorLoadTransactions {
    text-align: center;
}

.titleWithButton {
    align-items: baseline;
    color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-quarter) !important; /* overwrite default subTitle margin */
}
.titleWithButton button {
    padding-left: var(--space-half);
    padding-right: 0;
    text-align: right;
}

.emptyTransactions {
    color: var(--color-secondary);
    text-align: center;
}

@media (max-width: 768px) {

    .accountInfoLink {
        margin-right: 0;
        padding: 0 var(--space-quarter);
    }

    .accountIcon {
        margin-right: 0;
    }

    .actionsContainer {
        justify-content: space-between;
        margin-bottom: var(--space-half);
        padding-bottom: 0;
        width: 100%;
    }

    .withWalletConnect.actionsContainer {
        justify-content: center;
    }

    .balanceHeader {
        margin-bottom: 0;
    }

    .withWalletConnect .buy,
    .withWalletConnect .receive,
    .withWalletConnect .send {
        max-width: 25%;
    }

    .withWalletConnect .walletConnect {
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 15%;
    }

    .actionsContainer a,
    .actionsContainer > span {
        flex: 1 0 30%;
        max-width: 30%;
        min-width: unset;
    }

    .exchange,
    .send,
    .receive,
    .walletConnect {
        font-size: var(--size-small);
        width: auto;
    }


    .exchange:first-child,
    .send:first-child,
    .receive:first-child,
    .walletConnect:first-child {
        margin-left: 0;
    }
}

.status {
    white-space: pre-line;
}

.txHistorySkeleton {
    margin-top: var(--space-quarter);
}