.container {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: none;
    margin: 0 auto;
    padding: var(--spacing-large) var(--spacing-large) 0 var(--spacing-large);
    width: 800px;
}

.actionsContainer {
    transform: translateY(-36%);
}

.send,
.receive,
.buy {
    display: inline-block;
    font-size: var(--size-default);
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    height: calc(var(--item-height) / 1.5);
    line-height: calc(var(--item-height) / 1.5);
    width: calc(var(--item-height) * 2);
    border-radius: 2px;
    padding: 0 var(--space-half);
    transition: background-color ease-out 0.2s;
    will-change: background-color;
}

.send {
    background-color: var(--color-orange);
}

.send,
.buy {
    margin-right: var(--space-quarter);
}

.send:not(.disabled):hover {
    background-color: var(--color-lightorange);
}

.send.disabled {
    opacity: 0.4;
}

.receive, .buy {
    background-color: var(--color-blue);
}

.receive:hover, .buy:hover {
    background-color: var(--color-lightblue);
}

.accountIcon {
    width: 24px;
    height: 24px;
    margin-right: calc(var(--space-quarter) / 2);
}

@media (max-width: 768px) {
    .actionsContainer {
        transform: translateY(-34%);
    }

    .send,
    .receive,
    .buy {
        font-size: var(--size-small);
        width: 84px;
        height: calc(var(--item-height) / 2);
        line-height: calc(var(--item-height) / 2);
    }
}
