.spinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-secondary);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.spinnerText {
    margin: 0;
    padding: 0 var(--spacing-default);
    text-align: center;
}

.spinner div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--color-blue);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.spinner div:nth-child(1) {
    left: 6px;
    animation: spinner1 0.6s infinite;
}

.spinner div:nth-child(2) {
    left: 6px;
    animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(3) {
    left: 26px;
    animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(4) {
    left: 45px;
    animation: spinner3 0.6s infinite;
}

.horizontallyCentered {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

@keyframes spinner1 {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes spinner3 {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}

@keyframes spinner2 {
    0% { transform: translate(0, 0); }
    100% { transform: translate(19px, 0); }
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-secondary);
    animation: fadein 0.3s;
    opacity: 0;
}

@keyframes fadein {
    0% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}

.togglersContainer {
    position: fixed;
    top: calc((var(--header-height) - 32px) / 2);
    max-width: var(--content-width);
    width: 100%;
    padding: 0 var(--space-default);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toggler {
    width: 32px;
    height: 32px;
    margin-right: var(--spacing-default);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggler img {
    width: 20px;
}

@media (min-width: 1200px) {
    .togglersContainer {
        flex-direction: row-reverse;
    }

    .togglerContainer {
        display: none;
    }
}

@media (max-width: 768px) {
    .togglersContainer {
        padding: 0 var(--space-half);
    }
}
