.spinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-secondary);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.spinner {
    align-items: center;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    position: relative;
    width: 64px;
}

.spinner img {
    height: 36px;
    width: 36px;
}

.spinnerText {
    margin: 0;
    padding: 0 var(--space-half);
    text-align: center;
}

.horizontallyCentered {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.horizontallyCentered img {
    height: 36px;
    width: 36px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-secondary);
    animation: fadein 0.3s;
    opacity: 0;
}

@keyframes fadein {
    0% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}

.togglersContainer {
    position: fixed;
    top: calc((var(--header-height) - 32px) / 2);
    max-width: var(--content-width);
    width: 100%;
    padding: 0 var(--space-default);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toggler {
    width: 32px;
    height: 32px;
    margin-right: var(--space-half);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggler img {
    width: 20px;
}

@media (min-width: 1200px) {
    .togglersContainer {
        flex-direction: row-reverse;
    }

    .togglerContainer {
        display: none;
    }
}

@media (max-width: 768px) {
    .togglersContainer {
        padding: 0 var(--space-half);
    }
}
