.spinnerContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 4000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.shifted {
    padding-left: var(--sidebar-width);
}

.spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.spinnerText {
    margin: 0;
    /* font-weight: bold; */
}

.spinner div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--color-blue);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.spinner div:nth-child(1) {
    left: 6px;
    animation: spinner1 0.6s infinite;
}

.spinner div:nth-child(2) {
    left: 6px;
    animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(3) {
    left: 26px;
    animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(4) {
    left: 45px;
    animation: spinner3 0.6s infinite;
}

@keyframes spinner1 {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes spinner3 {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}

@keyframes spinner2 {
    0% { transform: translate(0, 0); }
    100% { transform: translate(19px, 0); }
}


.logo {
    visibility: visible;
    width: 100%;
}

@media (min-width: 1000px) {
    .logo {
        visibility: hidden;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    animation: fadein 0.3s;
    opacity: 0;
}

@keyframes fadein {
    0% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}
