.disclaimerContainer {
  --size-default: min(1.4rem, 24px);
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  margin: 0 auto;
  overflow: auto;
  padding: 0 var(--space-half) 0 var(--space-half);
  width: 100%;
}

.disclaimer {
  background-color: var(--background-secondary);
  flex-basis: 100%;
  font-family: var(--font-family);
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 0 var(--space-default) 0;
  max-width: 660px;
  overflow: auto;
  padding: var(--space-quarter) var(--space-half) var(--space-half) var(--space-half);
}

.title {
  font-size: var(--size-default);
  font-weight: bold;
  text-align: left;
}

.disclaimer p {
  font-size: var(--size-default);
  line-height: 1.5;
}

.disclaimer p + .title {
  margin: 40px 0 0 0;
}

.table {
  overflow: auto;
}

.table table {
  border-collapse: collapse;
  font-size: var(--size-default);
  text-align: left;
}

.table td,
.table th {
  padding: var(--spacing-half);
  vertical-align: top;
}

.table td {
  border-top: 1px solid var(--color-mediumgray);
}

.table td:not(:last-child),
.table th:not(:last-child) {
  padding-left: 0;
}

.table td:last-child,
.table th:last-child {
  padding-right: 0;
}

.nowrap {
  white-space: nowrap;
}
