.manageBackups {
    margin: var(--space-default) auto 0 auto;
    padding: 0 var(--spacing-large);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 640px) {
    .manageBackups {
        margin-top: 0;
        padding: 0 var(--spacing-half);
    }
}
