.manageBackups {
    margin-top: var(--spacing-default);
    padding: 0 var(--spacing-large);
    overflow: auto;
}

@media (max-width: 640px) {
    .manageBackups {
        padding: 0 var(--spacing-half);
    }
}
