.button {
    align-items: center;
    appearance: none;
    border-color: transparent;
    border-radius: 2px;
    border-style: solid;
    border-width: var(--border-width);
    cursor: default;
    display: inline-flex;
    flex-direction: row;
    font-family: var(--font-family);
    font-size: var(--size-default);
    font-weight: 400;
    justify-content: center;
    min-height: var(--button-height);
    min-width: 100px;
    outline: none;
    padding: 0 var(--space-default);
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s ease-out, color .2s ease-out;
    will-change: background-color, color;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}

.button:focus {
    outline: none;
}

.primary {
    composes: button;
    background: var(--color-blue);
    color: var(--color-alt);
}

.primary:not([disabled]):focus,
.primary:not([disabled]):hover {
    background-color: var(--color-lightblue);
}

.secondary {
    composes: button;
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--color-default);
}

.secondary:not([disabled]):focus,
.secondary:not([disabled]):hover {
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.secondary[disabled] {
    border-color: var(--background-quaternary);
    color: var(--color-tertiary);
}

.danger {
    composes: button;
    background-color: var(--color-error);
    border-color: var(--color-error);
    color: var(--color-alt);
}

.danger:not([disabled]):focus,
.danger:not([disabled]):hover {
    background-color: var(--color-softred);
    border-color: var(--color-softred);
}

.transparent {
    composes: button;
    background-color: transparent;
    border-color: transparent;
    color: var(--color-blue);
    display: inline-block;
    min-width: 0;
}

.transparent:not([disabled]):focus,
.transparent:not([disabled]):hover {
    color: var(--color-lightblue);
}

.primary[disabled],
.danger[disabled],
.transparent[disabled] {
    opacity: 0.4;
}

.inline {
    height: auto;
    min-height: auto;
    padding: 0;
    text-decoration: underline;
}

.button[hidden] {
    display: none;
}

@media (max-width: 768px) {
    .button {
        min-width: 90px;
    }
}
