.button {
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px;
    cursor: default;
    display: inline-flex;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.5;
    margin-bottom: 4px;
    min-width: 180px;
    height: 2.25em;
    overflow: hidden;
    padding: calc(0.375em - 1px) 0.75em;
    position: relative;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;
    vertical-align: top;
    -webkit-appearance: none;
}

.button:hover {
    border-color: var(--color-softblack);
}

.primary {
    composes: button;
    background-color: var(--color-swissred);
    border-color: var(--color-swissred);
    color: var(--color-white);
}

.primary:hover {
    background-color: var(--color-white);
    border-color: var(--color-swissred);
    color: var(--color-swissred);
}

.secondary {
    composes: button;
    background-color: var(--color-softblack);
    border-color: var(--color-softblack);
    color: var(--color-white);
}

.secondary:hover {
}

.button[disabled] {
    background-color: var(--color-white) !important;
    border-color: var(--color-brightgray) !important;
    color: var(--color-brightgray) !important;
}
