.checkbox input {
    position: absolute;
    opacity: 0;
}

.checkbox input + label {
    display: inline-block;
    margin-right: 1em;
    padding-left: 2em;
    position: relative;
}

.checkbox input + label::before,
.checkbox input + label::after {
    background: rgb(255, 255, 255);
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    vertical-align: top;
    text-align: center;
    transition: all 100ms ease;
}

.checkbox input + label::before {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 2px;
    top: -1px;
}

.checkbox input + label::after {
    background: transparent;
    border: solid var(--color-default);
    border-width: 0px 2px 2px 0;
    width: 0.3em;
    height: 0.55em;
    position: absolute;
    top: 0.25em;
    left: 0.45em;
    margin-left: -1px;
    margin-top: -2px;
    opacity: 0;
    transform: scale(2) rotate(45deg);
    transition: opacity .2s ease-out, transform .2s ease-out;
}

/* checked */

.checkbox input:checked + label::before {
    background-color: var(--color-white);
}

.checkbox input:checked + label::after {
    opacity: 1;
    transform: scale(1) rotate(37deg);
}

/* disabled */

.checkbox input[disabled] + label::before {
    background: rgb(248, 248, 248);
    border-color: rgb(220, 220, 220);
    cursor: not-allowed;
}
