.input {
    width: 100%;
    margin-bottom: var(--spacing-default);
    position: relative;
}

.input label {
    display: block;
    margin-bottom: var(--spacing-half);
}

.input input {
    background-color: var(--color-white);
    border-color: var(--color-brightgray);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: normal;
    height: 2.75em;
    padding: var(--spacing-half) var(--spacing-default);
    width: 100%;
}

.input input[disabled] {
    background-color: var(--color-white) !important;
    border-color: var(--color-disabled) !important;
    color: var(--color-rock) !important;
    cursor: not-allowed;
}

.errorText {
    color: var(--color-softred);
}

.errorText > span > span {
    margin-left: 5px;
}
