.radio input {
    position: absolute;
    opacity: 0;
}

.radio input + label {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.64;
    margin-right: 1em;
    padding-left: 2em;
    position: relative;
}

.radio input + label::before,
.radio input + label::after {
    background: rgb(255, 255, 255);
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    position: absolute;
    top: .19em;
    left: 0;
    vertical-align: top;
    text-align: center;
    transition: all 100ms ease;
}

.radio input + label::before {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 1em;
}

.radio input + label::after {
    background: var(--color-focus);
    border-radius: 1em;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 6px;
    left: 4px;
    opacity: 0;
    transform: scale(0);
}

/* checked */

.radio input:checked + label::before {
    background-color: var(--color-white);
}

.radio input:checked + label::after {
    opacity: 1;
    transform: scale(1);
}

/* focus */

.radio input:focus + label::before {
    background-color: var(--color-white);
    box-shadow: 0 0 2px 2px var(--color-focus);
}


/* disabled */

.radio input:disabled + label::before {
    background: rgb(248, 248, 248);
    border-color: rgb(220, 220, 220);
    cursor: not-allowed;
}
