.radio input {
    position: absolute;
    opacity: 0;
}

.radio input + label {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.5;
    margin-right: var(--space-half);
    padding-left: calc(var(--space-half) + var(--space-quarter));
    position: relative;
}

.radio.textMedium input + label {
    font-size: var(--size-default);
}

.radio input + label::before,
.radio input + label::after {
    background: rgb(255, 255, 255);
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 0;
    transition: all 100ms ease;
}

.radio input + label::before {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 1em;
}

.radio input + label::after {
    background: var(--color-focus);
    border-radius: 1em;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 6px;
    left: 2px;
    opacity: 0;
    transform: scale(0);
}

.radio.textMedium input + label::after {
    width: 10px;
    height: 10px;
}

/* checked */

.radio input:checked + label::before {
    background-color: var(--color-white);
}

.radio input:checked + label::after {
    opacity: 1;
    transform: scale(1);
}

/* focus */
.radio input:focus {
    outline: none;
}


/* disabled */

.radio input:disabled + label::before {
    background: rgb(248, 248, 248);
    border-color: rgb(220, 220, 220);
    cursor: not-allowed;
}
