.select {
    width: 100%;
    margin-bottom: var(--space-half);
    position: relative;
}

.select label {
    display: block;
    margin-bottom: var(--space-quarter);
}

.select select {
    appearance: none;
    background-color: var(--color-white);
    border: solid 1px var(--color-mediumgray);
    border-radius: 2px;
    color: var(--color-default);
    font-family: var(--font-family);
    font-size: var(--size-default);
    font-weight: 400;
    height: 52px;
    padding: 0 var(--space-half);
    width: 100%;
}

.select option {
    width: 100%;
    padding: var(--spacing-default);
    border-radius: 2px;
    border: solid 1px var(--color-lightgray);
    background-color: white;
}
