.select {
    margin-bottom: var(--space-half);
    position: relative;
    width: 100%;
}

.select label {
    display: block;
    margin-bottom: var(--space-quarter);
    text-align: left;
}

.select select {
    appearance: none;
    background-color: var(--background-secondary);
    /* the icon below is the same as our chevron-* svg icons */
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 0.75L5.5 5.25L10.25 0.75' stroke='%23777777' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    border: solid 1px var(--background-quaternary);
    border-radius: 2px;
    color: var(--color-default);
    font-family: var(--font-family);
    font-size: var(--size-default);
    font-weight: 400;
    height: 52px;
    padding: 0 var(--space-half);
    width: 100%;
}

.select select[disabled] {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 0.75L5.5 5.25L10.25 0.75' stroke='%23cccccc' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* on macOS this definition has no effect as the dropdown is rendered by the OS */
.select option {
    background-color: var(--background-secondary);
    color: var(--color-default);
    padding: var(--space-half);
    width: 100%;
}

.select option[disabled] {
    color: var(--color-disabled);
}
