.container {
  align-items: center;
  background-color: var(--background-secondary);
  border-radius: var(--radius-xl);
  border: none;
  color: var(--color-default);
  display: flex;
  font-size: var(--size-default);
  justify-content: space-between;
  padding: 16px;
  text-align: left;
  width: 100%;
}

.isButton {
  cursor: pointer;
}

.leftContent {
  align-items: center;
  display: flex;
  gap: 12px;
  min-width: 0;
}

.leadingIcon {
  align-items: center;
  display: inline-flex;
  flex: none;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.leadingIcon > img {
  display: block;
  height: 100%;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rightContent {
  align-items: center;
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .collapse {
    padding: 12px;
  }

  .hideDisplayedValueOnSmall {
    display: none;
  }

  .container {
    min-height: 64px;
  }
}
