.dashboard {
  min-height: 240px;
  background-color: var(--color-white);
}

.optionsList {
  list-style-type: none;
  padding: 0px !important;
}

.recommendation {
  color: var(--color-secondary);
  font-size: var(--size-small) !important;
}