.dashboardContainer {
    margin-top: 1px;
    position: relative;
    background: var(--color-mediumgray);
}

.dashboard {
    width: 100%;
    max-width: var(--content-width);
    min-height: 278px;
    height: 278px;
    transition: height ease-in-out 0.3s;
    margin: 0 auto;
    padding: 0 var(--space-default);
    overflow: hidden;
}

.dashboard h3 {
    /* color: var(--color-white); */
    font-weight: normal;
}

.expanded {
    height: 528px;
}

.expandButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 1px var(--color-mediumgray);
    background-color: var(--color-white);
    padding: 0;
}

.expandButton svg {
    color: var(--color-blue);
    width: 18px;
    height: 18px;
}

.expandButton:focus {
    outline: none;
}

.nameStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: var(--item-height);
    background-color: var(--color-mediumgray);
    margin-top: var(--space-default);
    padding: 0;
    font-size: 24px;
}

.nameStatus h3 {
    margin: 0;
    font-size: 40px !important;
}

.nameStatus p:first-child {
    margin-right: var(--space-quarter);
}

.statusBadge {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 4px;
}

.statusBadge.large {
    width: 12px;
    height: 12px;
    margin-right: var(--space-quarter);
}

.statusBadge.online {
    background-color: var(--color-success);
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: calc(var(--space-half) * 1.5);
}

.item {
    width: calc((100% - (var(--space-default) * 2)) / 3);
    background-color: var(--color-white);
}

.dashboardItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--item-height) * 2.5);
}

.dashboardItem p:first-child {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.dashboardItem p:last-child {
    margin-top: var(--space-quarter);
    margin-bottom: 0;
    color: var(--color-gray);
}

.expandedItemsContainer {
    margin-top: var(--space-default);
    transform: translateY(20%);
    transition: transform ease-out 0.3s;
}

.expanded .expandedItemsContainer {
    transform: translateY(0%);
}

.expandedItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--item-height-large);
    padding: 0 var(--space-half);
}

.expandedItem span {
    white-space: nowrap;
}

.expandedItem p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expandedItem > *:first-child {
    overflow: hidden;
    margin-right: var(--space-quarter);
}

.expandedItem:not(.equal) >*:last-child {
    text-align: right;
}

.expandedItem.equal > * {
    width: calc((100% - var(--space-quarter)) / 2);
}

.lastSubheader {
    margin: calc(var(--space-half) * 1.5) 0 !important;
}

.prosOptionsList {
  /*
  The svg draws two lines which form a plus (+).
  For "stroke" we need to escape the '#' with '%23' in the url
  and use 777777 as our --color-gray. We cannot use the variable directly
  because then we can't escape the '#'
  */
    list-style: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -6 24 24" width="16" height="16" fill="none" stroke="%23777777"><polyline points="0,8 16,8" stroke-width="3"/><polyline points="8,0 8,16" stroke-width="3"/></svg>') !important;
    padding: var(--space-quarter) 0 !important;
}

.prosOptionsList li {
    margin-left: 20px;
}

/*
The svg draws two lines which form a plus (-).
*/
.consOptionsList {
    list-style-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -6 24 24" width="16" height="16" fill="none" stroke="%23777777"><polyline points="0,8 16,8" stroke-width="3"/></svg>') !important;
    padding: var(--space-quarter) 0 !important;
}

.consOptionsList li {
    margin-left: 20px;
}

.recommendation {
    color: var(--color-secondary);
    font-size: var(--size-small) !important;
}

.updateStatus {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: calc(var(--space-large) * 2);
}

.updateStatus progress {
    width: calc(var(--content-width)/3);
    text-align: center;
    font-size: 0.8em;
    height: 17px;
}

.updateStatus progress:after {
    content: attr(value)'%';
}

.spinnerSize {
    height: 60px !important;
}

.spinnerSize div {
    width: 6px !important;
    height: 6px !important;
}

.spinnerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.summary {
    display: inline-block;
    margin: 0;
    font-size: var(--size-subheader);
    font-weight: 400;
    line-height: 1;
    user-select: none;
    margin: calc(var(--space-half) * 1.5) 0
}
