.manageContainer {
    flex-basis: 490px;
    flex-shrink: 1;
    margin-bottom: var(--header-height);
    min-height: 390px;
    max-height: 100%;
}

.title {
    font-size: var(--size-large);
    font-weight: 400;
}

.successCheck {
    background-color: var(--color-success);
    border: 8px solid var(--color-success);
    border-radius: 100px;
}

.successMessage {
    color: var(--color-secondary);
}

.successMessage strong {
    color: var(--color-default);
}
