.manageContainer {
    flex-basis: 490px;
    flex-shrink: 1;
    margin-bottom: var(--header-height);
    min-height: 390px;
    max-height: 100%;
}

.title {
    font-size: var(--size-large);
    font-weight: 400;
}

.successCheck {
    background-color: var(--color-success);
    border: .5rem solid var(--color-success);
    border-radius: 100px;
}

.successMessage {
    color: var(--color-secondary);
}

.successMessage strong {
    color: var(--color-default);
}

@media screen and (max-width: 640px) {
    .button {
        margin-left: var(--space-quarter);
    }
}


.buttonsContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
  }
  
  @media (max-width: 560px) {
    .buttonsContainer {
      flex-direction: column; 
    }

    .buttonsContainer button {
        width: 100%; 
        max-width: none; 
        margin-top: 16px;
    }

    .buttonsContainer button:first-child {
        margin-top: 0;
      }
  }
  