.address {
  color: var(--color-secondary);
  font-weight: 500;
}

.bitBoxContainer {
  margin-bottom: var(--space-half);
}

.confirmationItemWrapper {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.toWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-quarter);
}

.confirmItem {
  margin-bottom: calc(var(--space-half) + var(--space-quarter));
}

.confirmItem label {
  color: var(--color-secondary);
  margin: 0 !important;
}

.confirmItem p {
  margin: 0;
  word-break: break-all;
}

.confirmItem ul {
  list-style-type: square;
  margin: 0;
  margin-top: var(--space-quarter);
  padding-left: var(--space-half);
}

.address {
  color: var(--color-secondary);
}

.addressGroup {
  margin-top: var(--space-quarter);
}

.unit {
  color: var(--color-secondary);
  font-size: var(--size-default);
}

.title {
  text-align: center;
}

.totalWrapper {
  align-items: baseline;
  display: flex;
}

.totalWrapper .totalFiatValue {
  margin-left: auto;
}

.totalWrapper label {
  margin-right: var(--space-quarter) !important;
}

.valueOriginal {
  font-weight: 500;
}

.valueOriginal span {
  font-size: 16px;
}

.valueOriginalLarge {
  font-size: var(--header-default-font-size);
  font-weight: 500;
}