.address {
  color: var(--color-secondary);
  font-family: var(--font-family-monospace);
  overflow-wrap: anywhere;
}

.addressGroup {
  margin-top: var(--space-quarter);
}

.label {
  color: var(--color-secondary);
}

.selectedUTXOs ul {
  list-style-type: square;
  margin: 0;
  margin-top: var(--space-quarter);
  padding-left: var(--space-half);
}

.value {
  overflow-wrap: anywhere;
}
