.fullscreen {
    background: var(--color-lightgray);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow-x: inherit;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    /* z-index between sidebar (~4000) and wait-dialog (~10000) */
    z-index: 5100;
}

.inner {
    margin: auto;
    max-width: 100%;
    padding-bottom: var(--space-half);
    padding-top: var(--space-half);
    text-align: center;
    width: 480px;
}
@media (max-width: 768px) {
    .inner {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    .inner {
        width: 580px;
    }
}

.header {
    color: var(--color-gray);
    font-size: var(--size-default);
    margin-bottom: var(--space-default);
}
@media (max-width: 768px) {
    .header {
        padding-top: var(--space-default);
    }
}
@media (max-width: 768px) and (orientation: portrait) {
    .header {
        padding-top: var(--space-large);
    }
}
@media (max-width: 768px) {
    .smallHeader {
        margin-bottom: var(--space-half);
        padding-top: var(--space-half);
    }
}

.title {
    color: var(--color-default);
    font-size: var(--size-subheader);
    font-weight: 400;
    margin-bottom: var(--space-quarter);
}

.header p {
    margin-top: var(--space-quarter);
}

.content {
    min-height: 80px;
}
@media (max-width: 768px) {
    .content {
        flex-grow: 1;
        flex-basis: auto;
        flex-shrink: 0;
        padding: 0 22px;
    }
    .content.fullWidth {
        padding: 0;
    }
}
@media (min-width: 1200px) {
    .content {
        min-height: 130px;
    }
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: var(--space-default);
    padding-bottom: var(--space-half);
}
@media (max-width: 768px) and (orientation: portrait) {
    .buttons {
        align-items: stretch;
        flex-direction: column;
        flex-grow: 0;
        justify-content: flex-end;
        margin-top: var(--space-half);
        padding: 0 var(--space-half);
    }
    .buttons > *:not(:last-child) {
        margin-bottom: var(--space-half);
    }
}

.buttons > *:only-child {
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .title {
        --size-subheader: 28px;
    }
    .header,
    .fullscreen p {
        --size-default: 20px;
    }
    .content input,
    .content label,
    .content select,
    .content textarea,
    .buttons button {
        --size-default: 18px;
    }
    .fullscreen footer p {
        --size-default: 14px;
    }
}
