# See reference docs at
# https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: ci
on: [push, pull_request]
env:
  # Use alternative image when running on GitHub workflows CI to avoid potential
  # rate limiting when executing jobs in parallel: they can't cache docker images
  # and always pull.
  #
  # To update this image, generate a personal token with write:packages scope
  # on https://github.com/settings/tokens and authenticate yourself locally with
  # "docker login ghcr.io -u <github-username>" using the
  # newly generated token as password.
  # Once logged in, tag an new image:
  #   docker tag shiftcrypto/bitbox-wallet-app:VERSION \
  #     ghcr.io/digitalbitbox/bitbox-wallet-app-ci:VERSION
  # and push as usual:
  #   docker push ghcr.io/digitalbitbox/bitbox-wallet-app-ci:VERSION
  # Lastly, update the next line to use the newly pushed image version.
  # See docs for more details:
  # https://docs.github.com/en/packages/guides/pushing-and-pulling-docker-images
  #
  # Keep this in sync with default in scripts/github-ci.sh.
  CI_IMAGE: ghcr.io/digitalbitbox/bitbox-wallet-app-ci:17
  GITHUB_BUILD_DIR: ${{github.workspace}}

jobs:
  test-lint:
    runs-on: ubuntu-18.04
    steps:
      - name: Clone the repo
        with:
          submodules: recursive
        uses: actions/checkout@v2
      - name: Run CI script
        # The script also runs golang-ci but it's ok: doesn't take too long and may be useful
        # to keep its linter errors in this log, too.
        run: ./scripts/github-ci.sh ci
        env:
          OS_NAME: linux
  android:
    runs-on: ubuntu-18.04
    steps:
      - name: Clone the repo
        uses: actions/checkout@v2
      - name: Enable caching
        uses: actions/cache@v2
        with:
          key: ${{runner.os}}-android
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
      - name: Build Android
        run: ./scripts/github-ci.sh android
        env:
          OS_NAME: linux
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          path: frontends/android/BitBoxApp/app/build/outputs/apk/debug/app-debug.apk
          name: BitBoxApp-android-${{github.sha}}.apk
  qt-linux:
    runs-on: ubuntu-18.04
    steps:
      - name: Clone the repo
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build Qt-Linux
        run: ./scripts/github-ci.sh qt-linux
        env:
          OS_NAME: linux
      - name: Upload AppImage
        uses: actions/upload-artifact@v2
        with:
          path: frontends/qt/build/linux/BitBoxApp-*.AppImage
          name: BitBoxApp-linux-${{github.sha}}.AppImage
      - name: Upload deb
        uses: actions/upload-artifact@v2
        with:
          path: frontends/qt/build/linux/bitbox_*.deb
          name: BitBoxApp-linux-${{github.sha}}.deb
      - name: Upload rpm
        uses: actions/upload-artifact@v2
        with:
          path: frontends/qt/build/linux/bitbox-*.rpm
          name: BitBoxApp-linux-${{github.sha}}.rpm
  macos:
    runs-on: macos-11
    steps:
      - name: Clone the repo
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Enable caching
        uses: actions/cache@v2
        with:
          # The key version is just an incremental number.
          # Bump it every time there are changes in CI scripts.
          key: ${{runner.os}}-qt-osx-v2
          path: |
            ~/Library/Caches/Homebrew
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.20.x
      - name: Build macOS app
        run: >
          ./scripts/github-ci.sh qt-osx;
        env:
          OS_NAME: osx
      - name: Archive app
        run: >
          pushd ~/go/src/github.com/digitalbitbox/bitbox-wallet-app/frontends/qt/build/osx;
          ditto -c -k --keepParent BitBox.app ${{github.workspace}}/BitBoxApp-macos.zip;
          popd;
      - name: Upload app
        uses: actions/upload-artifact@v2
        with:
          path: BitBoxApp-macos.zip
          name: BitBoxApp-macos-${{github.sha}}.zip
