# See reference docs at
# https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: ci
on: [push, pull_request]
env:
  # Use alternative image when running on GitHub workflows CI to avoid potential
  # rate limiting when executing jobs in parallel: they can't cache docker images
  # and always pull.
  #
  # To update this image, generate a personal token with write:packages scope
  # on https://github.com/settings/tokens and authenticate yourself locally with
  # "docker login ghcr.io -u <github-username>" using the
  # newly generated token as password.
  # Once logged in, tag an new image:
  #   docker tag shiftcrypto/bitbox-wallet-app:VERSION \
  #     ghcr.io/digitalbitbox/bitbox-wallet-app-ci:VERSION
  # and push as usual:
  #   docker push ghcr.io/digitalbitbox/bitbox-wallet-app-ci:VERSION
  # Lastly, update the next line to use the newly pushed image version.
  # See docs for more details:
  # https://docs.github.com/en/packages/guides/pushing-and-pulling-docker-images
  #
  # Keep this in sync with default in scripts/github-ci.sh.
  CI_IMAGE: ghcr.io/digitalbitbox/bitbox-wallet-app-ci:22
  GITHUB_BUILD_DIR: ${{github.workspace}}

jobs:
  test-lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone the repo
        with:
          submodules: recursive
        uses: actions/checkout@v2
      - name: Run CI script
        # The script also runs golang-ci but it's ok: doesn't take too long and may be useful
        # to keep its linter errors in this log, too.
        run: ./scripts/github-ci.sh ci
        env:
          OS_NAME: linux
  android:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone the repo
        uses: actions/checkout@v2
      - name: Enable caching
        uses: actions/cache@v2
        with:
          key: ${{runner.os}}-android
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
      - name: Build Android
        run: ./scripts/github-ci.sh android
        env:
          OS_NAME: linux
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          path: frontends/android/BitBoxApp/app/build/outputs/apk/debug/app-debug.apk
          name: BitBoxApp-android-${{github.sha}}.apk
