name: trivy check
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  trivy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Trivy
        uses: aquasecurity/trivy-action@0.27.0
        with:
          format: 'table'
          ignore-unfixed: true
          scan-type: 'fs'
          exit-code: '1'
          severity: 'MEDIUM,HIGH,CRITICAL'

