.labels {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-default) 0;
}

.label {
    color: var(--color-secondary);
    flex-grow: 1;
    font-size: var(--size-default);
    font-weight: 400;
    margin: 0;
    padding: 0 var(--space-quarter);
}

.qrCodeContainer {
    margin-bottom: var(--space-default);
    min-height: 260px;
}

.arrowLeft,
.arrowRight {
    width: 16px;
    position: relative;
    top: 3px;
}

.arrowLeft {
    margin-right: 3px;
}

.arrowRight {
    margin-left: 3px;
}

.previous,
.next {
    appearance: none;
    background: none;
    border: 0;
    color: var(--color-blue);
    font-size: var(--size-button);
    line-height: 1;
    padding: 0;
    text-decoration: none;
}

.hide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
}

.changeType {
    appearance: none;
    background: none;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    padding: var(--space-quarter);
}

.messageContainer {
    margin-top: var(--spacing-default);
}