.receiveContent {
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

.addressField {
    text-align: center;
    display: block;
}

.addressField input {
    text-align: center;
    display: inline;
    width: 400px;
}
