.receiveContent {
    margin: 0 auto;
    text-align: center;
    max-width: 420px;
    width: 100%;
}

.labels {
    margin: var(--spacing-default) 0;
}

.label {
    color: var(--color-secondary);
    font-size: var(--size-default);
    font-weight: 400;
    padding: 0 var(--space-quarter);
    margin: 0;
}

.qrCodeContainer {
    margin-bottom: var(--space-default);
}

.verifyContent {
    width: 100%;
}

.verifyContent p {
    color: var(--color-brightblue);
    font-size: var(--size-default);
}

pre.verifyAddress {
    margin-top: var(--spacing-default);
    text-align: center;
    background-color: var(--color-lightgray);
    border-radius: 2px;
    padding: var(--spacing-default) 0;
}

.bottomButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--spacing-large) var(--spacing-default) var(--spacing-large);
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
}

.button {
    min-width: 70px;
    margin: 0 var(--spacing-half);
}

.arrowLeft,
.arrowRight {
    width: 16px;
    position: relative;
    top: 3px;
}

.arrowLeft {
    margin-right: 3px;
}

.arrowRight {
    margin-left: 3px;
}

.previous,
.next {
    text-decoration: none;
    font-size: var(--size-button);
    line-height: 1;
    color: var(--color-brightblue);
}

.next img {
    height: 16px;
    margin-left: 4px;
}

.previous img {
    height: 16px;
    margin-right: 4px;
}

.disabled {
    color: var(--color-brightgray);
}

.arrow {
    
}

@media (max-width: 640px) {
    .addressField {
        min-width: 0 !important;
    }

    .addressField input {
        font-size: var(--size-small);
    }

    .bottomButtons {
        padding: 0 var(--spacing-half) var(--spacing-half) var(--spacing-half);
    }
}
